# League of Legends Professional Games from 2015 to 2017
# Final Data Configuration and Descriptions
# Michael Phillips

This notebook will give some background on League of Legends (LoL), describe why certain choices were made during data wrangling, and show the final table configurations that will be used for the remainder of this project.

In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', None)
%matplotlib inline

In [24]:
tk_df = pd.read_csv('team_kills_assists_sum.csv', index_col=0)
pk_df = pd.read_csv('player_kills_sums.csv', index_col=0)
pa_df = pd.read_csv('player_assists_sums.csv', index_col=0)
obj_df = pd.read_csv('object_sums.csv', index_col=0)
gen_df = pd.read_csv('merged_df.csv', index_col=0)
gm_df = pd.read_csv('gold_diff_merged.csv', index_col=0)
gt_df = pd.read_csv('gold_df_merged.csv', index_col=0)

## General Game Information

In [5]:
gen_df.head()

,match_id,league,season,year,team_name,red_or_blue_side,result,game_length,top_player,top_champ,jungle_player,jungle_champ,mid_player,mid_champ,adc_player,adc_champ,support_player,support_champ,ban_1,ban_2,ban_3,ban_4,ban_5
0,001a1f289e3bab22,LCK,Summer_Season,2015,ANC,blue,0,38,ikssu,Hecarim,lira,Gragas,Mickey,Vladimir,Sangyoon,Sivir,SnowFlower,Morgana,'Azir','Shyvana','Jayce',NaN,NaN
1,001a1f289e3bab22,LCK,Summer_Season,2015,CJE,red,1,38,Shy,Rumble,Ambition,Sejuani,Coco,Cassiopeia,Space,Jinx,Thresh,MadLife,'Zed','Gnar','Kalista',NaN,NaN
2,001f50c8547e2e73,Season_World_Championship,International,2014,EDG,blue,1,37,Koro1,Maokai,Clearlove,Rengar,U,Zed,NaMei,Twitch,Fzzf,Thresh,'Fizz','LeeSin','TwistedFate',NaN,NaN
3,001f50c8547e2e73,Season_World_Championship,International,2014,AHQ,red,0,37,Prydz,Nidalee,NAZ,Khazix,westdoor,Talon,GarnetDevil,Lucian,Blitzcrank,GreenTea,'Ryze','Zilean','Alistar',NaN,NaN
4,002f613ae09ad421,LMS,Spring_Season,2016,TPA,blue,1,30,Morning,Trundle,REFRA1N,RekSai,FoFo,Lissandra,BeBe,Lucian,Jay,Alistar,'Corki','Gangplank','TahmKench',NaN,NaN

This dataframe contains two rows per game - one for the team on the blue side and one for the team on the red side. Also listed here are team names, player names, champions, and bans.

In [23]:
from IPython.display import Image 
Image(url= "bluered.png")

The map above shows the full game area.  The 'river' in the middle is considered neutral ground and divides the map between 'red' side and 'blue' side.

Both teams send their players down one of three lanes. Two players in the bot lane, one player mid, one player top, and one that roams the jungle. 

There is only one way to win a match and that is to destroy the enemy team's Nexus found deep within their base.

If you would like to learn more, check out this 5 minute LoL tutorial:
https://www.youtube.com/watch?v=0KNYgMcOujM

### Gold Values for Teams and Players

In [25]:
gt_df.head()

,match_id,league,season,year,team_name,red_or_blue_side,result,game_length,type,player_name,champion,min_0,min_1,min_2,min_3,min_4,min_5,min_6,min_7,min_8,min_9,min_10,min_11,min_12,min_13,min_14,min_15,min_16,min_17,min_18,min_19,min_20,min_21,min_22,min_23,min_24,min_25,min_26,min_27,min_28,min_29,min_30,min_31,min_32,min_33,min_34,min_35,min_36,min_37,min_38,min_39,min_40,min_41,min_42,min_43,min_44,min_45,min_46,min_47,min_48,min_49,min_50,min_51,min_52,min_53,min_54,min_55,min_56,min_57,min_58,min_59,min_60,min_61,min_62,min_63,min_64,min_65,min_66,min_67,min_68,min_69,min_70,min_71,min_72,min_73,min_74,min_75,min_76,min_77,min_78,min_79,min_80
0,001a1f289e3bab22,LCK,Summer_Season,2015,ANC,blue,0,38,total_gold,NaN,NaN,2415,2430,2751,3929,5219,6418,8156,9520,10681,12036,13678,15590,16782,18417,20052,21608,23396,24248,25691,27452.0,30446.0,31672.0,33665.0,36399.0,37571.0,38659.0,39757.0,41498.0,42861.0,44378.0,45719.0,47095.0,48551.0,49524.0,51200.0,52518.0,53247.0,53893.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,001a1f289e3bab22,LCK,Summer_Season,2015,CJE,red,1,38,total_gold,NaN,NaN,2415,2415,2705,4062,5279,7322,8661,10372,11444,13260,14676,15723,18119,19663,21237,22809,24997,28072,30162,31469.0,32490.0,34362.0,36662.0,37981.0,39398.0,40331.0,41652.0,44239.0,45948.0,47134.0,49334.0,51052.0,52586.0,53374.0,55245.0,56618.0,62198.0,62846.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,001f50c8547e2e73,Season_World_Championship,International,2014,EDG,blue,1,37,total_gold,NaN,NaN,2415,2415,2705,3817,4956,6132,7499,8605,9942,11434,13028,15942,17653,19941,21320,23236,24835,26384,29350,32365.0,33752.0,35258.0,39070.0,40973.0,42591.0,45637.0,46672.0,48001.0,49458.0,51181.0,52245.0,54233.0,58476.0,61061.0,62324.0,65435.0,69584.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,001f50c8547e2e73,Season_World_Championship,International,2014,AHQ,red,0,37,total_gold,NaN,NaN,2415,2415,2705,3728,5048,6306,7308,8536,9689,11072,12952,13978,15289,16639,18575,19558,22343,23318,24585,25342.0,26616.0,27778.0,29198.0,30997.0,32647.0,34549.0,35535.0,36591.0,38024.0,39272.0,40585.0,41883.0,42547.0,43836.0,45798.0,46951.0,47804.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,002f613ae09ad421,LMS,Spring_Season,2016,TPA,blue,1,30,total_gold,NaN,NaN,2500,2500,2785,4216,6193,7618,9674,11203,13004,14497,15653,17089,19084,20938,22437,24228,27072,28475,31466,34244.0,37178.0,39046.0,41074.0,42978.0,44964.0,48148.0,49707.0,51624.0,54594.0,56268.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
gm_df.head()

,match_id,league,season,year,team_name,red_or_blue_side,result,game_length,type,player_name,champion,min_0,min_1,min_2,min_3,min_4,min_5,min_6,min_7,min_8,min_9,min_10,min_11,min_12,min_13,min_14,min_15,min_16,min_17,min_18,min_19,min_20,min_21,min_22,min_23,min_24,min_25,min_26,min_27,min_28,min_29,min_30,min_31,min_32,min_33,min_34,min_35,min_36,min_37,min_38,min_39,min_40,min_41,min_42,min_43,min_44,min_45,min_46,min_47,min_48,min_49,min_50,min_51,min_52,min_53,min_54,min_55,min_56,min_57,min_58,min_59,min_60,min_61,min_62,min_63,min_64,min_65,min_66,min_67,min_68,min_69,min_70,min_71,min_72,min_73,min_74,min_75,min_76,min_77,min_78,min_79,min_80
0,001a1f289e3bab22,LCK,Summer_Season,2015,ANC,blue,0,38,total_gold,NaN,NaN,0.0,15.0,46.0,-133.0,-60.0,-904.0,-505.0,-852.0,-763.0,-1224.0,-998.0,-133.0,-1337.0,-1246.0,-1185.0,-1201.0,-1601.0,-3824.0,-4471.0,-4017.0,-2044.0,-2690.0,-2997.0,-1582.0,-1827.0,-1672.0,-1895.0,-2741.0,-3087.0,-2756.0,-3615.0,-3957.0,-4035.0,-3850.0,-4045.0,-4100.0,-8951.0,-8953.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,001a1f289e3bab22,LCK,Summer_Season,2015,CJE,red,1,38,total_gold,NaN,NaN,0.0,-15.0,-46.0,133.0,60.0,904.0,505.0,852.0,763.0,1224.0,998.0,133.0,1337.0,1246.0,1185.0,1201.0,1601.0,3824.0,4471.0,4017.0,2044.0,2690.0,2997.0,1582.0,1827.0,1672.0,1895.0,2741.0,3087.0,2756.0,3615.0,3957.0,4035.0,3850.0,4045.0,4100.0,8951.0,8953.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,001f50c8547e2e73,Season_World_Championship,International,2014,EDG,blue,1,37,total_gold,NaN,NaN,0.0,0.0,0.0,89.0,-92.0,-174.0,191.0,69.0,253.0,362.0,76.0,1964.0,2364.0,3302.0,2745.0,3678.0,2492.0,3066.0,4765.0,7023.0,7136.0,7480.0,9872.0,9976.0,9944.0,11088.0,11137.0,11410.0,11434.0,11909.0,11660.0,12350.0,15929.0,17225.0,16526.0,18484.0,21780.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,001f50c8547e2e73,Season_World_Championship,International,2014,AHQ,red,0,37,total_gold,NaN,NaN,0.0,0.0,0.0,-89.0,92.0,174.0,-191.0,-69.0,-253.0,-362.0,-76.0,-1964.0,-2364.0,-3302.0,-2745.0,-3678.0,-2492.0,-3066.0,-4765.0,-7023.0,-7136.0,-7480.0,-9872.0,-9976.0,-9944.0,-11088.0,-11137.0,-11410.0,-11434.0,-11909.0,-11660.0,-12350.0,-15929.0,-17225.0,-16526.0,-18484.0,-21780.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,002f613ae09ad421,LMS,Spring_Season,2016,TPA,blue,1,30,total_gold,NaN,NaN,0.0,0.0,17.0,-106.0,-136.0,400.0,363.0,829.0,1532.0,1862.0,1473.0,1514.0,2290.0,2793.0,2975.0,3497.0,5391.0,5188.0,6938.0,8541.0,9835.0,10428.0,11160.0,11492.0,12184.0,14247.0,14372.0,14594.0,16182.0,16344.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
gt_df.shape

(45624, 92)

In [28]:
gm_df.shape

(45624, 92)

In [28]:
gold_df.type.value_counts()

top_gold        7604
mid_gold        7604
jungle_gold     7604
total_gold      7604
adc_gold        7604
support_gold    7604
Name: type, dtype: int64

These dataframes contain one of the most important metrics of a LoL game - gold values. Gold is generated passively by each player and is granted for killing the other team's players as well as killing neutral AI-controlled enemies. 

Gold is used to buy items that increase your champion's power level. A team or player with more gold will be able to buy better items. 

The value counts output above shows the different gold measurements in this dataframe. There is a segment of the dataframe dedicated to the different players in a game as well as the team totals. 

There are two gold datarames. One holds gold differences and the other holds gold totals. The difference in gold between teams or players gives some idea of power levels at various points in a game. The total gold values over the course of a game shows where power swings took place.

## Kill Records for Each Game

In [29]:
tk_df.head()

           Match_ID TeamColor killing_team  kills_sum  assist_sum
0  001a1f289e3bab22      Blue          ANC         10          30
1  001a1f289e3bab22       Red          CJE         23          68
2  001f50c8547e2e73      Blue          EDG         28          70
3  001f50c8547e2e73       Red          AHQ         10          26
4  002f613ae09ad421      Blue          TPA         13          36

In [22]:
pk_df.head()

           Match_ID killing_team      player  kills_sum
0  001a1f289e3bab22          ANC      Mickey          2
1  001a1f289e3bab22          ANC    Sangyoon          5
2  001a1f289e3bab22          ANC  SnowFlower          1
3  001a1f289e3bab22          ANC       ikssu          1
4  001a1f289e3bab22          ANC        lira          1

In [23]:
pa_df.head()

           Match_ID killing_team      player  assist_sum
0  001a1f289e3bab22          ANC  SnowFlower           4
1  001a1f289e3bab22          CJE     MadLife          14
2  003aefd58000cbd6           LZ        Pure           7
3  0076dde983f72733          TSM  Yellowstar          12
4  00986b51908a63c3          JAG       Pilot           8

These dataframes contain kill/assists records for every game, as well as every player in each game. Killing an enemy player awards gold to each player involved in the battle. The 'killer' gets a bigger share, while people listed as receiving 'assists' get a smaller portion.

Total kills per team shows which team had the advantage in that game. Individual kills and assist totals show which players have historically performed at a high level.

## Objective Records for Each Game

In [30]:
obj_df.head()

           match_id object_type red_or_blue_side team_name  sum
0  001a1f289e3bab22      barons             blue       ANC    0
1  001a1f289e3bab22     dragons             blue       ANC    1
2  001a1f289e3bab22     heralds             blue       ANC    0
3  001a1f289e3bab22      inhibs             blue       ANC    0
4  001a1f289e3bab22      towers             blue       ANC    3

In [32]:
obj_df.object_type.value_counts()

towers     7604
inhibs     7604
dragons    7604
heralds    7604
barons     7604
Name: object_type, dtype: int64

The last metric is objectives. These award gold to the team and can give other powerful rewards to the entire team. 

I'll briefly describe each objective. Note that the dataframe includes a row for each objective for each team in each game, even if the total is zero.

- Towers: Buildings that guard the path to the enemies base. Destroying one rewards gold to the entire team.
- Heralds: A neutral monster that currently provides a way to siege down turrets.
- Dragons: A neutral monster that provides the killing team with stacking buffs.
- Baron: A neutral monster that is difficult to kill but provides a very powerful buff to the entire team.
- Inhibitor: One of the last lines of defense in each base.