# Capstone Project 2 - League of Legends Dataset Wrangling
# Michael Phillips

First, let's take a look at what the various csv files contain.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('Columns.csv')
print(df.shape)
df.head()

(56, 2)

     ColumnName                                  ColumnDescription
0  MatchHistory        website address the data is scraped from \n
1        League    League or Tournament the match took place in \n
2        Season   Season - Spring, Summer, Winter, or Tournamen...
3          Year                    Year the match took place in \n
4   blueTeamTag   Blue Team's tag name (ex. Team SoloMid is TSM...

In [3]:
df1 = pd.read_csv('banValues.csv')
print(df1.shape)
df1.head()

(7606, 7)

,MatchHistory,TeamColor,ban_1,ban_2,ban_3,ban_4,ban_5
0,http://matchhistory.na.leagueoflegends.com/en/...,Blue,Rumble,Kassadin,Lissandra,NaN,NaN
1,http://matchhistory.na.leagueoflegends.com/en/...,Blue,Kassadin,Sivir,Lissandra,NaN,NaN
2,http://matchhistory.na.leagueoflegends.com/en/...,Blue,JarvanIV,Lissandra,Kassadin,NaN,NaN
3,http://matchhistory.na.leagueoflegends.com/en/...,Blue,Annie,Lissandra,Kassadin,NaN,NaN
4,http://matchhistory.na.leagueoflegends.com/en/...,Blue,Irelia,Pantheon,Kassadin,NaN,NaN

In [22]:
df2 = pd.read_csv('deathValues.csv')
print(df2.shape)
df2.head()

(94408, 9)

,MatchHistory,TeamColor,Time,Victim,Killer,Assist_1,Assist_2,Assist_3,Assist_4
0,http://matchhistory.na.leagueoflegends.com/en/...,Blue,10.82,C9 Hai,TSM Bjergsen,NaN,NaN,NaN,NaN
1,http://matchhistory.na.leagueoflegends.com/en/...,Blue,16.286,C9 LemonNation,TSM WildTurtle,TSM Santorin,TSM Bjergsen,TSM Lustboy,NaN
2,http://matchhistory.na.leagueoflegends.com/en/...,Blue,18.733,C9 Hai,TSM Bjergsen,TSM Santorin,TSM WildTurtle,TSM Lustboy,NaN
3,http://matchhistory.na.leagueoflegends.com/en/...,Blue,18.88,C9 Meteos,TSM Dyrus,TSM Santorin,TSM Bjergsen,TSM WildTurtle,TSM Lustboy
4,http://matchhistory.na.leagueoflegends.com/en/...,Blue,27.005,C9 Balls,TSM Bjergsen,TSM Dyrus,TSM Santorin,TSM WildTurtle,TSM Lustboy

In [5]:
df3 = pd.read_csv('goldValues.csv')
print(df3.shape)
df3.head()

(49439, 83)

,MatchHistory,NameType,min_1,min_2,min_3,min_4,min_5,min_6,min_7,min_8,...,min_72,min_73,min_74,min_75,min_76,min_77,min_78,min_79,min_80,min_81
0,http://matchhistory.na.leagueoflegends.com/en/...,golddiff,0,0.0,-14.0,-65.0,-268.0,-431.0,-488.0,-789.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,http://matchhistory.na.leagueoflegends.com/en/...,golddiff,0,0.0,-26.0,-18.0,147.0,237.0,-152.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,http://matchhistory.na.leagueoflegends.com/en/...,golddiff,0,0.0,10.0,-60.0,34.0,37.0,589.0,1064.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,http://matchhistory.na.leagueoflegends.com/en/...,golddiff,0,0.0,-15.0,25.0,228.0,-6.0,-243.0,175.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,http://matchhistory.na.leagueoflegends.com/en/...,golddiff,40,40.0,44.0,-36.0,113.0,158.0,-121.0,-191.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df4 = pd.read_csv('LeagueofLegends.csv')
print(df4.shape)
df4.head()

(3802, 56)

,MatchHistory,League,Season,Year,blueTeamTag,bResult,rResult,redTeamTag,gamelength,golddiff,...,redMiddle,redMiddleChamp,goldredMiddle,redADC,redADCChamp,goldredADC,redSupportChamp,redSupport,goldredSupport,redBans
0,http://matchhistory.na.leagueoflegends.com/en/...,North_America,Spring_Season,2015,TSM,1,0,C9,40,"[0, 0, -14, -65, -268, -431, -488, -789, -494,...",...,Hai,Fizz,"[475, 475, 552, 842, 1178, 1378, 1635, 1949, 2...",Sneaky,Sivir,"[475, 475, 532, 762, 1097, 1469, 1726, 2112, 2...",Thresh,LemonNation,"[515, 515, 577, 722, 911, 1042, 1194, 1370, 14...","['Tristana', 'Leblanc', 'Nidalee']"
1,http://matchhistory.na.leagueoflegends.com/en/...,North_America,Spring_Season,2015,CST,0,1,DIG,38,"[0, 0, -26, -18, 147, 237, -152, 18, 88, -242,...",...,Shiphtur,Azir,"[475, 475, 552, 786, 1097, 1389, 1660, 1955, 2...",CoreJJ,Corki,"[475, 475, 532, 868, 1220, 1445, 1732, 1979, 2...",Annie,KiWiKiD,"[515, 515, 583, 752, 900, 1066, 1236, 1417, 15...","['RekSai', 'Janna', 'Leblanc']"
2,http://matchhistory.na.leagueoflegends.com/en/...,North_America,Spring_Season,2015,WFX,1,0,GV,40,"[0, 0, 10, -60, 34, 37, 589, 1064, 1258, 913, ...",...,Keane,Azir,"[475, 475, 533, 801, 1006, 1233, 1385, 1720, 1...",Cop,Corki,"[475, 475, 533, 781, 1085, 1398, 1782, 1957, 2...",Janna,BunnyFuFuu,"[515, 515, 584, 721, 858, 1002, 1168, 1303, 14...","['Leblanc', 'Zed', 'RekSai']"
3,http://matchhistory.na.leagueoflegends.com/en/...,North_America,Spring_Season,2015,TIP,0,1,TL,41,"[0, 0, -15, 25, 228, -6, -243, 175, -346, 16, ...",...,Fenix,Lulu,"[475, 475, 532, 771, 1046, 1288, 1534, 1776, 2...",KEITH,KogMaw,"[475, 475, 532, 766, 1161, 1438, 1776, 1936, 2...",Janna,Xpecial,"[515, 515, 583, 721, 870, 1059, 1205, 1342, 15...","['RekSai', 'Rumble', 'LeeSin']"
4,http://matchhistory.na.leagueoflegends.com/en/...,North_America,Spring_Season,2015,CLG,1,0,T8,35,"[40, 40, 44, -36, 113, 158, -121, -191, 23, 20...",...,Slooshi8,Lulu,"[475, 475, 532, 807, 1042, 1338, 1646, 1951, 2...",Maplestreet8,Corki,"[475, 475, 532, 792, 1187, 1488, 1832, 2136, 2...",Annie,Dodo8,"[475, 475, 538, 671, 817, 948, 1104, 1240, 136...","['Rumble', 'Sivir', 'Rengar']"

In [7]:
df5 = pd.read_csv('LeagueofLegends2.csv')
print(df5.shape)
df5.head()

(3803, 29)

,MatchHistory,League,Season,Year,blueTeamTag,bResult,rResult,redTeamTag,gamelength,blueTop,...,redTop,redTopChamp,redJungle,redJungleChamp,redMiddle,redMiddleChamp,redADC,redADCChamp,redSupportChamp,redSupport
0,http://matchhistory.na.leagueoflegends.com/en/...,North_America,Spring_Season,2015,TSM,1,0,C9,40,Dyrus,...,Balls,Gnar,Meteos,Elise,Hai,Fizz,Sneaky,Sivir,Thresh,LemonNation
1,http://matchhistory.na.leagueoflegends.com/en/...,North_America,Spring_Season,2015,CST,0,1,DIG,38,Cris,...,Gamsu,Irelia,Crumbzz,JarvanIV,Shiphtur,Azir,CoreJJ,Corki,Annie,KiWiKiD
2,http://matchhistory.na.leagueoflegends.com/en/...,North_America,Spring_Season,2015,WFX,1,0,GV,40,Flaresz,...,Hauntzer,Sion,Saintvicious,LeeSin,Keane,Azir,Cop,Corki,Janna,BunnyFuFuu
3,http://matchhistory.na.leagueoflegends.com/en/...,North_America,Spring_Season,2015,TIP,0,1,TL,41,Rhux,...,Quas,Gnar,IWDominate,Nunu,Fenix,Lulu,KEITH,KogMaw,Janna,Xpecial
4,http://matchhistory.na.leagueoflegends.com/en/...,North_America,Spring_Season,2015,CLG,1,0,T8,35,Benny,...,CaliTrlolz8,Sion,Porpoise8,RekSai,Slooshi8,Lulu,Maplestreet8,Corki,Annie,Dodo8

In [8]:
df6 = pd.read_csv('objValues.csv')
print(df6.shape)
df6.head()

(38030, 18)

,MatchHistory,ObjType,num_1,num_2,num_3,num_4,num_5,num_6,num_7,num_8,num_9,num_10,num_11,num_12,num_13,num_14,num_15,num_16
0,http://matchhistory.na.leagueoflegends.com/en/...,bTowers,23.038,15.217,15.014,33.583,39.269,39.376,16.556,17.856,27.542,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,http://matchhistory.na.leagueoflegends.com/en/...,bTowers,33.018,34.766,23.239,20.058,15.306,25.564,28.989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,http://matchhistory.na.leagueoflegends.com/en/...,bTowers,18.294,36.946,32.833,25.481,29.505,38.445,39.420,25.120,30.158,39.566,37.109,17.34,35.463,15.045,33.135,NaN
3,http://matchhistory.na.leagueoflegends.com/en/...,bTowers,22.879,18.541,19.941,38.770,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,http://matchhistory.na.leagueoflegends.com/en/...,bTowers,33.925,26.963,22.594,34.515,34.213,14.976,33.717,18.487,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

I want to be able to merge the various files if I need to. Just for ease of use in the long run, I will replace the full match link (MatchHistory) field with just the hash value.

In [111]:
# replace the full match link with just the hash value
df5['A'], df5['Match_ID'] = df5['MatchHistory'].str.split('=', 1).str
df5.drop(['MatchHistory', 'A'], axis=1, inplace=True)

df5.head()

,League,Season,Year,blueTeamTag,bResult,rResult,redTeamTag,gamelength,blueTop,blueTopChamp,...,redTopChamp,redJungle,redJungleChamp,redMiddle,redMiddleChamp,redADC,redADCChamp,redSupportChamp,redSupport,Match_ID
0,North_America,Spring_Season,2015,TSM,1,0,C9,40,Dyrus,Irelia,...,Gnar,Meteos,Elise,Hai,Fizz,Sneaky,Sivir,Thresh,LemonNation,fbb300951ad8327c
1,North_America,Spring_Season,2015,CST,0,1,DIG,38,Cris,Gnar,...,Irelia,Crumbzz,JarvanIV,Shiphtur,Azir,CoreJJ,Corki,Annie,KiWiKiD,055b17da8456fdc8
2,North_America,Spring_Season,2015,WFX,1,0,GV,40,Flaresz,Renekton,...,Sion,Saintvicious,LeeSin,Keane,Azir,Cop,Corki,Janna,BunnyFuFuu,8e8a9b58df366e2d
3,North_America,Spring_Season,2015,TIP,0,1,TL,41,Rhux,Irelia,...,Gnar,IWDominate,Nunu,Fenix,Lulu,KEITH,KogMaw,Janna,Xpecial,0ed1cd0e0e57329c
4,North_America,Spring_Season,2015,CLG,1,0,T8,35,Benny,Gnar,...,Sion,Porpoise8,RekSai,Slooshi8,Lulu,Maplestreet8,Corki,Annie,Dodo8,f932becf86175f38

In [112]:
# reorder columns so match_id is first
cols = list(df5.columns.values)
cols = ['Match_ID','League',
 'Season',
 'Year',
 'blueTeamTag',
 'bResult',
 'rResult',
 'redTeamTag',
 'gamelength',
 'blueTop',
 'blueTopChamp',
 'blueJungle',
 'blueJungleChamp',
 'blueMiddle',
 'blueMiddleChamp',
 'blueADC',
 'blueADCChamp',
 'blueSupport',
 'blueSupportChamp',
 'redTop',
 'redTopChamp',
 'redJungle',
 'redJungleChamp',
 'redMiddle',
 'redMiddleChamp',
 'redADC',
 'redADCChamp',
 'redSupportChamp',
 'redSupport']

df5 = df5[cols]
df5.to_csv('LeagueofLegends21.csv')
df5.head()

,Match_ID,League,Season,Year,blueTeamTag,bResult,rResult,redTeamTag,gamelength,blueTop,...,redTop,redTopChamp,redJungle,redJungleChamp,redMiddle,redMiddleChamp,redADC,redADCChamp,redSupportChamp,redSupport
0,fbb300951ad8327c,North_America,Spring_Season,2015,TSM,1,0,C9,40,Dyrus,...,Balls,Gnar,Meteos,Elise,Hai,Fizz,Sneaky,Sivir,Thresh,LemonNation
1,055b17da8456fdc8,North_America,Spring_Season,2015,CST,0,1,DIG,38,Cris,...,Gamsu,Irelia,Crumbzz,JarvanIV,Shiphtur,Azir,CoreJJ,Corki,Annie,KiWiKiD
2,8e8a9b58df366e2d,North_America,Spring_Season,2015,WFX,1,0,GV,40,Flaresz,...,Hauntzer,Sion,Saintvicious,LeeSin,Keane,Azir,Cop,Corki,Janna,BunnyFuFuu
3,0ed1cd0e0e57329c,North_America,Spring_Season,2015,TIP,0,1,TL,41,Rhux,...,Quas,Gnar,IWDominate,Nunu,Fenix,Lulu,KEITH,KogMaw,Janna,Xpecial
4,f932becf86175f38,North_America,Spring_Season,2015,CLG,1,0,T8,35,Benny,...,CaliTrlolz8,Sion,Porpoise8,RekSai,Slooshi8,Lulu,Maplestreet8,Corki,Annie,Dodo8

In [12]:
df4['A'], df4['Match_ID'] = df4['MatchHistory'].str.split('=', 1).str
df4.drop(['MatchHistory', 'A'], axis=1, inplace=True)

cols = list(df4.columns.values)
cols = ['Match_ID', 'League',
 'Season',
 'Year',
 'blueTeamTag',
 'bResult',
 'rResult',
 'redTeamTag',
 'gamelength',
 'golddiff',
 'goldblue',
 'bKills',
 'bTowers',
 'bInhibs',
 'bDragons',
 'bBarons',
 'bHeralds',
 'goldred',
 'rKills',
 'rTowers',
 'rInhibs',
 'rDragons',
 'rBarons',
 'rHeralds',
 'blueTop',
 'blueTopChamp',
 'goldblueTop',
 'blueJungle',
 'blueJungleChamp',
 'goldblueJungle',
 'blueMiddle',
 'blueMiddleChamp',
 'goldblueMiddle',
 'blueADC',
 'blueADCChamp',
 'goldblueADC',
 'blueSupport',
 'blueSupportChamp',
 'goldblueSupport',
 'blueBans',
 'redTop',
 'redTopChamp',
 'goldredTop',
 'redJungle',
 'redJungleChamp',
 'goldredJungle',
 'redMiddle',
 'redMiddleChamp',
 'goldredMiddle',
 'redADC',
 'redADCChamp',
 'goldredADC',
 'redSupportChamp',
 'redSupport',
 'goldredSupport',
 'redBans']

In [13]:
df4 = df4[cols]
df4.head()

,Match_ID,League,Season,Year,blueTeamTag,bResult,rResult,redTeamTag,gamelength,golddiff,...,redMiddle,redMiddleChamp,goldredMiddle,redADC,redADCChamp,goldredADC,redSupportChamp,redSupport,goldredSupport,redBans
0,fbb300951ad8327c,North_America,Spring_Season,2015,TSM,1,0,C9,40,"[0, 0, -14, -65, -268, -431, -488, -789, -494,...",...,Hai,Fizz,"[475, 475, 552, 842, 1178, 1378, 1635, 1949, 2...",Sneaky,Sivir,"[475, 475, 532, 762, 1097, 1469, 1726, 2112, 2...",Thresh,LemonNation,"[515, 515, 577, 722, 911, 1042, 1194, 1370, 14...","['Tristana', 'Leblanc', 'Nidalee']"
1,055b17da8456fdc8,North_America,Spring_Season,2015,CST,0,1,DIG,38,"[0, 0, -26, -18, 147, 237, -152, 18, 88, -242,...",...,Shiphtur,Azir,"[475, 475, 552, 786, 1097, 1389, 1660, 1955, 2...",CoreJJ,Corki,"[475, 475, 532, 868, 1220, 1445, 1732, 1979, 2...",Annie,KiWiKiD,"[515, 515, 583, 752, 900, 1066, 1236, 1417, 15...","['RekSai', 'Janna', 'Leblanc']"
2,8e8a9b58df366e2d,North_America,Spring_Season,2015,WFX,1,0,GV,40,"[0, 0, 10, -60, 34, 37, 589, 1064, 1258, 913, ...",...,Keane,Azir,"[475, 475, 533, 801, 1006, 1233, 1385, 1720, 1...",Cop,Corki,"[475, 475, 533, 781, 1085, 1398, 1782, 1957, 2...",Janna,BunnyFuFuu,"[515, 515, 584, 721, 858, 1002, 1168, 1303, 14...","['Leblanc', 'Zed', 'RekSai']"
3,0ed1cd0e0e57329c,North_America,Spring_Season,2015,TIP,0,1,TL,41,"[0, 0, -15, 25, 228, -6, -243, 175, -346, 16, ...",...,Fenix,Lulu,"[475, 475, 532, 771, 1046, 1288, 1534, 1776, 2...",KEITH,KogMaw,"[475, 475, 532, 766, 1161, 1438, 1776, 1936, 2...",Janna,Xpecial,"[515, 515, 583, 721, 870, 1059, 1205, 1342, 15...","['RekSai', 'Rumble', 'LeeSin']"
4,f932becf86175f38,North_America,Spring_Season,2015,CLG,1,0,T8,35,"[40, 40, 44, -36, 113, 158, -121, -191, 23, 20...",...,Slooshi8,Lulu,"[475, 475, 532, 807, 1042, 1338, 1646, 1951, 2...",Maplestreet8,Corki,"[475, 475, 532, 792, 1187, 1488, 1832, 2136, 2...",Annie,Dodo8,"[475, 475, 538, 671, 817, 948, 1104, 1240, 136...","['Rumble', 'Sivir', 'Rengar']"

In [14]:
df6['A'], df6['Match_ID'] = df6['MatchHistory'].str.split('=', 1).str
df6.drop(['MatchHistory', 'A'], axis=1, inplace=True)

cols = list(df6.columns.values)

In [16]:
cols = ['Match_ID', 'ObjType',
 'num_1',
 'num_2',
 'num_3',
 'num_4',
 'num_5',
 'num_6',
 'num_7',
 'num_8',
 'num_9',
 'num_10',
 'num_11',
 'num_12',
 'num_13',
 'num_14',
 'num_15',
 'num_16']
df6 = df6[cols]
df6.head()

,Match_ID,ObjType,num_1,num_2,num_3,num_4,num_5,num_6,num_7,num_8,num_9,num_10,num_11,num_12,num_13,num_14,num_15,num_16
0,fbb300951ad8327c,bTowers,23.038,15.217,15.014,33.583,39.269,39.376,16.556,17.856,27.542,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,055b17da8456fdc8,bTowers,33.018,34.766,23.239,20.058,15.306,25.564,28.989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8e8a9b58df366e2d,bTowers,18.294,36.946,32.833,25.481,29.505,38.445,39.420,25.120,30.158,39.566,37.109,17.34,35.463,15.045,33.135,NaN
3,0ed1cd0e0e57329c,bTowers,22.879,18.541,19.941,38.770,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,f932becf86175f38,bTowers,33.925,26.963,22.594,34.515,34.213,14.976,33.717,18.487,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df3['A'], df3['Match_ID'] = df3['MatchHistory'].str.split('=', 1).str
df3.drop(['MatchHistory', 'A'], axis=1, inplace=True)

cols = list(df3.columns.values)

In [19]:
cols = ['Match_ID', 'NameType', 'min_1', 'min_2', 'min_3', 'min_4', 'min_5', 'min_6', 'min_7',
        'min_8', 'min_9', 'min_10', 'min_11', 'min_12', 'min_13', 'min_14', 'min_15', 'min_16',
        'min_17', 'min_18', 'min_19', 'min_20', 'min_21', 'min_22', 'min_23', 'min_24', 'min_25',
         'min_26', 'min_27', 'min_28', 'min_29', 'min_30', 'min_31', 'min_32', 'min_33', 'min_34', 'min_35',
         'min_36', 'min_37', 'min_38', 'min_39', 'min_40', 'min_41', 'min_42', 'min_43', 'min_44', 'min_45',
         'min_46', 'min_47', 'min_48', 'min_49', 'min_50', 'min_51', 'min_52', 'min_53', 'min_54', 'min_55',
         'min_56', 'min_57', 'min_58', 'min_59', 'min_60', 'min_61', 'min_62', 'min_63', 'min_64', 'min_65',
         'min_66', 'min_67', 'min_68', 'min_69', 'min_70', 'min_71', 'min_72', 'min_73', 'min_74', 'min_75',
         'min_76', 'min_77', 'min_78', 'min_79', 'min_80', 'min_81']
df3 = df3[cols]
df3.head()

,Match_ID,NameType,min_1,min_2,min_3,min_4,min_5,min_6,min_7,min_8,...,min_72,min_73,min_74,min_75,min_76,min_77,min_78,min_79,min_80,min_81
0,fbb300951ad8327c,golddiff,0,0.0,-14.0,-65.0,-268.0,-431.0,-488.0,-789.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,055b17da8456fdc8,golddiff,0,0.0,-26.0,-18.0,147.0,237.0,-152.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8e8a9b58df366e2d,golddiff,0,0.0,10.0,-60.0,34.0,37.0,589.0,1064.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0ed1cd0e0e57329c,golddiff,0,0.0,-15.0,25.0,228.0,-6.0,-243.0,175.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,f932becf86175f38,golddiff,40,40.0,44.0,-36.0,113.0,158.0,-121.0,-191.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df2['A'], df2['Match_ID'] = df2['MatchHistory'].str.split('=', 1).str
df2.drop(['MatchHistory', 'A'], axis=1, inplace=True)

cols = list(df2.columns.values)

In [25]:
cols = ['Match_ID', 'TeamColor',
 'Time',
 'Victim',
 'Killer',
 'Assist_1',
 'Assist_2',
 'Assist_3',
 'Assist_4']
df2 = df2[cols]
df2.head()

,Match_ID,TeamColor,Time,Victim,Killer,Assist_1,Assist_2,Assist_3,Assist_4
0,fbb300951ad8327c,Blue,10.82,C9 Hai,TSM Bjergsen,NaN,NaN,NaN,NaN
1,fbb300951ad8327c,Blue,16.286,C9 LemonNation,TSM WildTurtle,TSM Santorin,TSM Bjergsen,TSM Lustboy,NaN
2,fbb300951ad8327c,Blue,18.733,C9 Hai,TSM Bjergsen,TSM Santorin,TSM WildTurtle,TSM Lustboy,NaN
3,fbb300951ad8327c,Blue,18.88,C9 Meteos,TSM Dyrus,TSM Santorin,TSM Bjergsen,TSM WildTurtle,TSM Lustboy
4,fbb300951ad8327c,Blue,27.005,C9 Balls,TSM Bjergsen,TSM Dyrus,TSM Santorin,TSM WildTurtle,TSM Lustboy

In [26]:
df1['A'], df1['Match_ID'] = df1['MatchHistory'].str.split('=', 1).str
df1.drop(['MatchHistory', 'A'], axis=1, inplace=True)

cols = list(df1.columns.values)

In [28]:
cols = ['Match_ID', 'TeamColor', 'ban_1', 'ban_2', 'ban_3', 'ban_4', 'ban_5']
df1 = df1[cols]
df1.head()

           Match_ID TeamColor     ban_1      ban_2      ban_3 ban_4 ban_5
0  fbb300951ad8327c      Blue    Rumble   Kassadin  Lissandra   NaN   NaN
1  055b17da8456fdc8      Blue  Kassadin      Sivir  Lissandra   NaN   NaN
2  8e8a9b58df366e2d      Blue  JarvanIV  Lissandra   Kassadin   NaN   NaN
3  0ed1cd0e0e57329c      Blue     Annie  Lissandra   Kassadin   NaN   NaN
4  f932becf86175f38      Blue    Irelia   Pantheon   Kassadin   NaN   NaN

In [29]:
df1.to_csv('banValues1.csv')
df2.to_csv('deathValues1.csv')
df3.to_csv('goldValues1.csv')
df4.to_csv('LeagueofLegends1.csv')
df5.to_csv('LeagueofLegends21.csv')
df6.to_csv('objValues1.csv')

Now I want to get a sense of what each dataframe actually contains.

In [75]:
df1.head(100)

        MatchHistory TeamColor       ban_1      ban_2       ban_3 ban_4 ban_5
0   055b17da8456fdc8      Blue      Rumble   Kassadin   Lissandra   NaN   NaN
1   055b17da8456fdc8      Blue    Kassadin      Sivir   Lissandra   NaN   NaN
2   055b17da8456fdc8      Blue    JarvanIV  Lissandra    Kassadin   NaN   NaN
3   055b17da8456fdc8      Blue       Annie  Lissandra    Kassadin   NaN   NaN
4   055b17da8456fdc8      Blue      Irelia   Pantheon    Kassadin   NaN   NaN
5   055b17da8456fdc8      Blue      LeeSin     Rumble       Janna   NaN   NaN
6   055b17da8456fdc8      Blue         Zed      Sivir       Annie   NaN   NaN
7   055b17da8456fdc8      Blue   Lissandra      Janna    Kassadin   NaN   NaN
8   055b17da8456fdc8      Blue    JarvanIV       Gnar       Sivir   NaN   NaN
9   055b17da8456fdc8      Blue      Rumble      Janna    Kassadin   NaN   NaN
10  055b17da8456fdc8      Blue      Irelia      Annie       Sivir   NaN   NaN
11  055b17da8456fdc8      Blue       Janna     Rumble         NaN   NaN   NaN
12  055b17da8456fdc8      Blue        Azir       Lulu  Cassiopeia   NaN   NaN
13  055b17da8456fdc8      Blue        Azir   Kassadin   Lissandra   NaN   NaN
14  055b17da8456fdc8      Blue    Kassadin      Sivir   Lissandra   NaN   NaN
15  055b17da8456fdc8      Blue       Annie   Kassadin     Kalista   NaN   NaN
16  055b17da8456fdc8      Blue     Kalista  Lissandra       Annie   NaN   NaN
17  055b17da8456fdc8      Blue  Cassiopeia      Annie       Sivir   NaN   NaN
18  055b17da8456fdc8      Blue      Irelia        Jax       Sivir   NaN   NaN
19  055b17da8456fdc8      Blue         Zed       Azir    Kassadin   NaN   NaN
20  055b17da8456fdc8      Blue     Leblanc     Xerath        Azir   NaN   NaN
21  055b17da8456fdc8      Blue     Nidalee    Leblanc        Ahri   NaN   NaN
22  055b17da8456fdc8      Blue      Rumble   Kassadin       Annie   NaN   NaN
23  055b17da8456fdc8      Blue      Irelia       Ahri        Gnar   NaN   NaN
24  055b17da8456fdc8      Blue     Kalista      Annie  Blitzcrank   NaN   NaN
25  055b17da8456fdc8      Blue        Ahri     Irelia        Gnar   NaN   NaN
26  055b17da8456fdc8      Blue    Kassadin   JarvanIV     Morgana   NaN   NaN
27  055b17da8456fdc8      Blue      Thresh     Irelia        Gnar   NaN   NaN
28  055b17da8456fdc8      Blue         Zed      Janna      Maokai   NaN   NaN
29  055b17da8456fdc8      Blue      Rumble    Leblanc       Sivir   NaN   NaN
..               ...       ...         ...        ...         ...   ...   ...
70  055b17da8456fdc8      Blue      LeeSin    Sejuani     Karthus   NaN   NaN
71  055b17da8456fdc8      Blue      Rumble        Zed     Nidalee   NaN   NaN
72  055b17da8456fdc8      Blue     Morgana    Hecarim     Sejuani   NaN   NaN
73  055b17da8456fdc8      Blue       Sivir      Annie         Zed   NaN   NaN
74  055b17da8456fdc8      Blue     Leblanc    Nidalee      Irelia   NaN   NaN
75  055b17da8456fdc8      Blue      Maokai    Nidalee        Nunu   NaN   NaN
76  055b17da8456fdc8      Blue     Hecarim    Morgana        Sion   NaN   NaN
77  055b17da8456fdc8      Blue         Zed    Nidalee   Lissandra   NaN   NaN
78  055b17da8456fdc8      Blue      Maokai    Sejuani      RekSai   NaN   NaN
79  055b17da8456fdc8      Blue      Kennen     RekSai     Sejuani   NaN   NaN
80  055b17da8456fdc8      Blue     Nidalee  Lissandra      Maokai   NaN   NaN
81  055b17da8456fdc8      Blue     Kalista       Sion        Ahri   NaN   NaN
82  055b17da8456fdc8      Blue        Nunu    Hecarim     Sejuani   NaN   NaN
83  055b17da8456fdc8      Blue         Zed      Annie     Leblanc   NaN   NaN
84  055b17da8456fdc8      Blue     Hecarim    Sejuani          Vi   NaN   NaN
85  055b17da8456fdc8      Blue      Rengar     Irelia     Sejuani   NaN   NaN
86  055b17da8456fdc8      Blue        Lulu    Nidalee         Zed   NaN   NaN
87  055b17da8456fdc8      Blue     Nidalee     RekSai        Lulu   NaN   NaN
88  055b17da8456fdc8      Blue     Nidalee    Orianna     Leblanc   NaN   NaN
89  055b17da8456fdc8      Blue     Karthus    Nidalee      LeeSin   NaN   NaN
90  055b17da8456fdc8      Blue       Annie   Vladimir      Maokai   NaN   NaN
91  055b17da8456fdc8      Blue        Lulu      Corki     Sejuani   NaN   NaN
92  055b17da8456fdc8      Blue     Leblanc    Kalista     Hecarim   NaN   NaN
93  055b17da8456fdc8      Blue         NaN        NaN         NaN   NaN   NaN
94  055b17da8456fdc8      Blue      Thresh     RekSai    JarvanIV   NaN   NaN
95  055b17da8456fdc8      Blue      Rumble   Kassadin     Kalista   NaN   NaN
96  055b17da8456fdc8      Blue      Irelia    Leblanc     Kalista   NaN   NaN
97  055b17da8456fdc8      Blue     Leblanc    Hecarim       Urgot   NaN   NaN
98  055b17da8456fdc8      Blue     Leblanc     Gragas      Rumble   NaN   NaN
99  055b17da8456fdc8      Blue      Maokai       Bard      Gragas   NaN   NaN

[100 rows x 7 columns]