# Capstone Project 2 - League of Legends Dataset Wrangling
# Michael Phillips

First, let's take a look at what the various csv files contain.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', None)
%matplotlib inline

In [4]:
df = pd.read_csv('Columns.csv')
print(df.shape)
df.head()

(56, 2)

     ColumnName                                  ColumnDescription
0  MatchHistory        website address the data is scraped from \n
1        League    League or Tournament the match took place in \n
2        Season   Season - Spring, Summer, Winter, or Tournamen...
3          Year                    Year the match took place in \n
4   blueTeamTag   Blue Team's tag name (ex. Team SoloMid is TSM...

In [5]:
df1 = pd.read_csv('banValues.csv')
print(df1.shape)
df1.head()

(7606, 7)

,MatchHistory,TeamColor,ban_1,ban_2,ban_3,ban_4,ban_5
0,http://matchhistory.na.leagueoflegends.com/en/...,Blue,Rumble,Kassadin,Lissandra,NaN,NaN
1,http://matchhistory.na.leagueoflegends.com/en/...,Blue,Kassadin,Sivir,Lissandra,NaN,NaN
2,http://matchhistory.na.leagueoflegends.com/en/...,Blue,JarvanIV,Lissandra,Kassadin,NaN,NaN
3,http://matchhistory.na.leagueoflegends.com/en/...,Blue,Annie,Lissandra,Kassadin,NaN,NaN
4,http://matchhistory.na.leagueoflegends.com/en/...,Blue,Irelia,Pantheon,Kassadin,NaN,NaN

In [6]:
df2 = pd.read_csv('deathValues.csv')
print(df2.shape)
df2.head()

(94408, 9)

,MatchHistory,TeamColor,Time,Victim,Killer,Assist_1,Assist_2,Assist_3,Assist_4
0,http://matchhistory.na.leagueoflegends.com/en/...,Blue,10.82,C9 Hai,TSM Bjergsen,NaN,NaN,NaN,NaN
1,http://matchhistory.na.leagueoflegends.com/en/...,Blue,16.286,C9 LemonNation,TSM WildTurtle,TSM Santorin,TSM Bjergsen,TSM Lustboy,NaN
2,http://matchhistory.na.leagueoflegends.com/en/...,Blue,18.733,C9 Hai,TSM Bjergsen,TSM Santorin,TSM WildTurtle,TSM Lustboy,NaN
3,http://matchhistory.na.leagueoflegends.com/en/...,Blue,18.88,C9 Meteos,TSM Dyrus,TSM Santorin,TSM Bjergsen,TSM WildTurtle,TSM Lustboy
4,http://matchhistory.na.leagueoflegends.com/en/...,Blue,27.005,C9 Balls,TSM Bjergsen,TSM Dyrus,TSM Santorin,TSM WildTurtle,TSM Lustboy

In [7]:
df3 = pd.read_csv('goldValues.csv')
print(df3.shape)
df3.head()

(49439, 83)

,MatchHistory,NameType,min_1,min_2,min_3,min_4,min_5,min_6,min_7,min_8,min_9,min_10,min_11,min_12,min_13,min_14,min_15,min_16,min_17,min_18,min_19,min_20,min_21,min_22,min_23,min_24,min_25,min_26,min_27,min_28,min_29,min_30,min_31,min_32,min_33,min_34,min_35,min_36,min_37,min_38,min_39,min_40,min_41,min_42,min_43,min_44,min_45,min_46,min_47,min_48,min_49,min_50,min_51,min_52,min_53,min_54,min_55,min_56,min_57,min_58,min_59,min_60,min_61,min_62,min_63,min_64,min_65,min_66,min_67,min_68,min_69,min_70,min_71,min_72,min_73,min_74,min_75,min_76,min_77,min_78,min_79,min_80,min_81
0,http://matchhistory.na.leagueoflegends.com/en/...,golddiff,0,0.0,-14.0,-65.0,-268.0,-431.0,-488.0,-789.0,-494.0,-625.0,-1044.0,-313.0,-760.0,-697.0,-790.0,-611.0,240.0,845.0,797.0,1422.0,987.0,169.0,432.0,491.0,1205.0,1527.0,1647.0,1847.0,3750.0,4719.0,3561.0,3367.0,2886.0,2906.0,4411.0,4473.0,4639.0,4762.0,4686.0,6057.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,http://matchhistory.na.leagueoflegends.com/en/...,golddiff,0,0.0,-26.0,-18.0,147.0,237.0,-152.0,18.0,88.0,-242.0,102.0,117.0,802.0,1420.0,1394.0,1301.0,1489.0,1563.0,1368.0,1105.0,205.0,192.0,587.0,377.0,667.0,415.0,1876.0,1244.0,2130.0,2431.0,680.0,1520.0,949.0,1894.0,2644.0,3394.0,3726.0,1165.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,http://matchhistory.na.leagueoflegends.com/en/...,golddiff,0,0.0,10.0,-60.0,34.0,37.0,589.0,1064.0,1258.0,913.0,1233.0,1597.0,1575.0,3046.0,2922.0,3074.0,3626.0,3466.0,5634.0,5293.0,4597.0,4360.0,4616.0,4489.0,4880.0,5865.0,6993.0,7049.0,7029.0,7047.0,7160.0,7081.0,7582.0,9917.0,10337.0,9823.0,12307.0,13201.0,13924.0,13915.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,http://matchhistory.na.leagueoflegends.com/en/...,golddiff,0,0.0,-15.0,25.0,228.0,-6.0,-243.0,175.0,-346.0,16.0,-258.0,-57.0,-190.0,-111.0,-335.0,-8.0,324.0,428.0,-124.0,768.0,2712.0,1813.0,198.0,1242.0,1245.0,1278.0,1240.0,-664.0,-1195.0,-1157.0,-2161.0,-2504.0,-3873.0,-3688.0,-3801.0,-3668.0,-3612.0,-5071.0,-2825.0,-1464.0,-4507.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,http://matchhistory.na.leagueoflegends.com/en/...,golddiff,40,40.0,44.0,-36.0,113.0,158.0,-121.0,-191.0,23.0,205.0,156.0,272.0,-271.0,-896.0,-574.0,177.0,-425.0,-730.0,-318.0,478.0,926.0,761.0,-286.0,473.0,490.0,1265.0,2526.0,3890.0,4319.0,5121.0,5140.0,5141.0,6866.0,9517.0,11322.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df4 = pd.read_csv('LeagueofLegends.csv')
print(df4.shape)
df4.head()

(3802, 56)

,MatchHistory,League,Season,Year,blueTeamTag,bResult,rResult,redTeamTag,gamelength,golddiff,goldblue,bKills,bTowers,bInhibs,bDragons,bBarons,bHeralds,goldred,rKills,rTowers,rInhibs,rDragons,rBarons,rHeralds,blueTop,blueTopChamp,goldblueTop,blueJungle,blueJungleChamp,goldblueJungle,blueMiddle,blueMiddleChamp,goldblueMiddle,blueADC,blueADCChamp,goldblueADC,blueSupport,blueSupportChamp,goldblueSupport,blueBans,redTop,redTopChamp,goldredTop,redJungle,redJungleChamp,goldredJungle,redMiddle,redMiddleChamp,goldredMiddle,redADC,redADCChamp,goldredADC,redSupportChamp,redSupport,goldredSupport,redBans
0,http://matchhistory.na.leagueoflegends.com/en/...,North_America,Spring_Season,2015,TSM,1,0,C9,40,"[0, 0, -14, -65, -268, -431, -488, -789, -494,...","[2415, 2415, 2711, 3887, 5068, 6171, 7412, 866...","[[10.82, 'C9 Hai', 'TSM Bjergsen'], [16.286, '...","[23.038, 15.217, 15.014, 33.583, 39.269, 39.37...","[36.686, 29.274]",[37.267],[],[],"[2415, 2415, 2725, 3952, 5336, 6602, 7900, 945...","[[16.529, 'TSM Lustboy', 'C9 Balls', 'C9 Meteo...","[20.681, 39.23, 15.288, 17.237]",[],"[24.641, 17.14, 30.934]",[29.954],[],Dyrus,Irelia,"[475, 475, 532, 687, 893, 1058, 1172, 1471, 18...",Santorin,RekSai,"[475, 475, 532, 870, 1049, 1276, 1596, 1815, 2...",Bjergsen,Ahri,"[475, 475, 532, 807, 1102, 1307, 1651, 1950, 2...",WildTurtle,Jinx,"[475, 475, 532, 797, 1127, 1453, 1766, 2044, 2...",Lustboy,Janna,"[515, 515, 583, 726, 897, 1077, 1227, 1381, 15...","['Rumble', 'Kassadin', 'Lissandra']",Balls,Gnar,"[475, 475, 532, 728, 958, 1284, 1526, 1912, 21...",Meteos,Elise,"[475, 475, 532, 898, 1192, 1429, 1819, 2107, 2...",Hai,Fizz,"[475, 475, 552, 842, 1178, 1378, 1635, 1949, 2...",Sneaky,Sivir,"[475, 475, 532, 762, 1097, 1469, 1726, 2112, 2...",Thresh,LemonNation,"[515, 515, 577, 722, 911, 1042, 1194, 1370, 14...","['Tristana', 'Leblanc', 'Nidalee']"
1,http://matchhistory.na.leagueoflegends.com/en/...,North_America,Spring_Season,2015,CST,0,1,DIG,38,"[0, 0, -26, -18, 147, 237, -152, 18, 88, -242,...","[2415, 2415, 2705, 4108, 5511, 6797, 7637, 895...","[[11.104, 'DIG Shiphtur', 'CST Jesiz', 'CST Im...","[33.018, 34.766, 23.239, 20.058, 15.306, 25.56...",[],"[19.119, 26.177, 32.545]",[29.255],[],"[2415, 2415, 2731, 4126, 5364, 6560, 7789, 893...","[[12.387, 'CST Jesiz', 'DIG Gamsu', 'DIG Shiph...","[19.257, 23.409, 37.008, 29.993, 15.206, 36.93...",[36.813],[12.264],[],[],Cris,Gnar,"[475, 475, 532, 791, 1127, 1509, 1674, 1875, 2...",Impaler,Rengar,"[475, 475, 532, 895, 1176, 1334, 1447, 1859, 2...",Jesiz,Ahri,"[475, 475, 532, 816, 1102, 1413, 1624, 1937, 2...",Mash,Caitlyn,"[475, 475, 532, 856, 1182, 1468, 1653, 1890, 2...",Sheep,Leona,"[515, 515, 577, 750, 924, 1073, 1239, 1392, 15...","['Kassadin', 'Sivir', 'Lissandra']",Gamsu,Irelia,"[475, 475, 532, 811, 1042, 1237, 1625, 1852, 2...",Crumbzz,JarvanIV,"[475, 475, 532, 909, 1105, 1423, 1536, 1732, 1...",Shiphtur,Azir,"[475, 475, 552, 786, 1097, 1389, 1660, 1955, 2...",CoreJJ,Corki,"[475, 475, 532, 868, 1220, 1445, 1732, 1979, 2...",Annie,KiWiKiD,"[515, 515, 583, 752, 900, 1066, 1236, 1417, 15...","['RekSai', 'Janna', 'Leblanc']"
2,http://matchhistory.na.leagueoflegends.com/en/...,North_America,Spring_Season,2015,WFX,1,0,GV,40,"[0, 0, 10, -60, 34, 37, 589, 1064, 1258, 913, ...","[2415, 2415, 2726, 3794, 4933, 6236, 8109, 965...","[[5.255, 'GV Keane', 'WFX Pobelter', 'WFX Shor...","[18.294, 36.946, 32.833, 25.481, 29.505, 38.44...","[33.289, 37.38, 39.322, 37.511]","[18.255, 24.577, 30.87, 37.867]",[35.144],[],"[2415, 2415, 2716, 3854, 4899, 6199, 7520, 859...","[[8.449, 'WFX Altec', 'GV Cop', 'GV BunnyFuFuu...","[30.493, 24.62]",[],[],[],[],Flaresz,Renekton,"[475, 475, 533, 673, 828, 1075, 1428, 1775, 21...",ShorterACE,Rengar,"[475, 475, 543, 836, 1041, 1261, 1568, 2002, 2...",Pobelter,Fizz,"[475, 475, 533, 756, 1065, 1368, 2056, 2237, 2...",Altec,Sivir,"[475, 475, 533, 811, 1130, 1524, 1786, 2168, 2...",Gleeb,Annie,"[515, 515, 584, 718, 869, 1008, 1271, 1474, 16...","['JarvanIV', 'Lissandra', 'Kassadin']",Hauntzer,Sion,"[475, 475, 533, 706, 861, 1123, 1491, 1698, 18...",Saintvicious,LeeSin,"[475, 475, 533, 845, 1089, 1443, 1694, 1914, 2...",Keane,Azir,"[475, 475, 533, 801, 1006, 1233, 1385, 1720, 1...",Cop,Corki,"[475, 475, 533, 781, 1085, 1398, 1782, 1957, 2...",Janna,BunnyFuFuu,"[515, 515, 584, 721, 858, 1002, 1168, 1303, 14...","['Leblanc', 'Zed', 'RekSai']"
3,http://matchhistory.na.leagueoflegends.com/en/...,North_America,Spring_Season,2015,TIP,0,1,TL,41,"[0, 0, -15, 25, 228, -6, -243, 175, -346, 16, ...","[2415, 2415, 2705, 3847, 5398, 6473, 7720, 930...","[[8.274, 'TL Quas', 'TIP Rhux', 'TIP Apollo'],...","[22.879, 18.541, 19.941, 38.77]",[],[],[37.513],[],"[2415, 2415, 2720, 3822, 5170, 6479, 7963, 913...","[[7.768, 'TIP Rush', 'TL IWDominate', 'TL Feni...","[39.924, 27.034, 31.665, 36.384, 29.969, 19.12...",[35.867],"[18.515, 10.153, 26.274, 32.796]",[],[],Rhux,Irelia,"[475, 475, 532, 646, 992, 1253, 1408, 1752, 21...",Rush,JarvanIV,"[475, 475, 532, 909, 1272, 1387, 1705, 2009, 2...",XiaoWeiXiao,Leblanc,"[475, 475, 532, 801, 1066, 1409, 1660, 2077, 2...",Apollo,Sivir,"[475, 475, 532, 791, 1202, 1383, 1752, 2121, 2...",Adrian,Thresh,"[515, 515, 577, 700, 866, 1041, 1195, 1349, 14...","['Annie', 'Lissandra', 'Kassadin']",Quas,Gnar,"[475, 475, 532, 732, 922, 1309, 1678, 1992, 22...",IWDominate,Nunu,"[475, 475, 541, 832, 1171, 1385, 1770, 2087, 2...",Fenix,Lulu,"[475, 475, 532, 771, 1046, 1288, 1534, 1776, 2...",KEITH,KogMaw,"[475, 475, 532, 766, 1161, 1438, 1776, 1936, 2...",Janna,Xpecial,"[515, 515, 583, 721, 870, 1059, 1205, 1342, 15...","['RekSai', 'Rumble', 'LeeSin']"
4,http://matchhistory.na.leagueoflegends.com/en/...,North_America,Spring_Season,2015,CLG,1,0,T8,35,"[40, 40, 44, -36, 113, 158, -121, -191, 23, 20...","[2415, 2415, 2710, 3950, 5404, 6666, 7887, 913...","[[11.438, 'T8 Dodo8', 'CLG Doublelift', 'CLG X...","[33.925, 26.963, 22.594, 34.515, 34.213, 14.97...",[34.069],"[30.307, 14.589]",[32.556],[],"[2375, 2375, 2666, 3986, 5291, 6508, 8008, 932...","[[11.988, 'CLG Doublelift', 'T8 Porpoise8', 'T...","[11.644, 12.438, 15.252, 31.49]",[],[21.901],[],[],Benny,Gnar,"[475, 475, 532, 733, 1038, 1258, 1546, 1850, 2...",Xmithie,JarvanIV,"[475, 475, 532, 827, 1174, 1401, 1515, 1729, 2...",Link,Lissandra,"[475, 475, 532, 802, 1112, 1409, 1737, 1939, 2...",Doublelift,Tristana,"[475, 475, 532, 857, 1203, 1554, 1883, 2254, 2...",aphromoo,Janna,"[515, 515, 582, 731, 877, 1044, 1206, 1359, 15...","['Irelia', 'Pantheon', 'Kassadin']",CaliTrlolz8,Sion,"[475, 475, 532, 820, 1025, 1290, 1598, 1953, 2...",Porpoise8,RekSai,"[475, 475, 532, 896, 1220, 1444, 1828, 2042, 2...",Slooshi8,Lulu,"[475, 475, 532, 807, 1042, 1338, 1646, 1951, 2...",Maplestreet8,Corki,"[475, 475, 532, 792, 1187, 1488, 1832, 2136, 2...",Annie,Dodo8,"[475, 475, 538, 671, 817, 948, 1104, 1240, 136...","['Rumble', 'Sivir', 'Rengar']"

In [9]:
df5 = pd.read_csv('LeagueofLegends2.csv')
print(df5.shape)
df5.head()

(3803, 29)

,MatchHistory,League,Season,Year,blueTeamTag,bResult,rResult,redTeamTag,gamelength,blueTop,blueTopChamp,blueJungle,blueJungleChamp,blueMiddle,blueMiddleChamp,blueADC,blueADCChamp,blueSupport,blueSupportChamp,redTop,redTopChamp,redJungle,redJungleChamp,redMiddle,redMiddleChamp,redADC,redADCChamp,redSupportChamp,redSupport
0,http://matchhistory.na.leagueoflegends.com/en/...,North_America,Spring_Season,2015,TSM,1,0,C9,40,Dyrus,Irelia,Santorin,RekSai,Bjergsen,Ahri,WildTurtle,Jinx,Lustboy,Janna,Balls,Gnar,Meteos,Elise,Hai,Fizz,Sneaky,Sivir,Thresh,LemonNation
1,http://matchhistory.na.leagueoflegends.com/en/...,North_America,Spring_Season,2015,CST,0,1,DIG,38,Cris,Gnar,Impaler,Rengar,Jesiz,Ahri,Mash,Caitlyn,Sheep,Leona,Gamsu,Irelia,Crumbzz,JarvanIV,Shiphtur,Azir,CoreJJ,Corki,Annie,KiWiKiD
2,http://matchhistory.na.leagueoflegends.com/en/...,North_America,Spring_Season,2015,WFX,1,0,GV,40,Flaresz,Renekton,ShorterACE,Rengar,Pobelter,Fizz,Altec,Sivir,Gleeb,Annie,Hauntzer,Sion,Saintvicious,LeeSin,Keane,Azir,Cop,Corki,Janna,BunnyFuFuu
3,http://matchhistory.na.leagueoflegends.com/en/...,North_America,Spring_Season,2015,TIP,0,1,TL,41,Rhux,Irelia,Rush,JarvanIV,XiaoWeiXiao,Leblanc,Apollo,Sivir,Adrian,Thresh,Quas,Gnar,IWDominate,Nunu,Fenix,Lulu,KEITH,KogMaw,Janna,Xpecial
4,http://matchhistory.na.leagueoflegends.com/en/...,North_America,Spring_Season,2015,CLG,1,0,T8,35,Benny,Gnar,Xmithie,JarvanIV,Link,Lissandra,Doublelift,Tristana,aphromoo,Janna,CaliTrlolz8,Sion,Porpoise8,RekSai,Slooshi8,Lulu,Maplestreet8,Corki,Annie,Dodo8

In [10]:
df6 = pd.read_csv('objValues.csv')
print(df6.shape)
df6.head()

(38030, 18)

,MatchHistory,ObjType,num_1,num_2,num_3,num_4,num_5,num_6,num_7,num_8,num_9,num_10,num_11,num_12,num_13,num_14,num_15,num_16
0,http://matchhistory.na.leagueoflegends.com/en/...,bTowers,23.038,15.217,15.014,33.583,39.269,39.376,16.556,17.856,27.542,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,http://matchhistory.na.leagueoflegends.com/en/...,bTowers,33.018,34.766,23.239,20.058,15.306,25.564,28.989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,http://matchhistory.na.leagueoflegends.com/en/...,bTowers,18.294,36.946,32.833,25.481,29.505,38.445,39.420,25.120,30.158,39.566,37.109,17.34,35.463,15.045,33.135,NaN
3,http://matchhistory.na.leagueoflegends.com/en/...,bTowers,22.879,18.541,19.941,38.770,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,http://matchhistory.na.leagueoflegends.com/en/...,bTowers,33.925,26.963,22.594,34.515,34.213,14.976,33.717,18.487,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

I want to be able to merge the various files if I need to. Just for ease of use in the long run, I will replace the full match link (MatchHistory) field with just the hash value.

In [11]:
# replace the full match link with just the hash value
df5['A'], df5['Match_ID'] = df5['MatchHistory'].str.split('=', 1).str
df5.drop(['MatchHistory', 'A'], axis=1, inplace=True)

df5.head()

,League,Season,Year,blueTeamTag,bResult,rResult,redTeamTag,gamelength,blueTop,blueTopChamp,blueJungle,blueJungleChamp,blueMiddle,blueMiddleChamp,blueADC,blueADCChamp,blueSupport,blueSupportChamp,redTop,redTopChamp,redJungle,redJungleChamp,redMiddle,redMiddleChamp,redADC,redADCChamp,redSupportChamp,redSupport,Match_ID
0,North_America,Spring_Season,2015,TSM,1,0,C9,40,Dyrus,Irelia,Santorin,RekSai,Bjergsen,Ahri,WildTurtle,Jinx,Lustboy,Janna,Balls,Gnar,Meteos,Elise,Hai,Fizz,Sneaky,Sivir,Thresh,LemonNation,fbb300951ad8327c
1,North_America,Spring_Season,2015,CST,0,1,DIG,38,Cris,Gnar,Impaler,Rengar,Jesiz,Ahri,Mash,Caitlyn,Sheep,Leona,Gamsu,Irelia,Crumbzz,JarvanIV,Shiphtur,Azir,CoreJJ,Corki,Annie,KiWiKiD,055b17da8456fdc8
2,North_America,Spring_Season,2015,WFX,1,0,GV,40,Flaresz,Renekton,ShorterACE,Rengar,Pobelter,Fizz,Altec,Sivir,Gleeb,Annie,Hauntzer,Sion,Saintvicious,LeeSin,Keane,Azir,Cop,Corki,Janna,BunnyFuFuu,8e8a9b58df366e2d
3,North_America,Spring_Season,2015,TIP,0,1,TL,41,Rhux,Irelia,Rush,JarvanIV,XiaoWeiXiao,Leblanc,Apollo,Sivir,Adrian,Thresh,Quas,Gnar,IWDominate,Nunu,Fenix,Lulu,KEITH,KogMaw,Janna,Xpecial,0ed1cd0e0e57329c
4,North_America,Spring_Season,2015,CLG,1,0,T8,35,Benny,Gnar,Xmithie,JarvanIV,Link,Lissandra,Doublelift,Tristana,aphromoo,Janna,CaliTrlolz8,Sion,Porpoise8,RekSai,Slooshi8,Lulu,Maplestreet8,Corki,Annie,Dodo8,f932becf86175f38

In [12]:
# reorder columns so match_id is first
cols = list(df5.columns.values)
cols = ['Match_ID','League', 'Season', 'Year', 'blueTeamTag', 'bResult', 'rResult', 'redTeamTag', 'gamelength',
        'blueTop', 'blueTopChamp', 'blueJungle', 'blueJungleChamp', 'blueMiddle', 'blueMiddleChamp', 'blueADC',
         'blueADCChamp', 'blueSupport', 'blueSupportChamp', 'redTop', 'redTopChamp', 'redJungle', 'redJungleChamp',
         'redMiddle', 'redMiddleChamp', 'redADC', 'redADCChamp', 'redSupportChamp', 'redSupport']
df5 = df5[cols]
df5.to_csv('LeagueofLegends21.csv')
df5.head()

,Match_ID,League,Season,Year,blueTeamTag,bResult,rResult,redTeamTag,gamelength,blueTop,blueTopChamp,blueJungle,blueJungleChamp,blueMiddle,blueMiddleChamp,blueADC,blueADCChamp,blueSupport,blueSupportChamp,redTop,redTopChamp,redJungle,redJungleChamp,redMiddle,redMiddleChamp,redADC,redADCChamp,redSupportChamp,redSupport
0,fbb300951ad8327c,North_America,Spring_Season,2015,TSM,1,0,C9,40,Dyrus,Irelia,Santorin,RekSai,Bjergsen,Ahri,WildTurtle,Jinx,Lustboy,Janna,Balls,Gnar,Meteos,Elise,Hai,Fizz,Sneaky,Sivir,Thresh,LemonNation
1,055b17da8456fdc8,North_America,Spring_Season,2015,CST,0,1,DIG,38,Cris,Gnar,Impaler,Rengar,Jesiz,Ahri,Mash,Caitlyn,Sheep,Leona,Gamsu,Irelia,Crumbzz,JarvanIV,Shiphtur,Azir,CoreJJ,Corki,Annie,KiWiKiD
2,8e8a9b58df366e2d,North_America,Spring_Season,2015,WFX,1,0,GV,40,Flaresz,Renekton,ShorterACE,Rengar,Pobelter,Fizz,Altec,Sivir,Gleeb,Annie,Hauntzer,Sion,Saintvicious,LeeSin,Keane,Azir,Cop,Corki,Janna,BunnyFuFuu
3,0ed1cd0e0e57329c,North_America,Spring_Season,2015,TIP,0,1,TL,41,Rhux,Irelia,Rush,JarvanIV,XiaoWeiXiao,Leblanc,Apollo,Sivir,Adrian,Thresh,Quas,Gnar,IWDominate,Nunu,Fenix,Lulu,KEITH,KogMaw,Janna,Xpecial
4,f932becf86175f38,North_America,Spring_Season,2015,CLG,1,0,T8,35,Benny,Gnar,Xmithie,JarvanIV,Link,Lissandra,Doublelift,Tristana,aphromoo,Janna,CaliTrlolz8,Sion,Porpoise8,RekSai,Slooshi8,Lulu,Maplestreet8,Corki,Annie,Dodo8

In [13]:
df4['A'], df4['Match_ID'] = df4['MatchHistory'].str.split('=', 1).str
df4.drop(['MatchHistory', 'A'], axis=1, inplace=True)

cols = list(df4.columns.values)
cols = ['Match_ID', 'League',  'Season', 'Year', 'blueTeamTag', 'bResult', 'rResult',
        'redTeamTag', 'gamelength', 'golddiff', 'goldblue', 'bKills', 'bTowers', 'bInhibs', 'bDragons',
         'bBarons', 'bHeralds', 'goldred', 'rKills', 'rTowers', 'rInhibs', 'rDragons', 'rBarons',
        'rHeralds', 'blueTop', 'blueTopChamp', 'goldblueTop', 'blueJungle', 'blueJungleChamp', 'goldblueJungle',
         'blueMiddle', 'blueMiddleChamp', 'goldblueMiddle', 'blueADC', 'blueADCChamp', 'goldblueADC', 'blueSupport',
         'blueSupportChamp', 'goldblueSupport', 'blueBans', 'redTop', 'redTopChamp', 'goldredTop', 'redJungle',
         'redJungleChamp', 'goldredJungle', 'redMiddle', 'redMiddleChamp', 'goldredMiddle', 'redADC', 'redADCChamp',
         'goldredADC', 'redSupportChamp', 'redSupport', 'goldredSupport', 'redBans']

In [14]:
df4 = df4[cols]
df4.head()

,Match_ID,League,Season,Year,blueTeamTag,bResult,rResult,redTeamTag,gamelength,golddiff,goldblue,bKills,bTowers,bInhibs,bDragons,bBarons,bHeralds,goldred,rKills,rTowers,rInhibs,rDragons,rBarons,rHeralds,blueTop,blueTopChamp,goldblueTop,blueJungle,blueJungleChamp,goldblueJungle,blueMiddle,blueMiddleChamp,goldblueMiddle,blueADC,blueADCChamp,goldblueADC,blueSupport,blueSupportChamp,goldblueSupport,blueBans,redTop,redTopChamp,goldredTop,redJungle,redJungleChamp,goldredJungle,redMiddle,redMiddleChamp,goldredMiddle,redADC,redADCChamp,goldredADC,redSupportChamp,redSupport,goldredSupport,redBans
0,fbb300951ad8327c,North_America,Spring_Season,2015,TSM,1,0,C9,40,"[0, 0, -14, -65, -268, -431, -488, -789, -494,...","[2415, 2415, 2711, 3887, 5068, 6171, 7412, 866...","[[10.82, 'C9 Hai', 'TSM Bjergsen'], [16.286, '...","[23.038, 15.217, 15.014, 33.583, 39.269, 39.37...","[36.686, 29.274]",[37.267],[],[],"[2415, 2415, 2725, 3952, 5336, 6602, 7900, 945...","[[16.529, 'TSM Lustboy', 'C9 Balls', 'C9 Meteo...","[20.681, 39.23, 15.288, 17.237]",[],"[24.641, 17.14, 30.934]",[29.954],[],Dyrus,Irelia,"[475, 475, 532, 687, 893, 1058, 1172, 1471, 18...",Santorin,RekSai,"[475, 475, 532, 870, 1049, 1276, 1596, 1815, 2...",Bjergsen,Ahri,"[475, 475, 532, 807, 1102, 1307, 1651, 1950, 2...",WildTurtle,Jinx,"[475, 475, 532, 797, 1127, 1453, 1766, 2044, 2...",Lustboy,Janna,"[515, 515, 583, 726, 897, 1077, 1227, 1381, 15...","['Rumble', 'Kassadin', 'Lissandra']",Balls,Gnar,"[475, 475, 532, 728, 958, 1284, 1526, 1912, 21...",Meteos,Elise,"[475, 475, 532, 898, 1192, 1429, 1819, 2107, 2...",Hai,Fizz,"[475, 475, 552, 842, 1178, 1378, 1635, 1949, 2...",Sneaky,Sivir,"[475, 475, 532, 762, 1097, 1469, 1726, 2112, 2...",Thresh,LemonNation,"[515, 515, 577, 722, 911, 1042, 1194, 1370, 14...","['Tristana', 'Leblanc', 'Nidalee']"
1,055b17da8456fdc8,North_America,Spring_Season,2015,CST,0,1,DIG,38,"[0, 0, -26, -18, 147, 237, -152, 18, 88, -242,...","[2415, 2415, 2705, 4108, 5511, 6797, 7637, 895...","[[11.104, 'DIG Shiphtur', 'CST Jesiz', 'CST Im...","[33.018, 34.766, 23.239, 20.058, 15.306, 25.56...",[],"[19.119, 26.177, 32.545]",[29.255],[],"[2415, 2415, 2731, 4126, 5364, 6560, 7789, 893...","[[12.387, 'CST Jesiz', 'DIG Gamsu', 'DIG Shiph...","[19.257, 23.409, 37.008, 29.993, 15.206, 36.93...",[36.813],[12.264],[],[],Cris,Gnar,"[475, 475, 532, 791, 1127, 1509, 1674, 1875, 2...",Impaler,Rengar,"[475, 475, 532, 895, 1176, 1334, 1447, 1859, 2...",Jesiz,Ahri,"[475, 475, 532, 816, 1102, 1413, 1624, 1937, 2...",Mash,Caitlyn,"[475, 475, 532, 856, 1182, 1468, 1653, 1890, 2...",Sheep,Leona,"[515, 515, 577, 750, 924, 1073, 1239, 1392, 15...","['Kassadin', 'Sivir', 'Lissandra']",Gamsu,Irelia,"[475, 475, 532, 811, 1042, 1237, 1625, 1852, 2...",Crumbzz,JarvanIV,"[475, 475, 532, 909, 1105, 1423, 1536, 1732, 1...",Shiphtur,Azir,"[475, 475, 552, 786, 1097, 1389, 1660, 1955, 2...",CoreJJ,Corki,"[475, 475, 532, 868, 1220, 1445, 1732, 1979, 2...",Annie,KiWiKiD,"[515, 515, 583, 752, 900, 1066, 1236, 1417, 15...","['RekSai', 'Janna', 'Leblanc']"
2,8e8a9b58df366e2d,North_America,Spring_Season,2015,WFX,1,0,GV,40,"[0, 0, 10, -60, 34, 37, 589, 1064, 1258, 913, ...","[2415, 2415, 2726, 3794, 4933, 6236, 8109, 965...","[[5.255, 'GV Keane', 'WFX Pobelter', 'WFX Shor...","[18.294, 36.946, 32.833, 25.481, 29.505, 38.44...","[33.289, 37.38, 39.322, 37.511]","[18.255, 24.577, 30.87, 37.867]",[35.144],[],"[2415, 2415, 2716, 3854, 4899, 6199, 7520, 859...","[[8.449, 'WFX Altec', 'GV Cop', 'GV BunnyFuFuu...","[30.493, 24.62]",[],[],[],[],Flaresz,Renekton,"[475, 475, 533, 673, 828, 1075, 1428, 1775, 21...",ShorterACE,Rengar,"[475, 475, 543, 836, 1041, 1261, 1568, 2002, 2...",Pobelter,Fizz,"[475, 475, 533, 756, 1065, 1368, 2056, 2237, 2...",Altec,Sivir,"[475, 475, 533, 811, 1130, 1524, 1786, 2168, 2...",Gleeb,Annie,"[515, 515, 584, 718, 869, 1008, 1271, 1474, 16...","['JarvanIV', 'Lissandra', 'Kassadin']",Hauntzer,Sion,"[475, 475, 533, 706, 861, 1123, 1491, 1698, 18...",Saintvicious,LeeSin,"[475, 475, 533, 845, 1089, 1443, 1694, 1914, 2...",Keane,Azir,"[475, 475, 533, 801, 1006, 1233, 1385, 1720, 1...",Cop,Corki,"[475, 475, 533, 781, 1085, 1398, 1782, 1957, 2...",Janna,BunnyFuFuu,"[515, 515, 584, 721, 858, 1002, 1168, 1303, 14...","['Leblanc', 'Zed', 'RekSai']"
3,0ed1cd0e0e57329c,North_America,Spring_Season,2015,TIP,0,1,TL,41,"[0, 0, -15, 25, 228, -6, -243, 175, -346, 16, ...","[2415, 2415, 2705, 3847, 5398, 6473, 7720, 930...","[[8.274, 'TL Quas', 'TIP Rhux', 'TIP Apollo'],...","[22.879, 18.541, 19.941, 38.77]",[],[],[37.513],[],"[2415, 2415, 2720, 3822, 5170, 6479, 7963, 913...","[[7.768, 'TIP Rush', 'TL IWDominate', 'TL Feni...","[39.924, 27.034, 31.665, 36.384, 29.969, 19.12...",[35.867],"[18.515, 10.153, 26.274, 32.796]",[],[],Rhux,Irelia,"[475, 475, 532, 646, 992, 1253, 1408, 1752, 21...",Rush,JarvanIV,"[475, 475, 532, 909, 1272, 1387, 1705, 2009, 2...",XiaoWeiXiao,Leblanc,"[475, 475, 532, 801, 1066, 1409, 1660, 2077, 2...",Apollo,Sivir,"[475, 475, 532, 791, 1202, 1383, 1752, 2121, 2...",Adrian,Thresh,"[515, 515, 577, 700, 866, 1041, 1195, 1349, 14...","['Annie', 'Lissandra', 'Kassadin']",Quas,Gnar,"[475, 475, 532, 732, 922, 1309, 1678, 1992, 22...",IWDominate,Nunu,"[475, 475, 541, 832, 1171, 1385, 1770, 2087, 2...",Fenix,Lulu,"[475, 475, 532, 771, 1046, 1288, 1534, 1776, 2...",KEITH,KogMaw,"[475, 475, 532, 766, 1161, 1438, 1776, 1936, 2...",Janna,Xpecial,"[515, 515, 583, 721, 870, 1059, 1205, 1342, 15...","['RekSai', 'Rumble', 'LeeSin']"
4,f932becf86175f38,North_America,Spring_Season,2015,CLG,1,0,T8,35,"[40, 40, 44, -36, 113, 158, -121, -191, 23, 20...","[2415, 2415, 2710, 3950, 5404, 6666, 7887, 913...","[[11.438, 'T8 Dodo8', 'CLG Doublelift', 'CLG X...","[33.925, 26.963, 22.594, 34.515, 34.213, 14.97...",[34.069],"[30.307, 14.589]",[32.556],[],"[2375, 2375, 2666, 3986, 5291, 6508, 8008, 932...","[[11.988, 'CLG Doublelift', 'T8 Porpoise8', 'T...","[11.644, 12.438, 15.252, 31.49]",[],[21.901],[],[],Benny,Gnar,"[475, 475, 532, 733, 1038, 1258, 1546, 1850, 2...",Xmithie,JarvanIV,"[475, 475, 532, 827, 1174, 1401, 1515, 1729, 2...",Link,Lissandra,"[475, 475, 532, 802, 1112, 1409, 1737, 1939, 2...",Doublelift,Tristana,"[475, 475, 532, 857, 1203, 1554, 1883, 2254, 2...",aphromoo,Janna,"[515, 515, 582, 731, 877, 1044, 1206, 1359, 15...","['Irelia', 'Pantheon', 'Kassadin']",CaliTrlolz8,Sion,"[475, 475, 532, 820, 1025, 1290, 1598, 1953, 2...",Porpoise8,RekSai,"[475, 475, 532, 896, 1220, 1444, 1828, 2042, 2...",Slooshi8,Lulu,"[475, 475, 532, 807, 1042, 1338, 1646, 1951, 2...",Maplestreet8,Corki,"[475, 475, 532, 792, 1187, 1488, 1832, 2136, 2...",Annie,Dodo8,"[475, 475, 538, 671, 817, 948, 1104, 1240, 136...","['Rumble', 'Sivir', 'Rengar']"

In [15]:
df6['A'], df6['Match_ID'] = df6['MatchHistory'].str.split('=', 1).str
df6.drop(['MatchHistory', 'A'], axis=1, inplace=True)

cols = list(df6.columns.values)

In [16]:
cols = ['Match_ID', 'ObjType',
 'num_1',
 'num_2',
 'num_3',
 'num_4',
 'num_5',
 'num_6',
 'num_7',
 'num_8',
 'num_9',
 'num_10',
 'num_11',
 'num_12',
 'num_13',
 'num_14',
 'num_15',
 'num_16']
df6 = df6[cols]
df6.head()

,Match_ID,ObjType,num_1,num_2,num_3,num_4,num_5,num_6,num_7,num_8,num_9,num_10,num_11,num_12,num_13,num_14,num_15,num_16
0,fbb300951ad8327c,bTowers,23.038,15.217,15.014,33.583,39.269,39.376,16.556,17.856,27.542,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,055b17da8456fdc8,bTowers,33.018,34.766,23.239,20.058,15.306,25.564,28.989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8e8a9b58df366e2d,bTowers,18.294,36.946,32.833,25.481,29.505,38.445,39.420,25.120,30.158,39.566,37.109,17.34,35.463,15.045,33.135,NaN
3,0ed1cd0e0e57329c,bTowers,22.879,18.541,19.941,38.770,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,f932becf86175f38,bTowers,33.925,26.963,22.594,34.515,34.213,14.976,33.717,18.487,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df3['A'], df3['Match_ID'] = df3['MatchHistory'].str.split('=', 1).str
df3.drop(['MatchHistory', 'A'], axis=1, inplace=True)

cols = list(df3.columns.values)

In [18]:
cols = ['Match_ID', 'NameType', 'min_1', 'min_2', 'min_3', 'min_4', 'min_5', 'min_6', 'min_7',
        'min_8', 'min_9', 'min_10', 'min_11', 'min_12', 'min_13', 'min_14', 'min_15', 'min_16',
        'min_17', 'min_18', 'min_19', 'min_20', 'min_21', 'min_22', 'min_23', 'min_24', 'min_25',
         'min_26', 'min_27', 'min_28', 'min_29', 'min_30', 'min_31', 'min_32', 'min_33', 'min_34', 'min_35',
         'min_36', 'min_37', 'min_38', 'min_39', 'min_40', 'min_41', 'min_42', 'min_43', 'min_44', 'min_45',
         'min_46', 'min_47', 'min_48', 'min_49', 'min_50', 'min_51', 'min_52', 'min_53', 'min_54', 'min_55',
         'min_56', 'min_57', 'min_58', 'min_59', 'min_60', 'min_61', 'min_62', 'min_63', 'min_64', 'min_65',
         'min_66', 'min_67', 'min_68', 'min_69', 'min_70', 'min_71', 'min_72', 'min_73', 'min_74', 'min_75',
         'min_76', 'min_77', 'min_78', 'min_79', 'min_80', 'min_81']
df3 = df3[cols]
df3.head()

,Match_ID,NameType,min_1,min_2,min_3,min_4,min_5,min_6,min_7,min_8,min_9,min_10,min_11,min_12,min_13,min_14,min_15,min_16,min_17,min_18,min_19,min_20,min_21,min_22,min_23,min_24,min_25,min_26,min_27,min_28,min_29,min_30,min_31,min_32,min_33,min_34,min_35,min_36,min_37,min_38,min_39,min_40,min_41,min_42,min_43,min_44,min_45,min_46,min_47,min_48,min_49,min_50,min_51,min_52,min_53,min_54,min_55,min_56,min_57,min_58,min_59,min_60,min_61,min_62,min_63,min_64,min_65,min_66,min_67,min_68,min_69,min_70,min_71,min_72,min_73,min_74,min_75,min_76,min_77,min_78,min_79,min_80,min_81
0,fbb300951ad8327c,golddiff,0,0.0,-14.0,-65.0,-268.0,-431.0,-488.0,-789.0,-494.0,-625.0,-1044.0,-313.0,-760.0,-697.0,-790.0,-611.0,240.0,845.0,797.0,1422.0,987.0,169.0,432.0,491.0,1205.0,1527.0,1647.0,1847.0,3750.0,4719.0,3561.0,3367.0,2886.0,2906.0,4411.0,4473.0,4639.0,4762.0,4686.0,6057.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,055b17da8456fdc8,golddiff,0,0.0,-26.0,-18.0,147.0,237.0,-152.0,18.0,88.0,-242.0,102.0,117.0,802.0,1420.0,1394.0,1301.0,1489.0,1563.0,1368.0,1105.0,205.0,192.0,587.0,377.0,667.0,415.0,1876.0,1244.0,2130.0,2431.0,680.0,1520.0,949.0,1894.0,2644.0,3394.0,3726.0,1165.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8e8a9b58df366e2d,golddiff,0,0.0,10.0,-60.0,34.0,37.0,589.0,1064.0,1258.0,913.0,1233.0,1597.0,1575.0,3046.0,2922.0,3074.0,3626.0,3466.0,5634.0,5293.0,4597.0,4360.0,4616.0,4489.0,4880.0,5865.0,6993.0,7049.0,7029.0,7047.0,7160.0,7081.0,7582.0,9917.0,10337.0,9823.0,12307.0,13201.0,13924.0,13915.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0ed1cd0e0e57329c,golddiff,0,0.0,-15.0,25.0,228.0,-6.0,-243.0,175.0,-346.0,16.0,-258.0,-57.0,-190.0,-111.0,-335.0,-8.0,324.0,428.0,-124.0,768.0,2712.0,1813.0,198.0,1242.0,1245.0,1278.0,1240.0,-664.0,-1195.0,-1157.0,-2161.0,-2504.0,-3873.0,-3688.0,-3801.0,-3668.0,-3612.0,-5071.0,-2825.0,-1464.0,-4507.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,f932becf86175f38,golddiff,40,40.0,44.0,-36.0,113.0,158.0,-121.0,-191.0,23.0,205.0,156.0,272.0,-271.0,-896.0,-574.0,177.0,-425.0,-730.0,-318.0,478.0,926.0,761.0,-286.0,473.0,490.0,1265.0,2526.0,3890.0,4319.0,5121.0,5140.0,5141.0,6866.0,9517.0,11322.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df2['A'], df2['Match_ID'] = df2['MatchHistory'].str.split('=', 1).str
df2.drop(['MatchHistory', 'A'], axis=1, inplace=True)

cols = list(df2.columns.values)

In [20]:
cols = ['Match_ID', 'TeamColor',
 'Time',
 'Victim',
 'Killer',
 'Assist_1',
 'Assist_2',
 'Assist_3',
 'Assist_4']
df2 = df2[cols]
df2.head()

,Match_ID,TeamColor,Time,Victim,Killer,Assist_1,Assist_2,Assist_3,Assist_4
0,fbb300951ad8327c,Blue,10.82,C9 Hai,TSM Bjergsen,NaN,NaN,NaN,NaN
1,fbb300951ad8327c,Blue,16.286,C9 LemonNation,TSM WildTurtle,TSM Santorin,TSM Bjergsen,TSM Lustboy,NaN
2,fbb300951ad8327c,Blue,18.733,C9 Hai,TSM Bjergsen,TSM Santorin,TSM WildTurtle,TSM Lustboy,NaN
3,fbb300951ad8327c,Blue,18.88,C9 Meteos,TSM Dyrus,TSM Santorin,TSM Bjergsen,TSM WildTurtle,TSM Lustboy
4,fbb300951ad8327c,Blue,27.005,C9 Balls,TSM Bjergsen,TSM Dyrus,TSM Santorin,TSM WildTurtle,TSM Lustboy

In [21]:
df1['A'], df1['Match_ID'] = df1['MatchHistory'].str.split('=', 1).str
df1.drop(['MatchHistory', 'A'], axis=1, inplace=True)

cols = list(df1.columns.values)

In [22]:
cols = ['Match_ID', 'TeamColor', 'ban_1', 'ban_2', 'ban_3', 'ban_4', 'ban_5']
df1 = df1[cols]
df1.head()

           Match_ID TeamColor     ban_1      ban_2      ban_3 ban_4 ban_5
0  fbb300951ad8327c      Blue    Rumble   Kassadin  Lissandra   NaN   NaN
1  055b17da8456fdc8      Blue  Kassadin      Sivir  Lissandra   NaN   NaN
2  8e8a9b58df366e2d      Blue  JarvanIV  Lissandra   Kassadin   NaN   NaN
3  0ed1cd0e0e57329c      Blue     Annie  Lissandra   Kassadin   NaN   NaN
4  f932becf86175f38      Blue    Irelia   Pantheon   Kassadin   NaN   NaN

In [23]:
df1.to_csv('banValues1.csv')
df2.to_csv('deathValues1.csv')
df3.to_csv('goldValues1.csv')
df4.to_csv('LeagueofLegends1.csv')
df5.to_csv('LeagueofLegends21.csv')
df6.to_csv('objValues1.csv')

Now I want to get a sense of what each dataframe actually contains.

In [2]:
df = pd.read_csv('LeagueofLegends1.csv', index_col=0)
df1 = pd.read_csv('LeagueofLegends21.csv', index_col=0)
df2 = pd.read_csv('banValues1.csv', index_col=0)
df3 = pd.read_csv('deathValues1.csv', index_col=0)
df4 = pd.read_csv('objValues1.csv', index_col=0)
df5 = pd.read_csv('goldValues1.csv', index_col=0)
df.head()

,Match_ID,League,Season,Year,blueTeamTag,bResult,rResult,redTeamTag,gamelength,golddiff,goldblue,bKills,bTowers,bInhibs,bDragons,bBarons,bHeralds,goldred,rKills,rTowers,rInhibs,rDragons,rBarons,rHeralds,blueTop,blueTopChamp,goldblueTop,blueJungle,blueJungleChamp,goldblueJungle,blueMiddle,blueMiddleChamp,goldblueMiddle,blueADC,blueADCChamp,goldblueADC,blueSupport,blueSupportChamp,goldblueSupport,blueBans,redTop,redTopChamp,goldredTop,redJungle,redJungleChamp,goldredJungle,redMiddle,redMiddleChamp,goldredMiddle,redADC,redADCChamp,goldredADC,redSupportChamp,redSupport,goldredSupport,redBans
0,fbb300951ad8327c,North_America,Spring_Season,2015,TSM,1,0,C9,40,"[0, 0, -14, -65, -268, -431, -488, -789, -494,...","[2415, 2415, 2711, 3887, 5068, 6171, 7412, 866...","[[10.82, 'C9 Hai', 'TSM Bjergsen'], [16.286, '...","[23.038, 15.217, 15.014, 33.583, 39.269, 39.37...","[36.686, 29.274]",[37.267],[],[],"[2415, 2415, 2725, 3952, 5336, 6602, 7900, 945...","[[16.529, 'TSM Lustboy', 'C9 Balls', 'C9 Meteo...","[20.681, 39.23, 15.288, 17.237]",[],"[24.641, 17.14, 30.934]",[29.954],[],Dyrus,Irelia,"[475, 475, 532, 687, 893, 1058, 1172, 1471, 18...",Santorin,RekSai,"[475, 475, 532, 870, 1049, 1276, 1596, 1815, 2...",Bjergsen,Ahri,"[475, 475, 532, 807, 1102, 1307, 1651, 1950, 2...",WildTurtle,Jinx,"[475, 475, 532, 797, 1127, 1453, 1766, 2044, 2...",Lustboy,Janna,"[515, 515, 583, 726, 897, 1077, 1227, 1381, 15...","['Rumble', 'Kassadin', 'Lissandra']",Balls,Gnar,"[475, 475, 532, 728, 958, 1284, 1526, 1912, 21...",Meteos,Elise,"[475, 475, 532, 898, 1192, 1429, 1819, 2107, 2...",Hai,Fizz,"[475, 475, 552, 842, 1178, 1378, 1635, 1949, 2...",Sneaky,Sivir,"[475, 475, 532, 762, 1097, 1469, 1726, 2112, 2...",Thresh,LemonNation,"[515, 515, 577, 722, 911, 1042, 1194, 1370, 14...","['Tristana', 'Leblanc', 'Nidalee']"
1,055b17da8456fdc8,North_America,Spring_Season,2015,CST,0,1,DIG,38,"[0, 0, -26, -18, 147, 237, -152, 18, 88, -242,...","[2415, 2415, 2705, 4108, 5511, 6797, 7637, 895...","[[11.104, 'DIG Shiphtur', 'CST Jesiz', 'CST Im...","[33.018, 34.766, 23.239, 20.058, 15.306, 25.56...",[],"[19.119, 26.177, 32.545]",[29.255],[],"[2415, 2415, 2731, 4126, 5364, 6560, 7789, 893...","[[12.387, 'CST Jesiz', 'DIG Gamsu', 'DIG Shiph...","[19.257, 23.409, 37.008, 29.993, 15.206, 36.93...",[36.813],[12.264],[],[],Cris,Gnar,"[475, 475, 532, 791, 1127, 1509, 1674, 1875, 2...",Impaler,Rengar,"[475, 475, 532, 895, 1176, 1334, 1447, 1859, 2...",Jesiz,Ahri,"[475, 475, 532, 816, 1102, 1413, 1624, 1937, 2...",Mash,Caitlyn,"[475, 475, 532, 856, 1182, 1468, 1653, 1890, 2...",Sheep,Leona,"[515, 515, 577, 750, 924, 1073, 1239, 1392, 15...","['Kassadin', 'Sivir', 'Lissandra']",Gamsu,Irelia,"[475, 475, 532, 811, 1042, 1237, 1625, 1852, 2...",Crumbzz,JarvanIV,"[475, 475, 532, 909, 1105, 1423, 1536, 1732, 1...",Shiphtur,Azir,"[475, 475, 552, 786, 1097, 1389, 1660, 1955, 2...",CoreJJ,Corki,"[475, 475, 532, 868, 1220, 1445, 1732, 1979, 2...",Annie,KiWiKiD,"[515, 515, 583, 752, 900, 1066, 1236, 1417, 15...","['RekSai', 'Janna', 'Leblanc']"
2,8e8a9b58df366e2d,North_America,Spring_Season,2015,WFX,1,0,GV,40,"[0, 0, 10, -60, 34, 37, 589, 1064, 1258, 913, ...","[2415, 2415, 2726, 3794, 4933, 6236, 8109, 965...","[[5.255, 'GV Keane', 'WFX Pobelter', 'WFX Shor...","[18.294, 36.946, 32.833, 25.481, 29.505, 38.44...","[33.289, 37.38, 39.322, 37.511]","[18.255, 24.577, 30.87, 37.867]",[35.144],[],"[2415, 2415, 2716, 3854, 4899, 6199, 7520, 859...","[[8.449, 'WFX Altec', 'GV Cop', 'GV BunnyFuFuu...","[30.493, 24.62]",[],[],[],[],Flaresz,Renekton,"[475, 475, 533, 673, 828, 1075, 1428, 1775, 21...",ShorterACE,Rengar,"[475, 475, 543, 836, 1041, 1261, 1568, 2002, 2...",Pobelter,Fizz,"[475, 475, 533, 756, 1065, 1368, 2056, 2237, 2...",Altec,Sivir,"[475, 475, 533, 811, 1130, 1524, 1786, 2168, 2...",Gleeb,Annie,"[515, 515, 584, 718, 869, 1008, 1271, 1474, 16...","['JarvanIV', 'Lissandra', 'Kassadin']",Hauntzer,Sion,"[475, 475, 533, 706, 861, 1123, 1491, 1698, 18...",Saintvicious,LeeSin,"[475, 475, 533, 845, 1089, 1443, 1694, 1914, 2...",Keane,Azir,"[475, 475, 533, 801, 1006, 1233, 1385, 1720, 1...",Cop,Corki,"[475, 475, 533, 781, 1085, 1398, 1782, 1957, 2...",Janna,BunnyFuFuu,"[515, 515, 584, 721, 858, 1002, 1168, 1303, 14...","['Leblanc', 'Zed', 'RekSai']"
3,0ed1cd0e0e57329c,North_America,Spring_Season,2015,TIP,0,1,TL,41,"[0, 0, -15, 25, 228, -6, -243, 175, -346, 16, ...","[2415, 2415, 2705, 3847, 5398, 6473, 7720, 930...","[[8.274, 'TL Quas', 'TIP Rhux', 'TIP Apollo'],...","[22.879, 18.541, 19.941, 38.77]",[],[],[37.513],[],"[2415, 2415, 2720, 3822, 5170, 6479, 7963, 913...","[[7.768, 'TIP Rush', 'TL IWDominate', 'TL Feni...","[39.924, 27.034, 31.665, 36.384, 29.969, 19.12...",[35.867],"[18.515, 10.153, 26.274, 32.796]",[],[],Rhux,Irelia,"[475, 475, 532, 646, 992, 1253, 1408, 1752, 21...",Rush,JarvanIV,"[475, 475, 532, 909, 1272, 1387, 1705, 2009, 2...",XiaoWeiXiao,Leblanc,"[475, 475, 532, 801, 1066, 1409, 1660, 2077, 2...",Apollo,Sivir,"[475, 475, 532, 791, 1202, 1383, 1752, 2121, 2...",Adrian,Thresh,"[515, 515, 577, 700, 866, 1041, 1195, 1349, 14...","['Annie', 'Lissandra', 'Kassadin']",Quas,Gnar,"[475, 475, 532, 732, 922, 1309, 1678, 1992, 22...",IWDominate,Nunu,"[475, 475, 541, 832, 1171, 1385, 1770, 2087, 2...",Fenix,Lulu,"[475, 475, 532, 771, 1046, 1288, 1534, 1776, 2...",KEITH,KogMaw,"[475, 475, 532, 766, 1161, 1438, 1776, 1936, 2...",Janna,Xpecial,"[515, 515, 583, 721, 870, 1059, 1205, 1342, 15...","['RekSai', 'Rumble', 'LeeSin']"
4,f932becf86175f38,North_America,Spring_Season,2015,CLG,1,0,T8,35,"[40, 40, 44, -36, 113, 158, -121, -191, 23, 20...","[2415, 2415, 2710, 3950, 5404, 6666, 7887, 913...","[[11.438, 'T8 Dodo8', 'CLG Doublelift', 'CLG X...","[33.925, 26.963, 22.594, 34.515, 34.213, 14.97...",[34.069],"[30.307, 14.589]",[32.556],[],"[2375, 2375, 2666, 3986, 5291, 6508, 8008, 932...","[[11.988, 'CLG Doublelift', 'T8 Porpoise8', 'T...","[11.644, 12.438, 15.252, 31.49]",[],[21.901],[],[],Benny,Gnar,"[475, 475, 532, 733, 1038, 1258, 1546, 1850, 2...",Xmithie,JarvanIV,"[475, 475, 532, 827, 1174, 1401, 1515, 1729, 2...",Link,Lissandra,"[475, 475, 532, 802, 1112, 1409, 1737, 1939, 2...",Doublelift,Tristana,"[475, 475, 532, 857, 1203, 1554, 1883, 2254, 2...",aphromoo,Janna,"[515, 515, 582, 731, 877, 1044, 1206, 1359, 15...","['Irelia', 'Pantheon', 'Kassadin']",CaliTrlolz8,Sion,"[475, 475, 532, 820, 1025, 1290, 1598, 1953, 2...",Porpoise8,RekSai,"[475, 475, 532, 896, 1220, 1444, 1828, 2042, 2...",Slooshi8,Lulu,"[475, 475, 532, 807, 1042, 1338, 1646, 1951, 2...",Maplestreet8,Corki,"[475, 475, 532, 792, 1187, 1488, 1832, 2136, 2...",Annie,Dodo8,"[475, 475, 538, 671, 817, 948, 1104, 1240, 136...","['Rumble', 'Sivir', 'Rengar']"

In [3]:
df.tail()

,Match_ID,League,Season,Year,blueTeamTag,bResult,rResult,redTeamTag,gamelength,golddiff,goldblue,bKills,bTowers,bInhibs,bDragons,bBarons,bHeralds,goldred,rKills,rTowers,rInhibs,rDragons,rBarons,rHeralds,blueTop,blueTopChamp,goldblueTop,blueJungle,blueJungleChamp,goldblueJungle,blueMiddle,blueMiddleChamp,goldblueMiddle,blueADC,blueADCChamp,goldblueADC,blueSupport,blueSupportChamp,goldblueSupport,blueBans,redTop,redTopChamp,goldredTop,redJungle,redJungleChamp,goldredJungle,redMiddle,redMiddleChamp,goldredMiddle,redADC,redADCChamp,goldredADC,redSupportChamp,redSupport,goldredSupport,redBans
3797,b59e397a52a18d24,Mid-Season_Invitational,International,2017,G2,1,0,WE,37,"[0, 0, 16, 135, 91, 150, 192, 16, -121, -730, ...","[2500, 2500, 2671, 4184, 5701, 7246, 8699, 100...","[[10.966, 'WE Mystic', 'G2 Expect', 'G2 Zven',...","[35.943, 26.189, 11.649, 14.177, 18.357, 26.37...",[32.718],"[21.506, 8.986, 27.754, 15.231]",[35.34],[19.478],"[2500, 2500, 2655, 4049, 5610, 7096, 8507, 999...","[[8.905, 'G2 Perkz', 'WE 957', 'WE xiye'], [10...","[26.936, 14.75]",[],[],[25.675],[],Expect,Galio,"[500, 500, 501, 828, 1105, 1458, 1809, 2078, 2...",Trick,Khazix,"[500, 500, 551, 875, 1328, 1580, 1889, 2153, 2...",Perkz,Syndra,"[500, 500, 541, 907, 1142, 1564, 1872, 2168, 2...",Zven,Varus,"[500, 500, 561, 905, 1273, 1650, 1984, 2291, 2...",mithy,Karma,"[500, 500, 517, 669, 853, 994, 1145, 1319, 148...","['Zyra', 'Caitlyn', 'Ivern', 'Nami', 'Shen']",957,Kled,"[500, 500, 501, 811, 1257, 1555, 1880, 2256, 2...",Condi,LeeSin,"[500, 500, 551, 989, 1314, 1636, 1917, 2085, 2...",xiye,Fizz,"[500, 500, 541, 774, 1060, 1338, 1635, 1991, 2...",Mystic,KogMaw,"[500, 500, 541, 780, 1131, 1521, 1873, 2263, 2...",TahmKench,Zero,"[500, 500, 521, 695, 848, 1046, 1202, 1398, 15...","['Olaf', 'Kennen', 'Lulu', 'Fiora', 'Rumble']"
3798,4c3dff841237f2c1,Mid-Season_Invitational,International,2017,SKT,1,0,G2,39,"[0, 0, 2, -63, 250, 233, -152, -932, -1459, -1...","[2500, 2500, 2733, 4257, 5906, 7323, 8759, 101...","[[16.723, 'G2 Expect', 'SKT Peanut', 'SKT Bang...","[38.821, 34.444, 15.189, 26.311, 36.661, 17.32...","[37.11, 38.343]","[23.896, 30.049, 10.466, 36.352]","[33.639, 24.803]",[17.504],"[2500, 2500, 2731, 4320, 5656, 7090, 8911, 110...","[[5.082, 'SKT Faker', 'G2 Perkz', 'G2 Trick'],...","[33.536, 15.035, 17.256]",[],[17.683],[],[],Huni,Galio,"[500, 500, 501, 808, 1162, 1535, 1921, 2224, 2...",Peanut,LeeSin,"[500, 500, 601, 1009, 1314, 1666, 2058, 2451, ...",Faker,Cassiopeia,"[500, 500, 561, 888, 1294, 1435, 1599, 1783, 1...",Bang,Ashe,"[500, 500, 561, 885, 1293, 1687, 1998, 2305, 2...",Wolf,Zyra,"[500, 500, 509, 667, 843, 1000, 1183, 1357, 15...","['Syndra', 'Twitch', 'KogMaw', 'Leblanc', 'Ori...",Expect,Rumble,"[500, 500, 561, 905, 1205, 1592, 1920, 2393, 2...",Trick,Ivern,"[500, 500, 601, 1021, 1324, 1446, 1911, 2386, ...",Perkz,Jayce,"[500, 500, 541, 873, 1071, 1441, 2002, 2661, 2...",Zven,Caitlyn,"[500, 500, 526, 833, 1190, 1539, 1838, 2206, 2...",TahmKench,mithy,"[500, 500, 502, 688, 866, 1072, 1240, 1406, 15...","['Lulu', 'Karma', 'Kennen', 'Lucian', 'Fizz']"
3799,4be50c234a9d8118,Mid-Season_Invitational,International,2017,G2,1,0,SKT,31,"[0, 0, 15, 166, 885, 800, 1804, 2417, 2735, 25...","[2500, 2500, 2675, 4242, 6188, 7566, 9999, 118...","[[3.641, 'SKT Peanut', 'G2 Trick', 'G2 Expect'...","[29.77, 18.117, 17.126, 30.168, 30.546, 30.525...",[30.235],"[22.714, 8.319, 29.012, 15.035]",[28.057],[],"[2500, 2500, 2660, 4076, 5303, 6766, 8195, 938...","[[5.514, 'G2 Zven', 'SKT Peanut', 'SKT Bang'],...","[20.107, 22.121]",[],[],[],[],Expect,Gangplank,"[500, 500, 511, 874, 1327, 1607, 2189, 2554, 3...",Trick,LeeSin,"[500, 500, 601, 942, 1531, 1815, 2068, 2387, 2...",Perkz,Syndra,"[500, 500, 561, 886, 1307, 1639, 1939, 2509, 2...",Zven,KogMaw,"[500, 500, 501, 852, 1150, 1485, 2284, 2662, 3...",mithy,Braum,"[500, 500, 501, 688, 873, 1020, 1519, 1691, 19...","['Fizz', 'Kennen', 'Caitlyn', 'Lucian', 'Fiora']",Huni,Galio,"[500, 500, 541, 775, 985, 1352, 1508, 1835, 21...",Peanut,Ivern,"[500, 500, 501, 936, 1102, 1441, 1969, 2241, 2...",Faker,Ahri,"[500, 500, 558, 812, 1053, 1265, 1537, 1700, 2...",Bang,Ashe,"[500, 500, 538, 866, 1255, 1614, 1940, 2152, 2...",TahmKench,Wolf,"[500, 500, 522, 687, 908, 1094, 1241, 1458, 16...","['Lulu', 'Karma', 'Zyra', 'Shen', 'Gragas']"
3800,c80e363a476f3d65,Mid-Season_Invitational,International,2017,SKT,1,0,G2,37,"[0, 8, -53, -4, -409, -514, 106, -225, -213, -...","[2500, 2508, 2733, 4214, 5609, 6976, 8919, 100...","[[5.646, 'G2 Expect', 'SKT Huni', 'SKT Peanut'...","[35.111, 23.909, 35.731, 33.34, 33.48, 17.732,...",[34.988],"[34.764, 27.984, 21.594]",[33.92],[16.197],"[2500, 2500, 2786, 4218, 6018, 7490, 8813, 103...","[[14.582, 'SKT Wolf', 'G2 Perkz', 'G2 Trick'],...","[15.346, 28.736]",[],[14.096],[],[],Huni,Rumble,"[500, 500, 501, 809, 1138, 1448, 2203, 2388, 2...",Peanut,LeeSin,"[500, 500, 613, 1036, 1313, 1507, 1946, 2249, ...",Faker,Ahri,"[500, 500, 561, 835, 1102, 1380, 1668, 1896, 2...",Bang,Caitlyn,"[500, 500, 541, 866, 1255, 1648, 1956, 2259, 2...",Wolf,Zyra,"[500, 508, 517, 668, 801, 993, 1146, 1290, 149...","['Syndra', 'Twitch', 'KogMaw', 'Shen', 'Leblanc']",Expect,Galio,"[500, 500, 521, 792, 1176, 1439, 1684, 2014, 2...",Trick,Olaf,"[500, 500, 613, 936, 1473, 1756, 2069, 2193, 2...",Perkz,Orianna,"[500, 500, 558, 866, 1187, 1563, 1777, 2244, 2...",Zven,Ashe,"[500, 500, 561, 906, 1283, 1642, 2012, 2425, 2...",MissFortune,mithy,"[500, 500, 533, 718, 899, 1090, 1271, 1431, 15...","['Kennen', 'Lulu', 'Karma', 'Cassiopeia', 'Fizz']"
3801,ee4c0c77e8622332,Mid-Season_Invitational,International,2017,G2,0,1,SKT,35,"[0, 0, -10, 148, -86, 129, -132, -41, -845, -4...","[2500, 2500, 2655, 4164, 5491, 7034, 8376, 990...","[[10.592, 'SKT Faker', 'G2 Zven', 'G2 mithy'],...",[19.536],[],[],[],[],"[2500, 2500, 2665, 4016, 5577, 6905, 8508, 994...","[[7.754, 'G2 mithy', 'SKT Peanut', 'SKT Bang',...","[34.09, 19.844, 27.721, 27.441, 26.98, 24.984,...","[33.936, 33.772, 27.119]","[17.309, 23.737, 30.11]","[22.234, 32.263]",[],Expect,Galio,"[500, 500, 541, 886, 1150, 1390, 1642, 1944, 2...",Trick,LeeSin,"[500, 500, 551, 836, 1143, 1449, 1730, 2070, 2...",Perkz,Orianna,"[500, 500, 561, 900, 1082, 1500, 1730, 2109, 2...",Zven,Kalista,"[500, 500, 501, 866, 1275, 1668, 2077, 2410, 2...",mithy,Thresh,"[500, 500, 501, 676, 841, 1027, 1197, 1369, 15...","['Kennen', 'Fizz', 'Caitlyn', 'Ahri', 'Fiora']",Huni,Rumble,"[500, 500, 521, 812, 1102, 1474, 1863, 2120, 2...",Peanut,Olaf,"[500, 500, 601, 922, 1303, 1497, 1887, 2072, 2...",Faker,Leblanc,"[500, 500, 541, 772, 1121, 1330, 1642, 2038, 2...",Bang,Twitch,"[500, 500, 501, 812, 1164, 1505, 1852, 2215, 2...",TahmKench,Wolf,"[500, 500, 501, 698, 887, 1099, 1264, 1498, 18...","['Lulu', 'Karma', 'KogMaw', 'Shen', 'Syndra']"

In [4]:
df4.ObjType.value_counts()

bInhibs     3803
rDragons    3803
bDragons    3803
rInhibs     3803
bHeralds    3803
rHeralds    3803
rBarons     3803
bBarons     3803
rTowers     3803
bTowers     3803
Name: ObjType, dtype: int64

In [5]:
df4.head()

,Match_ID,ObjType,num_1,num_2,num_3,num_4,num_5,num_6,num_7,num_8,num_9,num_10,num_11,num_12,num_13,num_14,num_15,num_16
0,fbb300951ad8327c,bTowers,23.038,15.217,15.014,33.583,39.269,39.376,16.556,17.856,27.542,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,055b17da8456fdc8,bTowers,33.018,34.766,23.239,20.058,15.306,25.564,28.989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8e8a9b58df366e2d,bTowers,18.294,36.946,32.833,25.481,29.505,38.445,39.420,25.120,30.158,39.566,37.109,17.34,35.463,15.045,33.135,NaN
3,0ed1cd0e0e57329c,bTowers,22.879,18.541,19.941,38.770,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,f932becf86175f38,bTowers,33.925,26.963,22.594,34.515,34.213,14.976,33.717,18.487,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.shape

(3802, 56)

In [7]:
df.drop('golddiff', axis=1, inplace=True)

In [8]:
df.drop(['rKills', 'bKills'], axis=1, inplace=True)

In [9]:
df3.head()

,Match_ID,TeamColor,Time,Victim,Killer,Assist_1,Assist_2,Assist_3,Assist_4
0,fbb300951ad8327c,Blue,10.82,C9 Hai,TSM Bjergsen,NaN,NaN,NaN,NaN
1,fbb300951ad8327c,Blue,16.286,C9 LemonNation,TSM WildTurtle,TSM Santorin,TSM Bjergsen,TSM Lustboy,NaN
2,fbb300951ad8327c,Blue,18.733,C9 Hai,TSM Bjergsen,TSM Santorin,TSM WildTurtle,TSM Lustboy,NaN
3,fbb300951ad8327c,Blue,18.88,C9 Meteos,TSM Dyrus,TSM Santorin,TSM Bjergsen,TSM WildTurtle,TSM Lustboy
4,fbb300951ad8327c,Blue,27.005,C9 Balls,TSM Bjergsen,TSM Dyrus,TSM Santorin,TSM WildTurtle,TSM Lustboy

In [10]:
df.drop(['bTowers', 'bInhibs', 'bDragons', 'bBarons', 'bHeralds', 'rTowers', 'rInhibs', 
         'rDragons', 'rBarons', 'rHeralds'], axis=1, inplace=True)

In [11]:
df.head()

,Match_ID,League,Season,Year,blueTeamTag,bResult,rResult,redTeamTag,gamelength,goldblue,goldred,blueTop,blueTopChamp,goldblueTop,blueJungle,blueJungleChamp,goldblueJungle,blueMiddle,blueMiddleChamp,goldblueMiddle,blueADC,blueADCChamp,goldblueADC,blueSupport,blueSupportChamp,goldblueSupport,blueBans,redTop,redTopChamp,goldredTop,redJungle,redJungleChamp,goldredJungle,redMiddle,redMiddleChamp,goldredMiddle,redADC,redADCChamp,goldredADC,redSupportChamp,redSupport,goldredSupport,redBans
0,fbb300951ad8327c,North_America,Spring_Season,2015,TSM,1,0,C9,40,"[2415, 2415, 2711, 3887, 5068, 6171, 7412, 866...","[2415, 2415, 2725, 3952, 5336, 6602, 7900, 945...",Dyrus,Irelia,"[475, 475, 532, 687, 893, 1058, 1172, 1471, 18...",Santorin,RekSai,"[475, 475, 532, 870, 1049, 1276, 1596, 1815, 2...",Bjergsen,Ahri,"[475, 475, 532, 807, 1102, 1307, 1651, 1950, 2...",WildTurtle,Jinx,"[475, 475, 532, 797, 1127, 1453, 1766, 2044, 2...",Lustboy,Janna,"[515, 515, 583, 726, 897, 1077, 1227, 1381, 15...","['Rumble', 'Kassadin', 'Lissandra']",Balls,Gnar,"[475, 475, 532, 728, 958, 1284, 1526, 1912, 21...",Meteos,Elise,"[475, 475, 532, 898, 1192, 1429, 1819, 2107, 2...",Hai,Fizz,"[475, 475, 552, 842, 1178, 1378, 1635, 1949, 2...",Sneaky,Sivir,"[475, 475, 532, 762, 1097, 1469, 1726, 2112, 2...",Thresh,LemonNation,"[515, 515, 577, 722, 911, 1042, 1194, 1370, 14...","['Tristana', 'Leblanc', 'Nidalee']"
1,055b17da8456fdc8,North_America,Spring_Season,2015,CST,0,1,DIG,38,"[2415, 2415, 2705, 4108, 5511, 6797, 7637, 895...","[2415, 2415, 2731, 4126, 5364, 6560, 7789, 893...",Cris,Gnar,"[475, 475, 532, 791, 1127, 1509, 1674, 1875, 2...",Impaler,Rengar,"[475, 475, 532, 895, 1176, 1334, 1447, 1859, 2...",Jesiz,Ahri,"[475, 475, 532, 816, 1102, 1413, 1624, 1937, 2...",Mash,Caitlyn,"[475, 475, 532, 856, 1182, 1468, 1653, 1890, 2...",Sheep,Leona,"[515, 515, 577, 750, 924, 1073, 1239, 1392, 15...","['Kassadin', 'Sivir', 'Lissandra']",Gamsu,Irelia,"[475, 475, 532, 811, 1042, 1237, 1625, 1852, 2...",Crumbzz,JarvanIV,"[475, 475, 532, 909, 1105, 1423, 1536, 1732, 1...",Shiphtur,Azir,"[475, 475, 552, 786, 1097, 1389, 1660, 1955, 2...",CoreJJ,Corki,"[475, 475, 532, 868, 1220, 1445, 1732, 1979, 2...",Annie,KiWiKiD,"[515, 515, 583, 752, 900, 1066, 1236, 1417, 15...","['RekSai', 'Janna', 'Leblanc']"
2,8e8a9b58df366e2d,North_America,Spring_Season,2015,WFX,1,0,GV,40,"[2415, 2415, 2726, 3794, 4933, 6236, 8109, 965...","[2415, 2415, 2716, 3854, 4899, 6199, 7520, 859...",Flaresz,Renekton,"[475, 475, 533, 673, 828, 1075, 1428, 1775, 21...",ShorterACE,Rengar,"[475, 475, 543, 836, 1041, 1261, 1568, 2002, 2...",Pobelter,Fizz,"[475, 475, 533, 756, 1065, 1368, 2056, 2237, 2...",Altec,Sivir,"[475, 475, 533, 811, 1130, 1524, 1786, 2168, 2...",Gleeb,Annie,"[515, 515, 584, 718, 869, 1008, 1271, 1474, 16...","['JarvanIV', 'Lissandra', 'Kassadin']",Hauntzer,Sion,"[475, 475, 533, 706, 861, 1123, 1491, 1698, 18...",Saintvicious,LeeSin,"[475, 475, 533, 845, 1089, 1443, 1694, 1914, 2...",Keane,Azir,"[475, 475, 533, 801, 1006, 1233, 1385, 1720, 1...",Cop,Corki,"[475, 475, 533, 781, 1085, 1398, 1782, 1957, 2...",Janna,BunnyFuFuu,"[515, 515, 584, 721, 858, 1002, 1168, 1303, 14...","['Leblanc', 'Zed', 'RekSai']"
3,0ed1cd0e0e57329c,North_America,Spring_Season,2015,TIP,0,1,TL,41,"[2415, 2415, 2705, 3847, 5398, 6473, 7720, 930...","[2415, 2415, 2720, 3822, 5170, 6479, 7963, 913...",Rhux,Irelia,"[475, 475, 532, 646, 992, 1253, 1408, 1752, 21...",Rush,JarvanIV,"[475, 475, 532, 909, 1272, 1387, 1705, 2009, 2...",XiaoWeiXiao,Leblanc,"[475, 475, 532, 801, 1066, 1409, 1660, 2077, 2...",Apollo,Sivir,"[475, 475, 532, 791, 1202, 1383, 1752, 2121, 2...",Adrian,Thresh,"[515, 515, 577, 700, 866, 1041, 1195, 1349, 14...","['Annie', 'Lissandra', 'Kassadin']",Quas,Gnar,"[475, 475, 532, 732, 922, 1309, 1678, 1992, 22...",IWDominate,Nunu,"[475, 475, 541, 832, 1171, 1385, 1770, 2087, 2...",Fenix,Lulu,"[475, 475, 532, 771, 1046, 1288, 1534, 1776, 2...",KEITH,KogMaw,"[475, 475, 532, 766, 1161, 1438, 1776, 1936, 2...",Janna,Xpecial,"[515, 515, 583, 721, 870, 1059, 1205, 1342, 15...","['RekSai', 'Rumble', 'LeeSin']"
4,f932becf86175f38,North_America,Spring_Season,2015,CLG,1,0,T8,35,"[2415, 2415, 2710, 3950, 5404, 6666, 7887, 913...","[2375, 2375, 2666, 3986, 5291, 6508, 8008, 932...",Benny,Gnar,"[475, 475, 532, 733, 1038, 1258, 1546, 1850, 2...",Xmithie,JarvanIV,"[475, 475, 532, 827, 1174, 1401, 1515, 1729, 2...",Link,Lissandra,"[475, 475, 532, 802, 1112, 1409, 1737, 1939, 2...",Doublelift,Tristana,"[475, 475, 532, 857, 1203, 1554, 1883, 2254, 2...",aphromoo,Janna,"[515, 515, 582, 731, 877, 1044, 1206, 1359, 15...","['Irelia', 'Pantheon', 'Kassadin']",CaliTrlolz8,Sion,"[475, 475, 532, 820, 1025, 1290, 1598, 1953, 2...",Porpoise8,RekSai,"[475, 475, 532, 896, 1220, 1444, 1828, 2042, 2...",Slooshi8,Lulu,"[475, 475, 532, 807, 1042, 1338, 1646, 1951, 2...",Maplestreet8,Corki,"[475, 475, 532, 792, 1187, 1488, 1832, 2136, 2...",Annie,Dodo8,"[475, 475, 538, 671, 817, 948, 1104, 1240, 136...","['Rumble', 'Sivir', 'Rengar']"

In [12]:
df_red = df.copy()
df_red.head()

,Match_ID,League,Season,Year,blueTeamTag,bResult,rResult,redTeamTag,gamelength,goldblue,goldred,blueTop,blueTopChamp,goldblueTop,blueJungle,blueJungleChamp,goldblueJungle,blueMiddle,blueMiddleChamp,goldblueMiddle,blueADC,blueADCChamp,goldblueADC,blueSupport,blueSupportChamp,goldblueSupport,blueBans,redTop,redTopChamp,goldredTop,redJungle,redJungleChamp,goldredJungle,redMiddle,redMiddleChamp,goldredMiddle,redADC,redADCChamp,goldredADC,redSupportChamp,redSupport,goldredSupport,redBans
0,fbb300951ad8327c,North_America,Spring_Season,2015,TSM,1,0,C9,40,"[2415, 2415, 2711, 3887, 5068, 6171, 7412, 866...","[2415, 2415, 2725, 3952, 5336, 6602, 7900, 945...",Dyrus,Irelia,"[475, 475, 532, 687, 893, 1058, 1172, 1471, 18...",Santorin,RekSai,"[475, 475, 532, 870, 1049, 1276, 1596, 1815, 2...",Bjergsen,Ahri,"[475, 475, 532, 807, 1102, 1307, 1651, 1950, 2...",WildTurtle,Jinx,"[475, 475, 532, 797, 1127, 1453, 1766, 2044, 2...",Lustboy,Janna,"[515, 515, 583, 726, 897, 1077, 1227, 1381, 15...","['Rumble', 'Kassadin', 'Lissandra']",Balls,Gnar,"[475, 475, 532, 728, 958, 1284, 1526, 1912, 21...",Meteos,Elise,"[475, 475, 532, 898, 1192, 1429, 1819, 2107, 2...",Hai,Fizz,"[475, 475, 552, 842, 1178, 1378, 1635, 1949, 2...",Sneaky,Sivir,"[475, 475, 532, 762, 1097, 1469, 1726, 2112, 2...",Thresh,LemonNation,"[515, 515, 577, 722, 911, 1042, 1194, 1370, 14...","['Tristana', 'Leblanc', 'Nidalee']"
1,055b17da8456fdc8,North_America,Spring_Season,2015,CST,0,1,DIG,38,"[2415, 2415, 2705, 4108, 5511, 6797, 7637, 895...","[2415, 2415, 2731, 4126, 5364, 6560, 7789, 893...",Cris,Gnar,"[475, 475, 532, 791, 1127, 1509, 1674, 1875, 2...",Impaler,Rengar,"[475, 475, 532, 895, 1176, 1334, 1447, 1859, 2...",Jesiz,Ahri,"[475, 475, 532, 816, 1102, 1413, 1624, 1937, 2...",Mash,Caitlyn,"[475, 475, 532, 856, 1182, 1468, 1653, 1890, 2...",Sheep,Leona,"[515, 515, 577, 750, 924, 1073, 1239, 1392, 15...","['Kassadin', 'Sivir', 'Lissandra']",Gamsu,Irelia,"[475, 475, 532, 811, 1042, 1237, 1625, 1852, 2...",Crumbzz,JarvanIV,"[475, 475, 532, 909, 1105, 1423, 1536, 1732, 1...",Shiphtur,Azir,"[475, 475, 552, 786, 1097, 1389, 1660, 1955, 2...",CoreJJ,Corki,"[475, 475, 532, 868, 1220, 1445, 1732, 1979, 2...",Annie,KiWiKiD,"[515, 515, 583, 752, 900, 1066, 1236, 1417, 15...","['RekSai', 'Janna', 'Leblanc']"
2,8e8a9b58df366e2d,North_America,Spring_Season,2015,WFX,1,0,GV,40,"[2415, 2415, 2726, 3794, 4933, 6236, 8109, 965...","[2415, 2415, 2716, 3854, 4899, 6199, 7520, 859...",Flaresz,Renekton,"[475, 475, 533, 673, 828, 1075, 1428, 1775, 21...",ShorterACE,Rengar,"[475, 475, 543, 836, 1041, 1261, 1568, 2002, 2...",Pobelter,Fizz,"[475, 475, 533, 756, 1065, 1368, 2056, 2237, 2...",Altec,Sivir,"[475, 475, 533, 811, 1130, 1524, 1786, 2168, 2...",Gleeb,Annie,"[515, 515, 584, 718, 869, 1008, 1271, 1474, 16...","['JarvanIV', 'Lissandra', 'Kassadin']",Hauntzer,Sion,"[475, 475, 533, 706, 861, 1123, 1491, 1698, 18...",Saintvicious,LeeSin,"[475, 475, 533, 845, 1089, 1443, 1694, 1914, 2...",Keane,Azir,"[475, 475, 533, 801, 1006, 1233, 1385, 1720, 1...",Cop,Corki,"[475, 475, 533, 781, 1085, 1398, 1782, 1957, 2...",Janna,BunnyFuFuu,"[515, 515, 584, 721, 858, 1002, 1168, 1303, 14...","['Leblanc', 'Zed', 'RekSai']"
3,0ed1cd0e0e57329c,North_America,Spring_Season,2015,TIP,0,1,TL,41,"[2415, 2415, 2705, 3847, 5398, 6473, 7720, 930...","[2415, 2415, 2720, 3822, 5170, 6479, 7963, 913...",Rhux,Irelia,"[475, 475, 532, 646, 992, 1253, 1408, 1752, 21...",Rush,JarvanIV,"[475, 475, 532, 909, 1272, 1387, 1705, 2009, 2...",XiaoWeiXiao,Leblanc,"[475, 475, 532, 801, 1066, 1409, 1660, 2077, 2...",Apollo,Sivir,"[475, 475, 532, 791, 1202, 1383, 1752, 2121, 2...",Adrian,Thresh,"[515, 515, 577, 700, 866, 1041, 1195, 1349, 14...","['Annie', 'Lissandra', 'Kassadin']",Quas,Gnar,"[475, 475, 532, 732, 922, 1309, 1678, 1992, 22...",IWDominate,Nunu,"[475, 475, 541, 832, 1171, 1385, 1770, 2087, 2...",Fenix,Lulu,"[475, 475, 532, 771, 1046, 1288, 1534, 1776, 2...",KEITH,KogMaw,"[475, 475, 532, 766, 1161, 1438, 1776, 1936, 2...",Janna,Xpecial,"[515, 515, 583, 721, 870, 1059, 1205, 1342, 15...","['RekSai', 'Rumble', 'LeeSin']"
4,f932becf86175f38,North_America,Spring_Season,2015,CLG,1,0,T8,35,"[2415, 2415, 2710, 3950, 5404, 6666, 7887, 913...","[2375, 2375, 2666, 3986, 5291, 6508, 8008, 932...",Benny,Gnar,"[475, 475, 532, 733, 1038, 1258, 1546, 1850, 2...",Xmithie,JarvanIV,"[475, 475, 532, 827, 1174, 1401, 1515, 1729, 2...",Link,Lissandra,"[475, 475, 532, 802, 1112, 1409, 1737, 1939, 2...",Doublelift,Tristana,"[475, 475, 532, 857, 1203, 1554, 1883, 2254, 2...",aphromoo,Janna,"[515, 515, 582, 731, 877, 1044, 1206, 1359, 15...","['Irelia', 'Pantheon', 'Kassadin']",CaliTrlolz8,Sion,"[475, 475, 532, 820, 1025, 1290, 1598, 1953, 2...",Porpoise8,RekSai,"[475, 475, 532, 896, 1220, 1444, 1828, 2042, 2...",Slooshi8,Lulu,"[475, 475, 532, 807, 1042, 1338, 1646, 1951, 2...",Maplestreet8,Corki,"[475, 475, 532, 792, 1187, 1488, 1832, 2136, 2...",Annie,Dodo8,"[475, 475, 538, 671, 817, 948, 1104, 1240, 136...","['Rumble', 'Sivir', 'Rengar']"

In [13]:
df_red.columns.values

array(['Match_ID', 'League', 'Season', 'Year', 'blueTeamTag', 'bResult',
       'rResult', 'redTeamTag', 'gamelength', 'goldblue', 'goldred',
       'blueTop', 'blueTopChamp', 'goldblueTop', 'blueJungle',
       'blueJungleChamp', 'goldblueJungle', 'blueMiddle',
       'blueMiddleChamp', 'goldblueMiddle', 'blueADC', 'blueADCChamp',
       'goldblueADC', 'blueSupport', 'blueSupportChamp', 'goldblueSupport',
       'blueBans', 'redTop', 'redTopChamp', 'goldredTop', 'redJungle',
       'redJungleChamp', 'goldredJungle', 'redMiddle', 'redMiddleChamp',
       'goldredMiddle', 'redADC', 'redADCChamp', 'goldredADC',
       'redSupportChamp', 'redSupport', 'goldredSupport', 'redBans'], dtype=object)

In [14]:
df_red.drop(['blueTeamTag', 'bResult', 'goldblue', 'blueTop', 'blueTopChamp', 'goldblueTop', 'blueJungle', 
            'blueJungleChamp', 'goldblueJungle', 'blueMiddle', 'blueMiddleChamp', 'goldblueMiddle', 'blueADC', 
            'blueADCChamp', 'goldblueADC', 'blueSupport', 'blueSupportChamp', 'goldblueSupport', 'blueBans'], 
           axis=1, inplace=True)

In [15]:
df_red.columns = ['match_id', 'league', 'season', 'year', 'result', 'team_name', 'game_length',
                 'gold_value_per_min', 'top_player', 'top_champ', 'top_gold_min', 'jungle_player', 'jungle_champ', 
                 'jungle_gold_min', 'mid_player', 'mid_champ', 'mid_gold_min', 'adc_player', 'adc_champ', 'adc_gold_min',
                 'support_player', 'support_champ', 'support_gold_min', 'champs_banned']
df_red['red_or_blue_side'] = 'red'
df_red.head()

,match_id,league,season,year,result,team_name,game_length,gold_value_per_min,top_player,top_champ,top_gold_min,jungle_player,jungle_champ,jungle_gold_min,mid_player,mid_champ,mid_gold_min,adc_player,adc_champ,adc_gold_min,support_player,support_champ,support_gold_min,champs_banned,red_or_blue_side
0,fbb300951ad8327c,North_America,Spring_Season,2015,0,C9,40,"[2415, 2415, 2725, 3952, 5336, 6602, 7900, 945...",Balls,Gnar,"[475, 475, 532, 728, 958, 1284, 1526, 1912, 21...",Meteos,Elise,"[475, 475, 532, 898, 1192, 1429, 1819, 2107, 2...",Hai,Fizz,"[475, 475, 552, 842, 1178, 1378, 1635, 1949, 2...",Sneaky,Sivir,"[475, 475, 532, 762, 1097, 1469, 1726, 2112, 2...",Thresh,LemonNation,"[515, 515, 577, 722, 911, 1042, 1194, 1370, 14...","['Tristana', 'Leblanc', 'Nidalee']",red
1,055b17da8456fdc8,North_America,Spring_Season,2015,1,DIG,38,"[2415, 2415, 2731, 4126, 5364, 6560, 7789, 893...",Gamsu,Irelia,"[475, 475, 532, 811, 1042, 1237, 1625, 1852, 2...",Crumbzz,JarvanIV,"[475, 475, 532, 909, 1105, 1423, 1536, 1732, 1...",Shiphtur,Azir,"[475, 475, 552, 786, 1097, 1389, 1660, 1955, 2...",CoreJJ,Corki,"[475, 475, 532, 868, 1220, 1445, 1732, 1979, 2...",Annie,KiWiKiD,"[515, 515, 583, 752, 900, 1066, 1236, 1417, 15...","['RekSai', 'Janna', 'Leblanc']",red
2,8e8a9b58df366e2d,North_America,Spring_Season,2015,0,GV,40,"[2415, 2415, 2716, 3854, 4899, 6199, 7520, 859...",Hauntzer,Sion,"[475, 475, 533, 706, 861, 1123, 1491, 1698, 18...",Saintvicious,LeeSin,"[475, 475, 533, 845, 1089, 1443, 1694, 1914, 2...",Keane,Azir,"[475, 475, 533, 801, 1006, 1233, 1385, 1720, 1...",Cop,Corki,"[475, 475, 533, 781, 1085, 1398, 1782, 1957, 2...",Janna,BunnyFuFuu,"[515, 515, 584, 721, 858, 1002, 1168, 1303, 14...","['Leblanc', 'Zed', 'RekSai']",red
3,0ed1cd0e0e57329c,North_America,Spring_Season,2015,1,TL,41,"[2415, 2415, 2720, 3822, 5170, 6479, 7963, 913...",Quas,Gnar,"[475, 475, 532, 732, 922, 1309, 1678, 1992, 22...",IWDominate,Nunu,"[475, 475, 541, 832, 1171, 1385, 1770, 2087, 2...",Fenix,Lulu,"[475, 475, 532, 771, 1046, 1288, 1534, 1776, 2...",KEITH,KogMaw,"[475, 475, 532, 766, 1161, 1438, 1776, 1936, 2...",Janna,Xpecial,"[515, 515, 583, 721, 870, 1059, 1205, 1342, 15...","['RekSai', 'Rumble', 'LeeSin']",red
4,f932becf86175f38,North_America,Spring_Season,2015,0,T8,35,"[2375, 2375, 2666, 3986, 5291, 6508, 8008, 932...",CaliTrlolz8,Sion,"[475, 475, 532, 820, 1025, 1290, 1598, 1953, 2...",Porpoise8,RekSai,"[475, 475, 532, 896, 1220, 1444, 1828, 2042, 2...",Slooshi8,Lulu,"[475, 475, 532, 807, 1042, 1338, 1646, 1951, 2...",Maplestreet8,Corki,"[475, 475, 532, 792, 1187, 1488, 1832, 2136, 2...",Annie,Dodo8,"[475, 475, 538, 671, 817, 948, 1104, 1240, 136...","['Rumble', 'Sivir', 'Rengar']",red

In [16]:
df.drop(['redTeamTag', 'rResult', 'goldred', 'redTop', 'redTopChamp', 'goldredTop', 'redJungle', 
            'redJungleChamp', 'goldredJungle', 'redMiddle', 'redMiddleChamp', 'goldredMiddle', 'redADC', 
            'redADCChamp', 'goldredADC', 'redSupport', 'redSupportChamp', 'goldredSupport', 'redBans'], 
           axis=1, inplace=True)

In [17]:
df.columns = ['match_id', 'league', 'season', 'year', 'team_name', 'result', 'game_length',
                 'gold_value_per_min', 'top_player', 'top_champ', 'top_gold_min', 'jungle_player', 'jungle_champ', 
                 'jungle_gold_min', 'mid_player', 'mid_champ', 'mid_gold_min', 'adc_player', 'adc_champ', 'adc_gold_min',
                 'support_player', 'support_champ', 'support_gold_min', 'champs_banned']

In [18]:
df['red_or_blue_side'] = 'blue'
df.head()

,match_id,league,season,year,team_name,result,game_length,gold_value_per_min,top_player,top_champ,top_gold_min,jungle_player,jungle_champ,jungle_gold_min,mid_player,mid_champ,mid_gold_min,adc_player,adc_champ,adc_gold_min,support_player,support_champ,support_gold_min,champs_banned,red_or_blue_side
0,fbb300951ad8327c,North_America,Spring_Season,2015,TSM,1,40,"[2415, 2415, 2711, 3887, 5068, 6171, 7412, 866...",Dyrus,Irelia,"[475, 475, 532, 687, 893, 1058, 1172, 1471, 18...",Santorin,RekSai,"[475, 475, 532, 870, 1049, 1276, 1596, 1815, 2...",Bjergsen,Ahri,"[475, 475, 532, 807, 1102, 1307, 1651, 1950, 2...",WildTurtle,Jinx,"[475, 475, 532, 797, 1127, 1453, 1766, 2044, 2...",Lustboy,Janna,"[515, 515, 583, 726, 897, 1077, 1227, 1381, 15...","['Rumble', 'Kassadin', 'Lissandra']",blue
1,055b17da8456fdc8,North_America,Spring_Season,2015,CST,0,38,"[2415, 2415, 2705, 4108, 5511, 6797, 7637, 895...",Cris,Gnar,"[475, 475, 532, 791, 1127, 1509, 1674, 1875, 2...",Impaler,Rengar,"[475, 475, 532, 895, 1176, 1334, 1447, 1859, 2...",Jesiz,Ahri,"[475, 475, 532, 816, 1102, 1413, 1624, 1937, 2...",Mash,Caitlyn,"[475, 475, 532, 856, 1182, 1468, 1653, 1890, 2...",Sheep,Leona,"[515, 515, 577, 750, 924, 1073, 1239, 1392, 15...","['Kassadin', 'Sivir', 'Lissandra']",blue
2,8e8a9b58df366e2d,North_America,Spring_Season,2015,WFX,1,40,"[2415, 2415, 2726, 3794, 4933, 6236, 8109, 965...",Flaresz,Renekton,"[475, 475, 533, 673, 828, 1075, 1428, 1775, 21...",ShorterACE,Rengar,"[475, 475, 543, 836, 1041, 1261, 1568, 2002, 2...",Pobelter,Fizz,"[475, 475, 533, 756, 1065, 1368, 2056, 2237, 2...",Altec,Sivir,"[475, 475, 533, 811, 1130, 1524, 1786, 2168, 2...",Gleeb,Annie,"[515, 515, 584, 718, 869, 1008, 1271, 1474, 16...","['JarvanIV', 'Lissandra', 'Kassadin']",blue
3,0ed1cd0e0e57329c,North_America,Spring_Season,2015,TIP,0,41,"[2415, 2415, 2705, 3847, 5398, 6473, 7720, 930...",Rhux,Irelia,"[475, 475, 532, 646, 992, 1253, 1408, 1752, 21...",Rush,JarvanIV,"[475, 475, 532, 909, 1272, 1387, 1705, 2009, 2...",XiaoWeiXiao,Leblanc,"[475, 475, 532, 801, 1066, 1409, 1660, 2077, 2...",Apollo,Sivir,"[475, 475, 532, 791, 1202, 1383, 1752, 2121, 2...",Adrian,Thresh,"[515, 515, 577, 700, 866, 1041, 1195, 1349, 14...","['Annie', 'Lissandra', 'Kassadin']",blue
4,f932becf86175f38,North_America,Spring_Season,2015,CLG,1,35,"[2415, 2415, 2710, 3950, 5404, 6666, 7887, 913...",Benny,Gnar,"[475, 475, 532, 733, 1038, 1258, 1546, 1850, 2...",Xmithie,JarvanIV,"[475, 475, 532, 827, 1174, 1401, 1515, 1729, 2...",Link,Lissandra,"[475, 475, 532, 802, 1112, 1409, 1737, 1939, 2...",Doublelift,Tristana,"[475, 475, 532, 857, 1203, 1554, 1883, 2254, 2...",aphromoo,Janna,"[515, 515, 582, 731, 877, 1044, 1206, 1359, 15...","['Irelia', 'Pantheon', 'Kassadin']",blue

In [19]:
frames = [df, df_red]
merged_df = pd.concat(frames)
merged_df.shape

(7604, 25)

In [20]:
merged_df = merged_df.sort_values('match_id')
merged_df.head()

,adc_champ,adc_gold_min,adc_player,champs_banned,game_length,gold_value_per_min,jungle_champ,jungle_gold_min,jungle_player,league,match_id,mid_champ,mid_gold_min,mid_player,red_or_blue_side,result,season,support_champ,support_gold_min,support_player,team_name,top_champ,top_gold_min,top_player,year
2599,Sivir,"[475, 475, 532, 686, 976, 1196, 1687, 1995, 22...",Sangyoon,"['Azir', 'Shyvana', 'Jayce']",38,"[2415, 2430, 2751, 3929, 5219, 6418, 8156, 952...",Gragas,"[475, 475, 552, 817, 1099, 1278, 1708, 2097, 2...",lira,LCK,001a1f289e3bab22,Vladimir,"[475, 475, 532, 791, 1107, 1352, 1574, 1708, 1...",Mickey,blue,0,Summer_Season,Morgana,"[515, 530, 603, 786, 938, 1126, 1520, 1750, 18...",SnowFlower,ANC,Hecarim,"[475, 475, 532, 849, 1099, 1466, 1667, 1970, 2...",ikssu,2015
2599,Jinx,"[475, 475, 532, 836, 1131, 1593, 1748, 2041, 2...",Space,"['Zed', 'Gnar', 'Kalista']",38,"[2415, 2415, 2705, 4062, 5279, 7322, 8661, 103...",Sejuani,"[475, 475, 532, 909, 1143, 1615, 1829, 2108, 2...",Ambition,LCK,001a1f289e3bab22,Cassiopeia,"[475, 475, 532, 826, 1045, 1397, 1690, 2310, 2...",Coco,red,1,Summer_Season,MadLife,"[515, 515, 577, 735, 909, 1476, 1601, 1832, 19...",Thresh,CJE,Rumble,"[475, 475, 532, 756, 1051, 1241, 1793, 2081, 2...",Shy,2015
2844,Twitch,"[475, 475, 532, 787, 1046, 1360, 1693, 1826, 2...",NaMei,"['Fizz', 'LeeSin', 'TwistedFate']",37,"[2415, 2415, 2705, 3817, 4956, 6132, 7499, 860...",Rengar,"[475, 475, 532, 850, 1081, 1260, 1535, 1776, 2...",Clearlove,Season_World_Championship,001f50c8547e2e73,Zed,"[475, 475, 532, 806, 1117, 1486, 1741, 2168, 2...",U,blue,1,International,Thresh,"[515, 515, 577, 728, 851, 1012, 1155, 1278, 14...",Fzzf,EDG,Maokai,"[475, 475, 532, 646, 861, 1014, 1375, 1557, 19...",Koro1,2014
2844,Lucian,"[475, 475, 532, 764, 1117, 1467, 1696, 2029, 2...",GarnetDevil,"['Ryze', 'Zilean', 'Alistar']",37,"[2415, 2415, 2705, 3728, 5048, 6306, 7308, 853...",Khazix,"[475, 475, 532, 806, 955, 1187, 1373, 1536, 17...",NAZ,Season_World_Championship,001f50c8547e2e73,Talon,"[475, 475, 532, 792, 1089, 1301, 1612, 1879, 2...",westdoor,red,0,International,GreenTea,"[515, 515, 577, 701, 893, 1064, 1187, 1388, 15...",Blitzcrank,AHQ,Nidalee,"[475, 475, 532, 665, 994, 1287, 1440, 1704, 18...",Prydz,2014
2229,Lucian,"[500, 500, 516, 865, 1243, 1580, 2034, 2397, 2...",BeBe,"['Corki', 'Gangplank', 'TahmKench']",30,"[2500, 2500, 2785, 4216, 6193, 7618, 9674, 112...",RekSai,"[500, 500, 588, 977, 1293, 1560, 1964, 2196, 2...",REFRA1N,LMS,002f613ae09ad421,Lissandra,"[500, 500, 596, 869, 1398, 1752, 2193, 2515, 2...",FoFo,blue,1,Spring_Season,Alistar,"[500, 500, 583, 781, 1049, 1275, 1688, 1961, 2...",Jay,TPA,Trundle,"[500, 500, 502, 724, 1210, 1451, 1795, 2134, 2...",Morning,2016

In [21]:
list(merged_df.columns.values)

['adc_champ',
 'adc_gold_min',
 'adc_player',
 'champs_banned',
 'game_length',
 'gold_value_per_min',
 'jungle_champ',
 'jungle_gold_min',
 'jungle_player',
 'league',
 'match_id',
 'mid_champ',
 'mid_gold_min',
 'mid_player',
 'red_or_blue_side',
 'result',
 'season',
 'support_champ',
 'support_gold_min',
 'support_player',
 'team_name',
 'top_champ',
 'top_gold_min',
 'top_player',
 'year']

In [22]:
sorted_cols = ['match_id', 'league', 'season', 'year', 'team_name', 'red_or_blue_side', 'result', 'game_length',
               'gold_value_per_min', 'top_player', 'top_champ', 'top_gold_min', 'jungle_player', 'jungle_champ',
               'jungle_gold_min', 'mid_player', 'mid_champ', 'mid_gold_min', 'adc_player', 'adc_champ', 'adc_gold_min',
               'support_player', 'support_champ', 'support_gold_min', 'champs_banned']
merged_df = merged_df[sorted_cols]
merged_df.head()

,match_id,league,season,year,team_name,red_or_blue_side,result,game_length,gold_value_per_min,top_player,top_champ,top_gold_min,jungle_player,jungle_champ,jungle_gold_min,mid_player,mid_champ,mid_gold_min,adc_player,adc_champ,adc_gold_min,support_player,support_champ,support_gold_min,champs_banned
2599,001a1f289e3bab22,LCK,Summer_Season,2015,ANC,blue,0,38,"[2415, 2430, 2751, 3929, 5219, 6418, 8156, 952...",ikssu,Hecarim,"[475, 475, 532, 849, 1099, 1466, 1667, 1970, 2...",lira,Gragas,"[475, 475, 552, 817, 1099, 1278, 1708, 2097, 2...",Mickey,Vladimir,"[475, 475, 532, 791, 1107, 1352, 1574, 1708, 1...",Sangyoon,Sivir,"[475, 475, 532, 686, 976, 1196, 1687, 1995, 22...",SnowFlower,Morgana,"[515, 530, 603, 786, 938, 1126, 1520, 1750, 18...","['Azir', 'Shyvana', 'Jayce']"
2599,001a1f289e3bab22,LCK,Summer_Season,2015,CJE,red,1,38,"[2415, 2415, 2705, 4062, 5279, 7322, 8661, 103...",Shy,Rumble,"[475, 475, 532, 756, 1051, 1241, 1793, 2081, 2...",Ambition,Sejuani,"[475, 475, 532, 909, 1143, 1615, 1829, 2108, 2...",Coco,Cassiopeia,"[475, 475, 532, 826, 1045, 1397, 1690, 2310, 2...",Space,Jinx,"[475, 475, 532, 836, 1131, 1593, 1748, 2041, 2...",Thresh,MadLife,"[515, 515, 577, 735, 909, 1476, 1601, 1832, 19...","['Zed', 'Gnar', 'Kalista']"
2844,001f50c8547e2e73,Season_World_Championship,International,2014,EDG,blue,1,37,"[2415, 2415, 2705, 3817, 4956, 6132, 7499, 860...",Koro1,Maokai,"[475, 475, 532, 646, 861, 1014, 1375, 1557, 19...",Clearlove,Rengar,"[475, 475, 532, 850, 1081, 1260, 1535, 1776, 2...",U,Zed,"[475, 475, 532, 806, 1117, 1486, 1741, 2168, 2...",NaMei,Twitch,"[475, 475, 532, 787, 1046, 1360, 1693, 1826, 2...",Fzzf,Thresh,"[515, 515, 577, 728, 851, 1012, 1155, 1278, 14...","['Fizz', 'LeeSin', 'TwistedFate']"
2844,001f50c8547e2e73,Season_World_Championship,International,2014,AHQ,red,0,37,"[2415, 2415, 2705, 3728, 5048, 6306, 7308, 853...",Prydz,Nidalee,"[475, 475, 532, 665, 994, 1287, 1440, 1704, 18...",NAZ,Khazix,"[475, 475, 532, 806, 955, 1187, 1373, 1536, 17...",westdoor,Talon,"[475, 475, 532, 792, 1089, 1301, 1612, 1879, 2...",GarnetDevil,Lucian,"[475, 475, 532, 764, 1117, 1467, 1696, 2029, 2...",Blitzcrank,GreenTea,"[515, 515, 577, 701, 893, 1064, 1187, 1388, 15...","['Ryze', 'Zilean', 'Alistar']"
2229,002f613ae09ad421,LMS,Spring_Season,2016,TPA,blue,1,30,"[2500, 2500, 2785, 4216, 6193, 7618, 9674, 112...",Morning,Trundle,"[500, 500, 502, 724, 1210, 1451, 1795, 2134, 2...",REFRA1N,RekSai,"[500, 500, 588, 977, 1293, 1560, 1964, 2196, 2...",FoFo,Lissandra,"[500, 500, 596, 869, 1398, 1752, 2193, 2515, 2...",BeBe,Lucian,"[500, 500, 516, 865, 1243, 1580, 2034, 2397, 2...",Jay,Alistar,"[500, 500, 583, 781, 1049, 1275, 1688, 1961, 2...","['Corki', 'Gangplank', 'TahmKench']"

In [23]:
banned = merged_df[['match_id', 'champs_banned']]
banned = banned.reset_index(drop=True)
banned.head()

           match_id                        champs_banned
0  001a1f289e3bab22         ['Azir', 'Shyvana', 'Jayce']
1  001a1f289e3bab22           ['Zed', 'Gnar', 'Kalista']
2  001f50c8547e2e73    ['Fizz', 'LeeSin', 'TwistedFate']
3  001f50c8547e2e73        ['Ryze', 'Zilean', 'Alistar']
4  002f613ae09ad421  ['Corki', 'Gangplank', 'TahmKench']

In [24]:
expanded = banned['champs_banned']
expanded = expanded.str.replace('[', '')
expanded = expanded.str.replace(']', '')

expanded = expanded.str.split(',', 5, expand=True)
expanded.head()

         0             1               2     3     4
0   'Azir'     'Shyvana'         'Jayce'  None  None
1    'Zed'        'Gnar'       'Kalista'  None  None
2   'Fizz'      'LeeSin'   'TwistedFate'  None  None
3   'Ryze'      'Zilean'       'Alistar'  None  None
4  'Corki'   'Gangplank'     'TahmKench'  None  None

In [25]:
expanded.columns = ['ban_1', 'ban_2', 'ban_3', 'ban_4', 'ban_5', ]
expanded.fillna(value=np.nan, inplace=True)
expanded.head()

     ban_1         ban_2           ban_3 ban_4 ban_5
0   'Azir'     'Shyvana'         'Jayce'   NaN   NaN
1    'Zed'        'Gnar'       'Kalista'   NaN   NaN
2   'Fizz'      'LeeSin'   'TwistedFate'   NaN   NaN
3   'Ryze'      'Zilean'       'Alistar'   NaN   NaN
4  'Corki'   'Gangplank'     'TahmKench'   NaN   NaN

In [26]:
bans = banned.join(expanded)
bans.drop('champs_banned', inplace=True, axis=1)
bans.head()

           match_id    ban_1         ban_2           ban_3 ban_4 ban_5
0  001a1f289e3bab22   'Azir'     'Shyvana'         'Jayce'   NaN   NaN
1  001a1f289e3bab22    'Zed'        'Gnar'       'Kalista'   NaN   NaN
2  001f50c8547e2e73   'Fizz'      'LeeSin'   'TwistedFate'   NaN   NaN
3  001f50c8547e2e73   'Ryze'      'Zilean'       'Alistar'   NaN   NaN
4  002f613ae09ad421  'Corki'   'Gangplank'     'TahmKench'   NaN   NaN

In [27]:
merged_df = merged_df.reset_index(drop=True)

In [28]:
merged_df.shape

(7604, 25)

In [29]:
expanded.shape

(7604, 5)

In [30]:
merged_df1 = pd.merge(merged_df, expanded, left_index=True, right_index=True)
merged_df1.shape

(7604, 30)

In [31]:
merged_df1.drop('champs_banned', inplace=True, axis=1)

In [32]:
merged_df1.head()

,match_id,league,season,year,team_name,red_or_blue_side,result,game_length,gold_value_per_min,top_player,top_champ,top_gold_min,jungle_player,jungle_champ,jungle_gold_min,mid_player,mid_champ,mid_gold_min,adc_player,adc_champ,adc_gold_min,support_player,support_champ,support_gold_min,ban_1,ban_2,ban_3,ban_4,ban_5
0,001a1f289e3bab22,LCK,Summer_Season,2015,ANC,blue,0,38,"[2415, 2430, 2751, 3929, 5219, 6418, 8156, 952...",ikssu,Hecarim,"[475, 475, 532, 849, 1099, 1466, 1667, 1970, 2...",lira,Gragas,"[475, 475, 552, 817, 1099, 1278, 1708, 2097, 2...",Mickey,Vladimir,"[475, 475, 532, 791, 1107, 1352, 1574, 1708, 1...",Sangyoon,Sivir,"[475, 475, 532, 686, 976, 1196, 1687, 1995, 22...",SnowFlower,Morgana,"[515, 530, 603, 786, 938, 1126, 1520, 1750, 18...",'Azir','Shyvana','Jayce',NaN,NaN
1,001a1f289e3bab22,LCK,Summer_Season,2015,CJE,red,1,38,"[2415, 2415, 2705, 4062, 5279, 7322, 8661, 103...",Shy,Rumble,"[475, 475, 532, 756, 1051, 1241, 1793, 2081, 2...",Ambition,Sejuani,"[475, 475, 532, 909, 1143, 1615, 1829, 2108, 2...",Coco,Cassiopeia,"[475, 475, 532, 826, 1045, 1397, 1690, 2310, 2...",Space,Jinx,"[475, 475, 532, 836, 1131, 1593, 1748, 2041, 2...",Thresh,MadLife,"[515, 515, 577, 735, 909, 1476, 1601, 1832, 19...",'Zed','Gnar','Kalista',NaN,NaN
2,001f50c8547e2e73,Season_World_Championship,International,2014,EDG,blue,1,37,"[2415, 2415, 2705, 3817, 4956, 6132, 7499, 860...",Koro1,Maokai,"[475, 475, 532, 646, 861, 1014, 1375, 1557, 19...",Clearlove,Rengar,"[475, 475, 532, 850, 1081, 1260, 1535, 1776, 2...",U,Zed,"[475, 475, 532, 806, 1117, 1486, 1741, 2168, 2...",NaMei,Twitch,"[475, 475, 532, 787, 1046, 1360, 1693, 1826, 2...",Fzzf,Thresh,"[515, 515, 577, 728, 851, 1012, 1155, 1278, 14...",'Fizz','LeeSin','TwistedFate',NaN,NaN
3,001f50c8547e2e73,Season_World_Championship,International,2014,AHQ,red,0,37,"[2415, 2415, 2705, 3728, 5048, 6306, 7308, 853...",Prydz,Nidalee,"[475, 475, 532, 665, 994, 1287, 1440, 1704, 18...",NAZ,Khazix,"[475, 475, 532, 806, 955, 1187, 1373, 1536, 17...",westdoor,Talon,"[475, 475, 532, 792, 1089, 1301, 1612, 1879, 2...",GarnetDevil,Lucian,"[475, 475, 532, 764, 1117, 1467, 1696, 2029, 2...",Blitzcrank,GreenTea,"[515, 515, 577, 701, 893, 1064, 1187, 1388, 15...",'Ryze','Zilean','Alistar',NaN,NaN
4,002f613ae09ad421,LMS,Spring_Season,2016,TPA,blue,1,30,"[2500, 2500, 2785, 4216, 6193, 7618, 9674, 112...",Morning,Trundle,"[500, 500, 502, 724, 1210, 1451, 1795, 2134, 2...",REFRA1N,RekSai,"[500, 500, 588, 977, 1293, 1560, 1964, 2196, 2...",FoFo,Lissandra,"[500, 500, 596, 869, 1398, 1752, 2193, 2515, 2...",BeBe,Lucian,"[500, 500, 516, 865, 1243, 1580, 2034, 2397, 2...",Jay,Alistar,"[500, 500, 583, 781, 1049, 1275, 1688, 1961, 2...",'Corki','Gangplank','TahmKench',NaN,NaN

### TOTAL GOLD

In [33]:
merged_df1.sort_values(['match_id', 'red_or_blue_side'], inplace=True)

In [34]:
merged_df1.tail()

,match_id,league,season,year,team_name,red_or_blue_side,result,game_length,gold_value_per_min,top_player,top_champ,top_gold_min,jungle_player,jungle_champ,jungle_gold_min,mid_player,mid_champ,mid_gold_min,adc_player,adc_champ,adc_gold_min,support_player,support_champ,support_gold_min,ban_1,ban_2,ban_3,ban_4,ban_5
7599,ffee707e7f60869a,LMS,Spring_Season,2016,HKE,red,0,43,"[2500, 2500, 2640, 3994, 6016, 7270, 9161, 106...",MapleSnow,Malphite,"[500, 500, 501, 624, 1107, 1231, 1719, 1967, 2...",Dinter,Gragas,"[500, 500, 596, 1004, 1437, 1661, 2024, 2335, ...",Rokenia,Zed,"[500, 500, 541, 798, 1193, 1417, 1846, 2249, 2...",GodKwai,Corki,"[500, 500, 501, 888, 1243, 1709, 2054, 2383, 2...",Alistar,Olleh,"[500, 500, 501, 680, 1036, 1252, 1518, 1727, 1...",'Nidalee','Kindred','Thresh',NaN,NaN
7600,ffeff6e4c32e9fd0,LCK,Spring_Season,2015,JAG,blue,0,41,"[2415, 2415, 2705, 4438, 5980, 7226, 8521, 976...",TrAce,Maokai,"[475, 475, 531, 782, 986, 1287, 1539, 1802, 21...",Chaser,JarvanIV,"[475, 475, 531, 839, 1168, 1374, 1710, 2028, 2...",GBM,Karthus,"[475, 475, 531, 1235, 1535, 1851, 2088, 2372, ...",Pilot,Graves,"[475, 475, 531, 796, 1330, 1591, 1883, 2125, 2...",Chei,Annie,"[515, 515, 581, 786, 961, 1123, 1301, 1442, 17...",'Leblanc','Rumble','Anivia',NaN,NaN
7601,ffeff6e4c32e9fd0,LCK,Spring_Season,2015,SKT,red,1,41,"[2415, 2415, 2699, 3913, 5111, 6899, 8123, 979...",MaRin,Hecarim,"[475, 475, 531, 735, 849, 1424, 1615, 2032, 22...",Bengi,Sejuani,"[475, 475, 531, 914, 1175, 1474, 1776, 2100, 2...",Faker,Vladimir,"[475, 475, 531, 731, 1051, 1347, 1619, 2021, 2...",Bang,Kalista,"[475, 475, 531, 791, 1126, 1522, 1835, 2165, 2...",Thresh,Wolf,"[515, 515, 575, 742, 910, 1132, 1278, 1472, 16...",'Lulu','RekSai','Xerath',NaN,NaN
7603,fff9913c8be5e3fd,LCK,Spring_Season,2017,kt,blue,1,45,"[2500, 2500, 2785, 4174, 5698, 7059, 8635, 100...",Smeb,Shen,"[500, 500, 502, 777, 1166, 1582, 1838, 2208, 2...",Score,Khazix,"[500, 500, 602, 923, 1156, 1457, 1766, 2030, 2...",Pawn,Syndra,"[500, 500, 579, 896, 1272, 1518, 1947, 2243, 2...",Deft,Caitlyn,"[500, 500, 552, 855, 1224, 1441, 1863, 2208, 2...",Mata,Zyra,"[500, 500, 550, 723, 880, 1061, 1221, 1404, 15...",'Malzahar','LeeSin','Varus','Cassiopeia','Taliyah'
7602,fff9913c8be5e3fd,LCK,Spring_Season,2017,JAG,red,0,45,"[2500, 2524, 2802, 4404, 5736, 7187, 8473, 100...",ikssu,Maokai,"[500, 500, 502, 848, 1140, 1512, 1823, 2216, 2...",UmTi,Elise,"[500, 500, 602, 993, 1194, 1414, 1637, 1789, 2...",Kuzan,Corki,"[500, 500, 562, 933, 1146, 1572, 1874, 2257, 2...",Teddy,Ashe,"[500, 500, 562, 875, 1344, 1604, 1874, 2290, 2...",MissFortune,SnowFlower,"[500, 524, 574, 755, 912, 1085, 1265, 1499, 16...",'Leblanc','Camille','Rengar','Ryze','Jayce'

In [35]:
gold_values_df = merged_df1[['match_id', 'gold_value_per_min']]
gold_values_df.head()

           match_id                                 gold_value_per_min
0  001a1f289e3bab22  [2415, 2430, 2751, 3929, 5219, 6418, 8156, 952...
1  001a1f289e3bab22  [2415, 2415, 2705, 4062, 5279, 7322, 8661, 103...
2  001f50c8547e2e73  [2415, 2415, 2705, 3817, 4956, 6132, 7499, 860...
3  001f50c8547e2e73  [2415, 2415, 2705, 3728, 5048, 6306, 7308, 853...
4  002f613ae09ad421  [2500, 2500, 2785, 4216, 6193, 7618, 9674, 112...

In [36]:
expanded = gold_values_df['gold_value_per_min']
expanded = expanded.str.replace('[', '')
expanded = expanded.str.replace(']', '')

expanded = expanded.str.split(',', 81, expand=True)
expanded.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80
0,2415,2430,2751,3929,5219,6418,8156,9520,10681,12036,13678,15590,16782,18417,20052,21608,23396,24248,25691,27452,30446,31672,33665,36399,37571,38659,39757,41498,42861,44378,45719,47095,48551,49524,51200,52518,53247,53893,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,2415,2415,2705,4062,5279,7322,8661,10372,11444,13260,14676,15723,18119,19663,21237,22809,24997,28072,30162,31469,32490,34362,36662,37981,39398,40331,41652,44239,45948,47134,49334,51052,52586,53374,55245,56618,62198,62846,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,2415,2415,2705,3817,4956,6132,7499,8605,9942,11434,13028,15942,17653,19941,21320,23236,24835,26384,29350,32365,33752,35258,39070,40973,42591,45637,46672,48001,49458,51181,52245,54233,58476,61061,62324,65435,69584,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,2415,2415,2705,3728,5048,6306,7308,8536,9689,11072,12952,13978,15289,16639,18575,19558,22343,23318,24585,25342,26616,27778,29198,30997,32647,34549,35535,36591,38024,39272,40585,41883,42547,43836,45798,46951,47804,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,2500,2500,2785,4216,6193,7618,9674,11203,13004,14497,15653,17089,19084,20938,22437,24228,27072,28475,31466,34244,37178,39046,41074,42978,44964,48148,49707,51624,54594,56268,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [37]:
merged_df1.game_length.max()

81

In [38]:
cols = list(expanded.columns.values)
cols1 = ['min_' + str(e) for e in cols]
expanded.columns = [cols1]
expanded.head()

,min_0,min_1,min_2,min_3,min_4,min_5,min_6,min_7,min_8,min_9,min_10,min_11,min_12,min_13,min_14,min_15,min_16,min_17,min_18,min_19,min_20,min_21,min_22,min_23,min_24,min_25,min_26,min_27,min_28,min_29,min_30,min_31,min_32,min_33,min_34,min_35,min_36,min_37,min_38,min_39,min_40,min_41,min_42,min_43,min_44,min_45,min_46,min_47,min_48,min_49,min_50,min_51,min_52,min_53,min_54,min_55,min_56,min_57,min_58,min_59,min_60,min_61,min_62,min_63,min_64,min_65,min_66,min_67,min_68,min_69,min_70,min_71,min_72,min_73,min_74,min_75,min_76,min_77,min_78,min_79,min_80
0,2415,2430,2751,3929,5219,6418,8156,9520,10681,12036,13678,15590,16782,18417,20052,21608,23396,24248,25691,27452,30446,31672,33665,36399,37571,38659,39757,41498,42861,44378,45719,47095,48551,49524,51200,52518,53247,53893,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,2415,2415,2705,4062,5279,7322,8661,10372,11444,13260,14676,15723,18119,19663,21237,22809,24997,28072,30162,31469,32490,34362,36662,37981,39398,40331,41652,44239,45948,47134,49334,51052,52586,53374,55245,56618,62198,62846,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,2415,2415,2705,3817,4956,6132,7499,8605,9942,11434,13028,15942,17653,19941,21320,23236,24835,26384,29350,32365,33752,35258,39070,40973,42591,45637,46672,48001,49458,51181,52245,54233,58476,61061,62324,65435,69584,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,2415,2415,2705,3728,5048,6306,7308,8536,9689,11072,12952,13978,15289,16639,18575,19558,22343,23318,24585,25342,26616,27778,29198,30997,32647,34549,35535,36591,38024,39272,40585,41883,42547,43836,45798,46951,47804,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,2500,2500,2785,4216,6193,7618,9674,11203,13004,14497,15653,17089,19084,20938,22437,24228,27072,28475,31466,34244,37178,39046,41074,42978,44964,48148,49707,51624,54594,56268,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [39]:
combine_df = merged_df1[['match_id', 'league', 'season', 'year', 'team_name', 'red_or_blue_side', 'result',
                        'game_length']]
combine_df.head()

,match_id,league,season,year,team_name,red_or_blue_side,result,game_length
0,001a1f289e3bab22,LCK,Summer_Season,2015,ANC,blue,0,38
1,001a1f289e3bab22,LCK,Summer_Season,2015,CJE,red,1,38
2,001f50c8547e2e73,Season_World_Championship,International,2014,EDG,blue,1,37
3,001f50c8547e2e73,Season_World_Championship,International,2014,AHQ,red,0,37
4,002f613ae09ad421,LMS,Spring_Season,2016,TPA,blue,1,30

In [40]:
combine_df['type'] = 'total_gold'
combine_df['player_name'] = 'N/A'
combine_df['champion'] = 'N/A'
combine_df.head()

C:\Users\Mike\Anaconda2\envs\py3DataScience\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\Mike\Anaconda2\envs\py3DataScience\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\Mike\Anaconda2\envs\py3DataScience\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

,match_id,league,season,year,team_name,red_or_blue_side,result,game_length,type,player_name,champion
0,001a1f289e3bab22,LCK,Summer_Season,2015,ANC,blue,0,38,total_gold,N/A,N/A
1,001a1f289e3bab22,LCK,Summer_Season,2015,CJE,red,1,38,total_gold,N/A,N/A
2,001f50c8547e2e73,Season_World_Championship,International,2014,EDG,blue,1,37,total_gold,N/A,N/A
3,001f50c8547e2e73,Season_World_Championship,International,2014,AHQ,red,0,37,total_gold,N/A,N/A
4,002f613ae09ad421,LMS,Spring_Season,2016,TPA,blue,1,30,total_gold,N/A,N/A

In [41]:
gold_df = pd.merge(combine_df, expanded, left_index=True, right_index=True)
gold_df.shape

(7604, 92)

In [42]:
gold_df.head()

,match_id,league,season,year,team_name,red_or_blue_side,result,game_length,type,player_name,champion,min_0,min_1,min_2,min_3,min_4,min_5,min_6,min_7,min_8,min_9,min_10,min_11,min_12,min_13,min_14,min_15,min_16,min_17,min_18,min_19,min_20,min_21,min_22,min_23,min_24,min_25,min_26,min_27,min_28,min_29,min_30,min_31,min_32,min_33,min_34,min_35,min_36,min_37,min_38,min_39,min_40,min_41,min_42,min_43,min_44,min_45,min_46,min_47,min_48,min_49,min_50,min_51,min_52,min_53,min_54,min_55,min_56,min_57,min_58,min_59,min_60,min_61,min_62,min_63,min_64,min_65,min_66,min_67,min_68,min_69,min_70,min_71,min_72,min_73,min_74,min_75,min_76,min_77,min_78,min_79,min_80
0,001a1f289e3bab22,LCK,Summer_Season,2015,ANC,blue,0,38,total_gold,N/A,N/A,2415,2430,2751,3929,5219,6418,8156,9520,10681,12036,13678,15590,16782,18417,20052,21608,23396,24248,25691,27452,30446,31672,33665,36399,37571,38659,39757,41498,42861,44378,45719,47095,48551,49524,51200,52518,53247,53893,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,001a1f289e3bab22,LCK,Summer_Season,2015,CJE,red,1,38,total_gold,N/A,N/A,2415,2415,2705,4062,5279,7322,8661,10372,11444,13260,14676,15723,18119,19663,21237,22809,24997,28072,30162,31469,32490,34362,36662,37981,39398,40331,41652,44239,45948,47134,49334,51052,52586,53374,55245,56618,62198,62846,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,001f50c8547e2e73,Season_World_Championship,International,2014,EDG,blue,1,37,total_gold,N/A,N/A,2415,2415,2705,3817,4956,6132,7499,8605,9942,11434,13028,15942,17653,19941,21320,23236,24835,26384,29350,32365,33752,35258,39070,40973,42591,45637,46672,48001,49458,51181,52245,54233,58476,61061,62324,65435,69584,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,001f50c8547e2e73,Season_World_Championship,International,2014,AHQ,red,0,37,total_gold,N/A,N/A,2415,2415,2705,3728,5048,6306,7308,8536,9689,11072,12952,13978,15289,16639,18575,19558,22343,23318,24585,25342,26616,27778,29198,30997,32647,34549,35535,36591,38024,39272,40585,41883,42547,43836,45798,46951,47804,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,002f613ae09ad421,LMS,Spring_Season,2016,TPA,blue,1,30,total_gold,N/A,N/A,2500,2500,2785,4216,6193,7618,9674,11203,13004,14497,15653,17089,19084,20938,22437,24228,27072,28475,31466,34244,37178,39046,41074,42978,44964,48148,49707,51624,54594,56268,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [43]:
gold_df.to_csv('total_gold.csv')

### TOP

In [44]:
gold_values_df = merged_df1[['match_id', 'top_gold_min']]
gold_values_df.head()

           match_id                                       top_gold_min
0  001a1f289e3bab22  [475, 475, 532, 849, 1099, 1466, 1667, 1970, 2...
1  001a1f289e3bab22  [475, 475, 532, 756, 1051, 1241, 1793, 2081, 2...
2  001f50c8547e2e73  [475, 475, 532, 646, 861, 1014, 1375, 1557, 19...
3  001f50c8547e2e73  [475, 475, 532, 665, 994, 1287, 1440, 1704, 18...
4  002f613ae09ad421  [500, 500, 502, 724, 1210, 1451, 1795, 2134, 2...

In [45]:
expanded = gold_values_df['top_gold_min']
expanded = expanded.str.replace('[', '')
expanded = expanded.str.replace(']', '')

expanded = expanded.str.split(',', 81, expand=True)
expanded.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80
0,475,475,532,849,1099,1466,1667,1970,2147,2605,2961,3277,3643,3940,4327,4733,5223,5337,5650,6118,6917,7128,7529,7873,8111,8225,8478,9009,9468,9910,10331,10607,11079,11443,11626,11981,12120,12139,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,475,475,532,756,1051,1241,1793,2081,2272,2496,2844,3111,3497,3826,4267,4576,5028,5403,5921,6175,6289,6743,7222,7336,7576,7690,7974,8683,9204,9533,9771,10065,10271,10479,10867,11159,12055,12099,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,475,475,532,646,861,1014,1375,1557,1917,2220,2465,2983,3227,3577,3798,4214,4379,4789,5546,5983,6289,6404,7453,7966,8493,9180,9451,9793,10103,10623,10872,11339,12302,12708,13154,13712,14617,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,475,475,532,665,994,1287,1440,1704,1867,2260,2740,2939,3243,3538,3862,4049,4541,4749,4931,5099,5212,5424,5962,6121,6468,7072,7220,7572,7767,8022,8486,8666,8781,8994,9351,9502,9689,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,500,500,502,724,1210,1451,1795,2134,2503,2751,2875,3054,3470,3740,4018,4560,4816,5064,5485,5913,6416,6767,7285,7772,8178,8786,9221,9539,10237,10507,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [46]:
cols = list(expanded.columns.values)
cols1 = ['min_' + str(e) for e in cols]
expanded.columns = [cols1]
expanded.head()

,min_0,min_1,min_2,min_3,min_4,min_5,min_6,min_7,min_8,min_9,min_10,min_11,min_12,min_13,min_14,min_15,min_16,min_17,min_18,min_19,min_20,min_21,min_22,min_23,min_24,min_25,min_26,min_27,min_28,min_29,min_30,min_31,min_32,min_33,min_34,min_35,min_36,min_37,min_38,min_39,min_40,min_41,min_42,min_43,min_44,min_45,min_46,min_47,min_48,min_49,min_50,min_51,min_52,min_53,min_54,min_55,min_56,min_57,min_58,min_59,min_60,min_61,min_62,min_63,min_64,min_65,min_66,min_67,min_68,min_69,min_70,min_71,min_72,min_73,min_74,min_75,min_76,min_77,min_78,min_79,min_80
0,475,475,532,849,1099,1466,1667,1970,2147,2605,2961,3277,3643,3940,4327,4733,5223,5337,5650,6118,6917,7128,7529,7873,8111,8225,8478,9009,9468,9910,10331,10607,11079,11443,11626,11981,12120,12139,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,475,475,532,756,1051,1241,1793,2081,2272,2496,2844,3111,3497,3826,4267,4576,5028,5403,5921,6175,6289,6743,7222,7336,7576,7690,7974,8683,9204,9533,9771,10065,10271,10479,10867,11159,12055,12099,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,475,475,532,646,861,1014,1375,1557,1917,2220,2465,2983,3227,3577,3798,4214,4379,4789,5546,5983,6289,6404,7453,7966,8493,9180,9451,9793,10103,10623,10872,11339,12302,12708,13154,13712,14617,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,475,475,532,665,994,1287,1440,1704,1867,2260,2740,2939,3243,3538,3862,4049,4541,4749,4931,5099,5212,5424,5962,6121,6468,7072,7220,7572,7767,8022,8486,8666,8781,8994,9351,9502,9689,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,500,500,502,724,1210,1451,1795,2134,2503,2751,2875,3054,3470,3740,4018,4560,4816,5064,5485,5913,6416,6767,7285,7772,8178,8786,9221,9539,10237,10507,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [47]:
combine_df = merged_df1[['match_id', 'league', 'season', 'year', 'team_name', 'red_or_blue_side', 'result',
                        'game_length', 'top_player', 'top_champ']]
combine_df.head()

,match_id,league,season,year,team_name,red_or_blue_side,result,game_length,top_player,top_champ
0,001a1f289e3bab22,LCK,Summer_Season,2015,ANC,blue,0,38,ikssu,Hecarim
1,001a1f289e3bab22,LCK,Summer_Season,2015,CJE,red,1,38,Shy,Rumble
2,001f50c8547e2e73,Season_World_Championship,International,2014,EDG,blue,1,37,Koro1,Maokai
3,001f50c8547e2e73,Season_World_Championship,International,2014,AHQ,red,0,37,Prydz,Nidalee
4,002f613ae09ad421,LMS,Spring_Season,2016,TPA,blue,1,30,Morning,Trundle

In [48]:
combine_df['type'] = 'top_gold'
combine_df.head()

C:\Users\Mike\Anaconda2\envs\py3DataScience\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,match_id,league,season,year,team_name,red_or_blue_side,result,game_length,top_player,top_champ,type
0,001a1f289e3bab22,LCK,Summer_Season,2015,ANC,blue,0,38,ikssu,Hecarim,top_gold
1,001a1f289e3bab22,LCK,Summer_Season,2015,CJE,red,1,38,Shy,Rumble,top_gold
2,001f50c8547e2e73,Season_World_Championship,International,2014,EDG,blue,1,37,Koro1,Maokai,top_gold
3,001f50c8547e2e73,Season_World_Championship,International,2014,AHQ,red,0,37,Prydz,Nidalee,top_gold
4,002f613ae09ad421,LMS,Spring_Season,2016,TPA,blue,1,30,Morning,Trundle,top_gold

In [49]:
cols = list(combine_df.columns.values)
cols = ['match_id',
 'league',
 'season',
 'year',
 'team_name',
 'red_or_blue_side',
 'result',
 'game_length',
        'player_name',
        'champion',
 'type']
combine_df.columns = cols
combine_df.head()

,match_id,league,season,year,team_name,red_or_blue_side,result,game_length,player_name,champion,type
0,001a1f289e3bab22,LCK,Summer_Season,2015,ANC,blue,0,38,ikssu,Hecarim,top_gold
1,001a1f289e3bab22,LCK,Summer_Season,2015,CJE,red,1,38,Shy,Rumble,top_gold
2,001f50c8547e2e73,Season_World_Championship,International,2014,EDG,blue,1,37,Koro1,Maokai,top_gold
3,001f50c8547e2e73,Season_World_Championship,International,2014,AHQ,red,0,37,Prydz,Nidalee,top_gold
4,002f613ae09ad421,LMS,Spring_Season,2016,TPA,blue,1,30,Morning,Trundle,top_gold

In [50]:
cols = list(combine_df.columns.values)
cols = ['match_id',  'league', 'season', 'year', 'team_name', 'red_or_blue_side', 'result', 'game_length', 'type',
 'player_name',  'champion']
combine_df = combine_df[cols]
combine_df.head()

,match_id,league,season,year,team_name,red_or_blue_side,result,game_length,type,player_name,champion
0,001a1f289e3bab22,LCK,Summer_Season,2015,ANC,blue,0,38,top_gold,ikssu,Hecarim
1,001a1f289e3bab22,LCK,Summer_Season,2015,CJE,red,1,38,top_gold,Shy,Rumble
2,001f50c8547e2e73,Season_World_Championship,International,2014,EDG,blue,1,37,top_gold,Koro1,Maokai
3,001f50c8547e2e73,Season_World_Championship,International,2014,AHQ,red,0,37,top_gold,Prydz,Nidalee
4,002f613ae09ad421,LMS,Spring_Season,2016,TPA,blue,1,30,top_gold,Morning,Trundle

In [51]:
gold_df1 = pd.merge(combine_df, expanded, left_index=True, right_index=True)
gold_df1.shape

(7604, 92)

In [54]:
gold_df1.to_csv('top_gold.csv')
gold_df1.head()

,match_id,league,season,year,team_name,red_or_blue_side,result,game_length,type,player_name,champion,min_0,min_1,min_2,min_3,min_4,min_5,min_6,min_7,min_8,min_9,min_10,min_11,min_12,min_13,min_14,min_15,min_16,min_17,min_18,min_19,min_20,min_21,min_22,min_23,min_24,min_25,min_26,min_27,min_28,min_29,min_30,min_31,min_32,min_33,min_34,min_35,min_36,min_37,min_38,min_39,min_40,min_41,min_42,min_43,min_44,min_45,min_46,min_47,min_48,min_49,min_50,min_51,min_52,min_53,min_54,min_55,min_56,min_57,min_58,min_59,min_60,min_61,min_62,min_63,min_64,min_65,min_66,min_67,min_68,min_69,min_70,min_71,min_72,min_73,min_74,min_75,min_76,min_77,min_78,min_79,min_80
0,001a1f289e3bab22,LCK,Summer_Season,2015,ANC,blue,0,38,top_gold,ikssu,Hecarim,475,475,532,849,1099,1466,1667,1970,2147,2605,2961,3277,3643,3940,4327,4733,5223,5337,5650,6118,6917,7128,7529,7873,8111,8225,8478,9009,9468,9910,10331,10607,11079,11443,11626,11981,12120,12139,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,001a1f289e3bab22,LCK,Summer_Season,2015,CJE,red,1,38,top_gold,Shy,Rumble,475,475,532,756,1051,1241,1793,2081,2272,2496,2844,3111,3497,3826,4267,4576,5028,5403,5921,6175,6289,6743,7222,7336,7576,7690,7974,8683,9204,9533,9771,10065,10271,10479,10867,11159,12055,12099,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,001f50c8547e2e73,Season_World_Championship,International,2014,EDG,blue,1,37,top_gold,Koro1,Maokai,475,475,532,646,861,1014,1375,1557,1917,2220,2465,2983,3227,3577,3798,4214,4379,4789,5546,5983,6289,6404,7453,7966,8493,9180,9451,9793,10103,10623,10872,11339,12302,12708,13154,13712,14617,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,001f50c8547e2e73,Season_World_Championship,International,2014,AHQ,red,0,37,top_gold,Prydz,Nidalee,475,475,532,665,994,1287,1440,1704,1867,2260,2740,2939,3243,3538,3862,4049,4541,4749,4931,5099,5212,5424,5962,6121,6468,7072,7220,7572,7767,8022,8486,8666,8781,8994,9351,9502,9689,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,002f613ae09ad421,LMS,Spring_Season,2016,TPA,blue,1,30,top_gold,Morning,Trundle,500,500,502,724,1210,1451,1795,2134,2503,2751,2875,3054,3470,3740,4018,4560,4816,5064,5485,5913,6416,6767,7285,7772,8178,8786,9221,9539,10237,10507,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [55]:
frames = [gold_df, gold_df1]
gold_df_merged = pd.concat(frames)
gold_df_merged.shape

(15208, 92)

In [75]:
gold_df_merged.type.value_counts()

top_gold      7604
total_gold    7604
Name: type, dtype: int64

### JUNGLE

In [56]:
gold_values_df = merged_df1[['match_id', 'jungle_gold_min']]
gold_values_df.head()

           match_id                                    jungle_gold_min
0  001a1f289e3bab22  [475, 475, 552, 817, 1099, 1278, 1708, 2097, 2...
1  001a1f289e3bab22  [475, 475, 532, 909, 1143, 1615, 1829, 2108, 2...
2  001f50c8547e2e73  [475, 475, 532, 850, 1081, 1260, 1535, 1776, 2...
3  001f50c8547e2e73  [475, 475, 532, 806, 955, 1187, 1373, 1536, 17...
4  002f613ae09ad421  [500, 500, 588, 977, 1293, 1560, 1964, 2196, 2...

In [57]:
expanded = gold_values_df['jungle_gold_min']
expanded = expanded.str.replace('[', '')
expanded = expanded.str.replace(']', '')

expanded = expanded.str.split(',', 81, expand=True)
expanded.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80
0,475,475,552,817,1099,1278,1708,2097,2414,2533,2938,3337,3553,3735,4153,4385,4689,4803,5107,5419,5783,5919,6158,6555,6669,6903,7047,7339,7475,7720,7942,8205,8319,8453,8874,9018,9132,9151,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,475,475,532,909,1143,1615,1829,2108,2310,2650,2911,3071,3570,3684,4073,4298,4650,5392,5860,6034,6203,6537,6933,7443,7637,7862,8006,8352,8656,8800,9189,9303,9556,9755,10206,10455,11926,12091,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,475,475,532,850,1081,1260,1535,1776,2034,2232,2719,3379,3881,4188,4470,4763,5144,5364,5871,6513,6820,7043,7750,8193,8536,9147,9545,9703,9885,10097,10240,10354,10864,11342,11663,12194,13050,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,475,475,532,806,955,1187,1373,1536,1790,1999,2620,2819,3207,3404,3803,3917,4030,4275,4448,4575,4811,5060,5313,5646,5860,6056,6209,6336,6481,6699,6813,6965,7080,7193,7584,7787,7923,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,500,500,588,977,1293,1560,1964,2196,2567,2827,3196,3459,3621,3991,4311,4538,5103,5420,5861,6624,7094,7313,7674,7839,8205,8644,8912,9248,9725,10192,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [58]:
cols = list(expanded.columns.values)
cols1 = ['min_' + str(e) for e in cols]
expanded.columns = [cols1]
expanded.head()

,min_0,min_1,min_2,min_3,min_4,min_5,min_6,min_7,min_8,min_9,min_10,min_11,min_12,min_13,min_14,min_15,min_16,min_17,min_18,min_19,min_20,min_21,min_22,min_23,min_24,min_25,min_26,min_27,min_28,min_29,min_30,min_31,min_32,min_33,min_34,min_35,min_36,min_37,min_38,min_39,min_40,min_41,min_42,min_43,min_44,min_45,min_46,min_47,min_48,min_49,min_50,min_51,min_52,min_53,min_54,min_55,min_56,min_57,min_58,min_59,min_60,min_61,min_62,min_63,min_64,min_65,min_66,min_67,min_68,min_69,min_70,min_71,min_72,min_73,min_74,min_75,min_76,min_77,min_78,min_79,min_80
0,475,475,552,817,1099,1278,1708,2097,2414,2533,2938,3337,3553,3735,4153,4385,4689,4803,5107,5419,5783,5919,6158,6555,6669,6903,7047,7339,7475,7720,7942,8205,8319,8453,8874,9018,9132,9151,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,475,475,532,909,1143,1615,1829,2108,2310,2650,2911,3071,3570,3684,4073,4298,4650,5392,5860,6034,6203,6537,6933,7443,7637,7862,8006,8352,8656,8800,9189,9303,9556,9755,10206,10455,11926,12091,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,475,475,532,850,1081,1260,1535,1776,2034,2232,2719,3379,3881,4188,4470,4763,5144,5364,5871,6513,6820,7043,7750,8193,8536,9147,9545,9703,9885,10097,10240,10354,10864,11342,11663,12194,13050,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,475,475,532,806,955,1187,1373,1536,1790,1999,2620,2819,3207,3404,3803,3917,4030,4275,4448,4575,4811,5060,5313,5646,5860,6056,6209,6336,6481,6699,6813,6965,7080,7193,7584,7787,7923,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,500,500,588,977,1293,1560,1964,2196,2567,2827,3196,3459,3621,3991,4311,4538,5103,5420,5861,6624,7094,7313,7674,7839,8205,8644,8912,9248,9725,10192,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [59]:
combine_df = merged_df1[['match_id', 'league', 'season', 'year', 'team_name', 'red_or_blue_side', 'result',
                        'game_length', 'jungle_player', 'jungle_champ']]
combine_df.head()

,match_id,league,season,year,team_name,red_or_blue_side,result,game_length,jungle_player,jungle_champ
0,001a1f289e3bab22,LCK,Summer_Season,2015,ANC,blue,0,38,lira,Gragas
1,001a1f289e3bab22,LCK,Summer_Season,2015,CJE,red,1,38,Ambition,Sejuani
2,001f50c8547e2e73,Season_World_Championship,International,2014,EDG,blue,1,37,Clearlove,Rengar
3,001f50c8547e2e73,Season_World_Championship,International,2014,AHQ,red,0,37,NAZ,Khazix
4,002f613ae09ad421,LMS,Spring_Season,2016,TPA,blue,1,30,REFRA1N,RekSai

In [60]:
combine_df['type'] = 'jungle_gold'
combine_df.head()

C:\Users\Mike\Anaconda2\envs\py3DataScience\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,match_id,league,season,year,team_name,red_or_blue_side,result,game_length,jungle_player,jungle_champ,type
0,001a1f289e3bab22,LCK,Summer_Season,2015,ANC,blue,0,38,lira,Gragas,jungle_gold
1,001a1f289e3bab22,LCK,Summer_Season,2015,CJE,red,1,38,Ambition,Sejuani,jungle_gold
2,001f50c8547e2e73,Season_World_Championship,International,2014,EDG,blue,1,37,Clearlove,Rengar,jungle_gold
3,001f50c8547e2e73,Season_World_Championship,International,2014,AHQ,red,0,37,NAZ,Khazix,jungle_gold
4,002f613ae09ad421,LMS,Spring_Season,2016,TPA,blue,1,30,REFRA1N,RekSai,jungle_gold

In [61]:
cols = list(combine_df.columns.values)
cols = ['match_id',
 'league',
 'season',
 'year',
 'team_name',
 'red_or_blue_side',
 'result',
 'game_length',
        'player_name',
        'champion',
 'type']
combine_df.columns = cols
combine_df.head()

,match_id,league,season,year,team_name,red_or_blue_side,result,game_length,player_name,champion,type
0,001a1f289e3bab22,LCK,Summer_Season,2015,ANC,blue,0,38,lira,Gragas,jungle_gold
1,001a1f289e3bab22,LCK,Summer_Season,2015,CJE,red,1,38,Ambition,Sejuani,jungle_gold
2,001f50c8547e2e73,Season_World_Championship,International,2014,EDG,blue,1,37,Clearlove,Rengar,jungle_gold
3,001f50c8547e2e73,Season_World_Championship,International,2014,AHQ,red,0,37,NAZ,Khazix,jungle_gold
4,002f613ae09ad421,LMS,Spring_Season,2016,TPA,blue,1,30,REFRA1N,RekSai,jungle_gold

In [62]:
cols = list(combine_df.columns.values)
cols = ['match_id',  'league', 'season', 'year', 'team_name', 'red_or_blue_side', 'result', 'game_length', 'type',
 'player_name',  'champion']
combine_df = combine_df[cols]
combine_df.head()

,match_id,league,season,year,team_name,red_or_blue_side,result,game_length,type,player_name,champion
0,001a1f289e3bab22,LCK,Summer_Season,2015,ANC,blue,0,38,jungle_gold,lira,Gragas
1,001a1f289e3bab22,LCK,Summer_Season,2015,CJE,red,1,38,jungle_gold,Ambition,Sejuani
2,001f50c8547e2e73,Season_World_Championship,International,2014,EDG,blue,1,37,jungle_gold,Clearlove,Rengar
3,001f50c8547e2e73,Season_World_Championship,International,2014,AHQ,red,0,37,jungle_gold,NAZ,Khazix
4,002f613ae09ad421,LMS,Spring_Season,2016,TPA,blue,1,30,jungle_gold,REFRA1N,RekSai

In [65]:
gold_df1.to_csv('jungle_gold.csv')

In [63]:
gold_df1 = pd.merge(combine_df, expanded, left_index=True, right_index=True)
gold_df1.shape

(7604, 92)

In [64]:
gold_df1.head()

,match_id,league,season,year,team_name,red_or_blue_side,result,game_length,type,player_name,champion,min_0,min_1,min_2,min_3,min_4,min_5,min_6,min_7,min_8,min_9,min_10,min_11,min_12,min_13,min_14,min_15,min_16,min_17,min_18,min_19,min_20,min_21,min_22,min_23,min_24,min_25,min_26,min_27,min_28,min_29,min_30,min_31,min_32,min_33,min_34,min_35,min_36,min_37,min_38,min_39,min_40,min_41,min_42,min_43,min_44,min_45,min_46,min_47,min_48,min_49,min_50,min_51,min_52,min_53,min_54,min_55,min_56,min_57,min_58,min_59,min_60,min_61,min_62,min_63,min_64,min_65,min_66,min_67,min_68,min_69,min_70,min_71,min_72,min_73,min_74,min_75,min_76,min_77,min_78,min_79,min_80
0,001a1f289e3bab22,LCK,Summer_Season,2015,ANC,blue,0,38,jungle_gold,lira,Gragas,475,475,552,817,1099,1278,1708,2097,2414,2533,2938,3337,3553,3735,4153,4385,4689,4803,5107,5419,5783,5919,6158,6555,6669,6903,7047,7339,7475,7720,7942,8205,8319,8453,8874,9018,9132,9151,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,001a1f289e3bab22,LCK,Summer_Season,2015,CJE,red,1,38,jungle_gold,Ambition,Sejuani,475,475,532,909,1143,1615,1829,2108,2310,2650,2911,3071,3570,3684,4073,4298,4650,5392,5860,6034,6203,6537,6933,7443,7637,7862,8006,8352,8656,8800,9189,9303,9556,9755,10206,10455,11926,12091,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,001f50c8547e2e73,Season_World_Championship,International,2014,EDG,blue,1,37,jungle_gold,Clearlove,Rengar,475,475,532,850,1081,1260,1535,1776,2034,2232,2719,3379,3881,4188,4470,4763,5144,5364,5871,6513,6820,7043,7750,8193,8536,9147,9545,9703,9885,10097,10240,10354,10864,11342,11663,12194,13050,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,001f50c8547e2e73,Season_World_Championship,International,2014,AHQ,red,0,37,jungle_gold,NAZ,Khazix,475,475,532,806,955,1187,1373,1536,1790,1999,2620,2819,3207,3404,3803,3917,4030,4275,4448,4575,4811,5060,5313,5646,5860,6056,6209,6336,6481,6699,6813,6965,7080,7193,7584,7787,7923,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,002f613ae09ad421,LMS,Spring_Season,2016,TPA,blue,1,30,jungle_gold,REFRA1N,RekSai,500,500,588,977,1293,1560,1964,2196,2567,2827,3196,3459,3621,3991,4311,4538,5103,5420,5861,6624,7094,7313,7674,7839,8205,8644,8912,9248,9725,10192,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [85]:
frames = [gold_df_merged, gold_df1]
gold_df_merged = pd.concat(frames)
gold_df_merged.shape

(22812, 92)

In [86]:
gold_df_merged.type.value_counts()

jungle_gold    7604
total_gold     7604
top_gold       7604
Name: type, dtype: int64

### MID

In [66]:
gold_values_df = merged_df1[['match_id', 'mid_gold_min']]
gold_values_df.head()

           match_id                                       mid_gold_min
0  001a1f289e3bab22  [475, 475, 532, 791, 1107, 1352, 1574, 1708, 1...
1  001a1f289e3bab22  [475, 475, 532, 826, 1045, 1397, 1690, 2310, 2...
2  001f50c8547e2e73  [475, 475, 532, 806, 1117, 1486, 1741, 2168, 2...
3  001f50c8547e2e73  [475, 475, 532, 792, 1089, 1301, 1612, 1879, 2...
4  002f613ae09ad421  [500, 500, 596, 869, 1398, 1752, 2193, 2515, 2...

In [67]:
expanded = gold_values_df['mid_gold_min']
expanded = expanded.str.replace('[', '')
expanded = expanded.str.replace(']', '')

expanded = expanded.str.split(',', 81, expand=True)
expanded.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80
0,475,475,532,791,1107,1352,1574,1708,1988,2321,2661,2982,3251,3772,4102,4495,4927,5041,5458,5820,6426,6826,7118,7973,8239,8450,8778,8988,9209,9664,9852,10093,10384,10555,10933,11105,11219,11238,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,475,475,532,826,1045,1397,1690,2310,2600,2955,3296,3617,4534,4798,5245,5712,6330,7358,7797,8205,8438,8895,9362,9476,9711,9966,10282,10645,11147,11492,12013,12534,12837,12966,13443,13793,14974,15213,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,475,475,532,806,1117,1486,1741,2168,2382,2832,3128,3895,4125,4831,5213,5790,6261,6625,6973,7795,8327,8862,9466,9905,10185,11214,11328,11783,11982,12490,12761,13579,14526,15183,15442,16216,17008,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,475,475,532,792,1089,1301,1612,1879,2063,2415,2740,3047,3246,3704,4129,4440,5064,5272,5819,5949,6372,6633,6747,7253,7467,7832,8088,8386,8751,9197,9489,9894,10089,10516,10839,11068,11326,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,500,500,596,869,1398,1752,2193,2515,2901,3324,3729,4003,4873,5133,5596,6036,6851,7316,8206,8903,9699,10418,10680,11044,11500,12405,12539,12972,13646,14003,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [68]:
cols = list(expanded.columns.values)
cols1 = ['min_' + str(e) for e in cols]
expanded.columns = [cols1]
expanded.head()

,min_0,min_1,min_2,min_3,min_4,min_5,min_6,min_7,min_8,min_9,min_10,min_11,min_12,min_13,min_14,min_15,min_16,min_17,min_18,min_19,min_20,min_21,min_22,min_23,min_24,min_25,min_26,min_27,min_28,min_29,min_30,min_31,min_32,min_33,min_34,min_35,min_36,min_37,min_38,min_39,min_40,min_41,min_42,min_43,min_44,min_45,min_46,min_47,min_48,min_49,min_50,min_51,min_52,min_53,min_54,min_55,min_56,min_57,min_58,min_59,min_60,min_61,min_62,min_63,min_64,min_65,min_66,min_67,min_68,min_69,min_70,min_71,min_72,min_73,min_74,min_75,min_76,min_77,min_78,min_79,min_80
0,475,475,532,791,1107,1352,1574,1708,1988,2321,2661,2982,3251,3772,4102,4495,4927,5041,5458,5820,6426,6826,7118,7973,8239,8450,8778,8988,9209,9664,9852,10093,10384,10555,10933,11105,11219,11238,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,475,475,532,826,1045,1397,1690,2310,2600,2955,3296,3617,4534,4798,5245,5712,6330,7358,7797,8205,8438,8895,9362,9476,9711,9966,10282,10645,11147,11492,12013,12534,12837,12966,13443,13793,14974,15213,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,475,475,532,806,1117,1486,1741,2168,2382,2832,3128,3895,4125,4831,5213,5790,6261,6625,6973,7795,8327,8862,9466,9905,10185,11214,11328,11783,11982,12490,12761,13579,14526,15183,15442,16216,17008,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,475,475,532,792,1089,1301,1612,1879,2063,2415,2740,3047,3246,3704,4129,4440,5064,5272,5819,5949,6372,6633,6747,7253,7467,7832,8088,8386,8751,9197,9489,9894,10089,10516,10839,11068,11326,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,500,500,596,869,1398,1752,2193,2515,2901,3324,3729,4003,4873,5133,5596,6036,6851,7316,8206,8903,9699,10418,10680,11044,11500,12405,12539,12972,13646,14003,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [69]:
combine_df = merged_df1[['match_id', 'league', 'season', 'year', 'team_name', 'red_or_blue_side', 'result',
                        'game_length', 'mid_player', 'mid_champ']]
combine_df.head()

,match_id,league,season,year,team_name,red_or_blue_side,result,game_length,mid_player,mid_champ
0,001a1f289e3bab22,LCK,Summer_Season,2015,ANC,blue,0,38,Mickey,Vladimir
1,001a1f289e3bab22,LCK,Summer_Season,2015,CJE,red,1,38,Coco,Cassiopeia
2,001f50c8547e2e73,Season_World_Championship,International,2014,EDG,blue,1,37,U,Zed
3,001f50c8547e2e73,Season_World_Championship,International,2014,AHQ,red,0,37,westdoor,Talon
4,002f613ae09ad421,LMS,Spring_Season,2016,TPA,blue,1,30,FoFo,Lissandra

In [70]:
combine_df['type'] = 'mid_gold'
combine_df.head()

C:\Users\Mike\Anaconda2\envs\py3DataScience\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,match_id,league,season,year,team_name,red_or_blue_side,result,game_length,mid_player,mid_champ,type
0,001a1f289e3bab22,LCK,Summer_Season,2015,ANC,blue,0,38,Mickey,Vladimir,mid_gold
1,001a1f289e3bab22,LCK,Summer_Season,2015,CJE,red,1,38,Coco,Cassiopeia,mid_gold
2,001f50c8547e2e73,Season_World_Championship,International,2014,EDG,blue,1,37,U,Zed,mid_gold
3,001f50c8547e2e73,Season_World_Championship,International,2014,AHQ,red,0,37,westdoor,Talon,mid_gold
4,002f613ae09ad421,LMS,Spring_Season,2016,TPA,blue,1,30,FoFo,Lissandra,mid_gold

In [71]:
cols = list(combine_df.columns.values)
cols = ['match_id',
 'league',
 'season',
 'year',
 'team_name',
 'red_or_blue_side',
 'result',
 'game_length',
        'player_name',
        'champion',
 'type']
combine_df.columns = cols
combine_df.head()

,match_id,league,season,year,team_name,red_or_blue_side,result,game_length,player_name,champion,type
0,001a1f289e3bab22,LCK,Summer_Season,2015,ANC,blue,0,38,Mickey,Vladimir,mid_gold
1,001a1f289e3bab22,LCK,Summer_Season,2015,CJE,red,1,38,Coco,Cassiopeia,mid_gold
2,001f50c8547e2e73,Season_World_Championship,International,2014,EDG,blue,1,37,U,Zed,mid_gold
3,001f50c8547e2e73,Season_World_Championship,International,2014,AHQ,red,0,37,westdoor,Talon,mid_gold
4,002f613ae09ad421,LMS,Spring_Season,2016,TPA,blue,1,30,FoFo,Lissandra,mid_gold

In [72]:
cols = list(combine_df.columns.values)
cols = ['match_id',  'league', 'season', 'year', 'team_name', 'red_or_blue_side', 'result', 'game_length', 'type',
 'player_name',  'champion']
combine_df = combine_df[cols]
combine_df.head()

,match_id,league,season,year,team_name,red_or_blue_side,result,game_length,type,player_name,champion
0,001a1f289e3bab22,LCK,Summer_Season,2015,ANC,blue,0,38,mid_gold,Mickey,Vladimir
1,001a1f289e3bab22,LCK,Summer_Season,2015,CJE,red,1,38,mid_gold,Coco,Cassiopeia
2,001f50c8547e2e73,Season_World_Championship,International,2014,EDG,blue,1,37,mid_gold,U,Zed
3,001f50c8547e2e73,Season_World_Championship,International,2014,AHQ,red,0,37,mid_gold,westdoor,Talon
4,002f613ae09ad421,LMS,Spring_Season,2016,TPA,blue,1,30,mid_gold,FoFo,Lissandra

In [73]:
gold_df1 = pd.merge(combine_df, expanded, left_index=True, right_index=True)
gold_df1.shape

(7604, 92)

In [74]:
gold_df1.to_csv('mid_gold.csv')

In [95]:
frames = [gold_df_merged, gold_df1]
gold_df_merged = pd.concat(frames)
gold_df_merged.shape

(30416, 92)

In [96]:
gold_df_merged.type.value_counts()

jungle_gold    7604
total_gold     7604
mid_gold       7604
top_gold       7604
Name: type, dtype: int64

### ADC

In [75]:
gold_values_df = merged_df1[['match_id', 'adc_gold_min']]
gold_values_df.head()

           match_id                                       adc_gold_min
0  001a1f289e3bab22  [475, 475, 532, 686, 976, 1196, 1687, 1995, 22...
1  001a1f289e3bab22  [475, 475, 532, 836, 1131, 1593, 1748, 2041, 2...
2  001f50c8547e2e73  [475, 475, 532, 787, 1046, 1360, 1693, 1826, 2...
3  001f50c8547e2e73  [475, 475, 532, 764, 1117, 1467, 1696, 2029, 2...
4  002f613ae09ad421  [500, 500, 516, 865, 1243, 1580, 2034, 2397, 2...

In [76]:
expanded = gold_values_df['adc_gold_min']
expanded = expanded.str.replace('[', '')
expanded = expanded.str.replace(']', '')

expanded = expanded.str.split(',', 81, expand=True)
expanded.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80
0,475,475,532,686,976,1196,1687,1995,2244,2535,2906,3500,3656,4043,4395,4748,5155,5429,5658,6102,6812,7126,7852,8650,9034,9396,9587,9797,10141,10315,10630,11091,11455,11599,12094,12585,12719,13076,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,475,475,532,836,1131,1593,1748,2041,2264,2865,3184,3330,3540,4208,4381,4739,5252,5576,5959,6277,6657,7112,7788,8103,8683,8884,9285,10151,10387,10593,11473,11687,12286,12400,12792,13101,14365,14471,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,475,475,532,787,1046,1360,1693,1826,2174,2557,2855,3370,3797,4163,4489,4696,5056,5388,6345,6953,7073,7521,8072,8358,8643,8998,9112,9364,9901,10186,10442,10723,11822,12378,12492,13203,14151,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,475,475,532,764,1117,1467,1696,2029,2405,2683,2961,3117,3407,3680,4127,4350,5301,5491,5676,5864,6157,6468,6717,7260,7892,8341,8625,8782,9247,9438,9737,10175,10290,10676,11235,11673,11816,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,500,500,516,865,1243,1580,2034,2397,2870,3249,3372,3828,4191,4739,5017,5388,6251,6453,7166,7693,8438,8841,9421,10054,10534,11309,11792,12371,13022,13404,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [77]:
cols = list(expanded.columns.values)
cols1 = ['min_' + str(e) for e in cols]
expanded.columns = [cols1]
expanded.head()

,min_0,min_1,min_2,min_3,min_4,min_5,min_6,min_7,min_8,min_9,min_10,min_11,min_12,min_13,min_14,min_15,min_16,min_17,min_18,min_19,min_20,min_21,min_22,min_23,min_24,min_25,min_26,min_27,min_28,min_29,min_30,min_31,min_32,min_33,min_34,min_35,min_36,min_37,min_38,min_39,min_40,min_41,min_42,min_43,min_44,min_45,min_46,min_47,min_48,min_49,min_50,min_51,min_52,min_53,min_54,min_55,min_56,min_57,min_58,min_59,min_60,min_61,min_62,min_63,min_64,min_65,min_66,min_67,min_68,min_69,min_70,min_71,min_72,min_73,min_74,min_75,min_76,min_77,min_78,min_79,min_80
0,475,475,532,686,976,1196,1687,1995,2244,2535,2906,3500,3656,4043,4395,4748,5155,5429,5658,6102,6812,7126,7852,8650,9034,9396,9587,9797,10141,10315,10630,11091,11455,11599,12094,12585,12719,13076,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,475,475,532,836,1131,1593,1748,2041,2264,2865,3184,3330,3540,4208,4381,4739,5252,5576,5959,6277,6657,7112,7788,8103,8683,8884,9285,10151,10387,10593,11473,11687,12286,12400,12792,13101,14365,14471,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,475,475,532,787,1046,1360,1693,1826,2174,2557,2855,3370,3797,4163,4489,4696,5056,5388,6345,6953,7073,7521,8072,8358,8643,8998,9112,9364,9901,10186,10442,10723,11822,12378,12492,13203,14151,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,475,475,532,764,1117,1467,1696,2029,2405,2683,2961,3117,3407,3680,4127,4350,5301,5491,5676,5864,6157,6468,6717,7260,7892,8341,8625,8782,9247,9438,9737,10175,10290,10676,11235,11673,11816,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,500,500,516,865,1243,1580,2034,2397,2870,3249,3372,3828,4191,4739,5017,5388,6251,6453,7166,7693,8438,8841,9421,10054,10534,11309,11792,12371,13022,13404,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [78]:
combine_df = merged_df1[['match_id', 'league', 'season', 'year', 'team_name', 'red_or_blue_side', 'result',
                        'game_length', 'adc_player', 'adc_champ']]
combine_df.head()

,match_id,league,season,year,team_name,red_or_blue_side,result,game_length,adc_player,adc_champ
0,001a1f289e3bab22,LCK,Summer_Season,2015,ANC,blue,0,38,Sangyoon,Sivir
1,001a1f289e3bab22,LCK,Summer_Season,2015,CJE,red,1,38,Space,Jinx
2,001f50c8547e2e73,Season_World_Championship,International,2014,EDG,blue,1,37,NaMei,Twitch
3,001f50c8547e2e73,Season_World_Championship,International,2014,AHQ,red,0,37,GarnetDevil,Lucian
4,002f613ae09ad421,LMS,Spring_Season,2016,TPA,blue,1,30,BeBe,Lucian

In [79]:
combine_df['type'] = 'adc_gold'
combine_df.head()

C:\Users\Mike\Anaconda2\envs\py3DataScience\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,match_id,league,season,year,team_name,red_or_blue_side,result,game_length,adc_player,adc_champ,type
0,001a1f289e3bab22,LCK,Summer_Season,2015,ANC,blue,0,38,Sangyoon,Sivir,adc_gold
1,001a1f289e3bab22,LCK,Summer_Season,2015,CJE,red,1,38,Space,Jinx,adc_gold
2,001f50c8547e2e73,Season_World_Championship,International,2014,EDG,blue,1,37,NaMei,Twitch,adc_gold
3,001f50c8547e2e73,Season_World_Championship,International,2014,AHQ,red,0,37,GarnetDevil,Lucian,adc_gold
4,002f613ae09ad421,LMS,Spring_Season,2016,TPA,blue,1,30,BeBe,Lucian,adc_gold

In [80]:
cols = list(combine_df.columns.values)
cols = ['match_id',
 'league',
 'season',
 'year',
 'team_name',
 'red_or_blue_side',
 'result',
 'game_length',
        'player_name',
        'champion',
 'type']
combine_df.columns = cols
combine_df.head()

,match_id,league,season,year,team_name,red_or_blue_side,result,game_length,player_name,champion,type
0,001a1f289e3bab22,LCK,Summer_Season,2015,ANC,blue,0,38,Sangyoon,Sivir,adc_gold
1,001a1f289e3bab22,LCK,Summer_Season,2015,CJE,red,1,38,Space,Jinx,adc_gold
2,001f50c8547e2e73,Season_World_Championship,International,2014,EDG,blue,1,37,NaMei,Twitch,adc_gold
3,001f50c8547e2e73,Season_World_Championship,International,2014,AHQ,red,0,37,GarnetDevil,Lucian,adc_gold
4,002f613ae09ad421,LMS,Spring_Season,2016,TPA,blue,1,30,BeBe,Lucian,adc_gold

In [81]:
cols = list(combine_df.columns.values)
cols = ['match_id',  'league', 'season', 'year', 'team_name', 'red_or_blue_side', 'result', 'game_length', 'type',
 'player_name',  'champion']
combine_df = combine_df[cols]
combine_df.head()

,match_id,league,season,year,team_name,red_or_blue_side,result,game_length,type,player_name,champion
0,001a1f289e3bab22,LCK,Summer_Season,2015,ANC,blue,0,38,adc_gold,Sangyoon,Sivir
1,001a1f289e3bab22,LCK,Summer_Season,2015,CJE,red,1,38,adc_gold,Space,Jinx
2,001f50c8547e2e73,Season_World_Championship,International,2014,EDG,blue,1,37,adc_gold,NaMei,Twitch
3,001f50c8547e2e73,Season_World_Championship,International,2014,AHQ,red,0,37,adc_gold,GarnetDevil,Lucian
4,002f613ae09ad421,LMS,Spring_Season,2016,TPA,blue,1,30,adc_gold,BeBe,Lucian

In [82]:
gold_df1 = pd.merge(combine_df, expanded, left_index=True, right_index=True)
gold_df1.shape

(7604, 92)

In [83]:
gold_df1.to_csv('adc_gold.csv')

In [105]:
frames = [gold_df_merged, gold_df1]
gold_df_merged = pd.concat(frames)
gold_df_merged.shape

(38020, 92)

In [106]:
gold_df_merged.type.value_counts()

adc_gold       7604
jungle_gold    7604
total_gold     7604
mid_gold       7604
top_gold       7604
Name: type, dtype: int64

### SUPPORT

In [84]:
gold_values_df = merged_df1[['match_id', 'support_gold_min']]
gold_values_df.head()

           match_id                                   support_gold_min
0  001a1f289e3bab22  [515, 530, 603, 786, 938, 1126, 1520, 1750, 18...
1  001a1f289e3bab22  [515, 515, 577, 735, 909, 1476, 1601, 1832, 19...
2  001f50c8547e2e73  [515, 515, 577, 728, 851, 1012, 1155, 1278, 14...
3  001f50c8547e2e73  [515, 515, 577, 701, 893, 1064, 1187, 1388, 15...
4  002f613ae09ad421  [500, 500, 583, 781, 1049, 1275, 1688, 1961, 2...

In [85]:
expanded = gold_values_df['support_gold_min']
expanded = expanded.str.replace('[', '')
expanded = expanded.str.replace(']', '')

expanded = expanded.str.split(',', 81, expand=True)
expanded.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80
0,515,530,603,786,938,1126,1520,1750,1888,2042,2212,2494,2679,2927,3075,3247,3402,3638,3818,3993,4508,4673,5008,5348,5518,5685,5867,6365,6568,6769,6964,7099,7314,7474,7673,7829,8057,8289,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,515,515,577,735,909,1476,1601,1832,1998,2294,2441,2594,2978,3147,3271,3484,3737,4343,4625,4778,4903,5075,5357,5623,5791,5929,6105,6408,6554,6716,6888,7463,7636,7774,7937,8110,8878,8972,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,515,515,577,728,851,1012,1155,1278,1435,1593,1861,2315,2623,3182,3350,3773,3995,4218,4615,5121,5243,5428,6329,6551,6734,7098,7236,7358,7587,7785,7930,8238,8962,9450,9573,10110,10758,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,515,515,577,701,893,1064,1187,1388,1564,1715,1891,2056,2186,2313,2654,2802,3407,3531,3711,3855,4064,4193,4459,4717,4960,5248,5393,5515,5778,5916,6060,6183,6307,6457,6789,6921,7050,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,500,500,583,781,1049,1275,1688,1961,2163,2346,2481,2745,2929,3335,3495,3706,4051,4222,4748,5111,5531,5707,6014,6269,6547,7004,7243,7494,7964,8162,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [86]:
cols = list(expanded.columns.values)
cols1 = ['min_' + str(e) for e in cols]
expanded.columns = [cols1]
expanded.head()

,min_0,min_1,min_2,min_3,min_4,min_5,min_6,min_7,min_8,min_9,min_10,min_11,min_12,min_13,min_14,min_15,min_16,min_17,min_18,min_19,min_20,min_21,min_22,min_23,min_24,min_25,min_26,min_27,min_28,min_29,min_30,min_31,min_32,min_33,min_34,min_35,min_36,min_37,min_38,min_39,min_40,min_41,min_42,min_43,min_44,min_45,min_46,min_47,min_48,min_49,min_50,min_51,min_52,min_53,min_54,min_55,min_56,min_57,min_58,min_59,min_60,min_61,min_62,min_63,min_64,min_65,min_66,min_67,min_68,min_69,min_70,min_71,min_72,min_73,min_74,min_75,min_76,min_77,min_78,min_79,min_80
0,515,530,603,786,938,1126,1520,1750,1888,2042,2212,2494,2679,2927,3075,3247,3402,3638,3818,3993,4508,4673,5008,5348,5518,5685,5867,6365,6568,6769,6964,7099,7314,7474,7673,7829,8057,8289,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,515,515,577,735,909,1476,1601,1832,1998,2294,2441,2594,2978,3147,3271,3484,3737,4343,4625,4778,4903,5075,5357,5623,5791,5929,6105,6408,6554,6716,6888,7463,7636,7774,7937,8110,8878,8972,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,515,515,577,728,851,1012,1155,1278,1435,1593,1861,2315,2623,3182,3350,3773,3995,4218,4615,5121,5243,5428,6329,6551,6734,7098,7236,7358,7587,7785,7930,8238,8962,9450,9573,10110,10758,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,515,515,577,701,893,1064,1187,1388,1564,1715,1891,2056,2186,2313,2654,2802,3407,3531,3711,3855,4064,4193,4459,4717,4960,5248,5393,5515,5778,5916,6060,6183,6307,6457,6789,6921,7050,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,500,500,583,781,1049,1275,1688,1961,2163,2346,2481,2745,2929,3335,3495,3706,4051,4222,4748,5111,5531,5707,6014,6269,6547,7004,7243,7494,7964,8162,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [87]:
combine_df = merged_df1[['match_id', 'league', 'season', 'year', 'team_name', 'red_or_blue_side', 'result',
                        'game_length', 'support_player', 'support_champ']]
combine_df.head()

,match_id,league,season,year,team_name,red_or_blue_side,result,game_length,support_player,support_champ
0,001a1f289e3bab22,LCK,Summer_Season,2015,ANC,blue,0,38,SnowFlower,Morgana
1,001a1f289e3bab22,LCK,Summer_Season,2015,CJE,red,1,38,Thresh,MadLife
2,001f50c8547e2e73,Season_World_Championship,International,2014,EDG,blue,1,37,Fzzf,Thresh
3,001f50c8547e2e73,Season_World_Championship,International,2014,AHQ,red,0,37,Blitzcrank,GreenTea
4,002f613ae09ad421,LMS,Spring_Season,2016,TPA,blue,1,30,Jay,Alistar

In [88]:
combine_df['type'] = 'support_gold'
combine_df.head()

C:\Users\Mike\Anaconda2\envs\py3DataScience\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,match_id,league,season,year,team_name,red_or_blue_side,result,game_length,support_player,support_champ,type
0,001a1f289e3bab22,LCK,Summer_Season,2015,ANC,blue,0,38,SnowFlower,Morgana,support_gold
1,001a1f289e3bab22,LCK,Summer_Season,2015,CJE,red,1,38,Thresh,MadLife,support_gold
2,001f50c8547e2e73,Season_World_Championship,International,2014,EDG,blue,1,37,Fzzf,Thresh,support_gold
3,001f50c8547e2e73,Season_World_Championship,International,2014,AHQ,red,0,37,Blitzcrank,GreenTea,support_gold
4,002f613ae09ad421,LMS,Spring_Season,2016,TPA,blue,1,30,Jay,Alistar,support_gold

In [89]:
cols = list(combine_df.columns.values)
cols = ['match_id',
 'league',
 'season',
 'year',
 'team_name',
 'red_or_blue_side',
 'result',
 'game_length',
        'player_name',
        'champion',
 'type']
combine_df.columns = cols
combine_df.head()

,match_id,league,season,year,team_name,red_or_blue_side,result,game_length,player_name,champion,type
0,001a1f289e3bab22,LCK,Summer_Season,2015,ANC,blue,0,38,SnowFlower,Morgana,support_gold
1,001a1f289e3bab22,LCK,Summer_Season,2015,CJE,red,1,38,Thresh,MadLife,support_gold
2,001f50c8547e2e73,Season_World_Championship,International,2014,EDG,blue,1,37,Fzzf,Thresh,support_gold
3,001f50c8547e2e73,Season_World_Championship,International,2014,AHQ,red,0,37,Blitzcrank,GreenTea,support_gold
4,002f613ae09ad421,LMS,Spring_Season,2016,TPA,blue,1,30,Jay,Alistar,support_gold

In [90]:
cols = list(combine_df.columns.values)
cols = ['match_id',  'league', 'season', 'year', 'team_name', 'red_or_blue_side', 'result', 'game_length', 'type',
 'player_name',  'champion']
combine_df = combine_df[cols]
combine_df.head()

,match_id,league,season,year,team_name,red_or_blue_side,result,game_length,type,player_name,champion
0,001a1f289e3bab22,LCK,Summer_Season,2015,ANC,blue,0,38,support_gold,SnowFlower,Morgana
1,001a1f289e3bab22,LCK,Summer_Season,2015,CJE,red,1,38,support_gold,Thresh,MadLife
2,001f50c8547e2e73,Season_World_Championship,International,2014,EDG,blue,1,37,support_gold,Fzzf,Thresh
3,001f50c8547e2e73,Season_World_Championship,International,2014,AHQ,red,0,37,support_gold,Blitzcrank,GreenTea
4,002f613ae09ad421,LMS,Spring_Season,2016,TPA,blue,1,30,support_gold,Jay,Alistar

In [91]:
gold_df1 = pd.merge(combine_df, expanded, left_index=True, right_index=True)
gold_df1.shape

(7604, 92)

In [93]:
gold_df1.to_csv('support_gold.csv')

In [115]:
frames = [gold_df_merged, gold_df1]
gold_df_merged = pd.concat(frames)
gold_df_merged.shape

(45624, 92)

In [116]:
gold_df_merged.type.value_counts()

jungle_gold     7604
total_gold      7604
mid_gold        7604
support_gold    7604
adc_gold        7604
top_gold        7604
Name: type, dtype: int64

### clean up

In [117]:
merged_df1.drop(['gold_value_per_min', 'top_gold_min', 'jungle_gold_min', 'mid_gold_min', 
                 'adc_gold_min', 'support_gold_min'], axis=1, inplace=True)
merged_df1.head()

,match_id,league,season,year,team_name,red_or_blue_side,result,game_length,top_player,top_champ,jungle_player,jungle_champ,mid_player,mid_champ,adc_player,adc_champ,support_player,support_champ,ban_1,ban_2,ban_3,ban_4,ban_5
0,001a1f289e3bab22,LCK,Summer_Season,2015,ANC,blue,0,38,ikssu,Hecarim,lira,Gragas,Mickey,Vladimir,Sangyoon,Sivir,SnowFlower,Morgana,'Azir','Shyvana','Jayce',NaN,NaN
1,001a1f289e3bab22,LCK,Summer_Season,2015,CJE,red,1,38,Shy,Rumble,Ambition,Sejuani,Coco,Cassiopeia,Space,Jinx,Thresh,MadLife,'Zed','Gnar','Kalista',NaN,NaN
2,001f50c8547e2e73,Season_World_Championship,International,2014,EDG,blue,1,37,Koro1,Maokai,Clearlove,Rengar,U,Zed,NaMei,Twitch,Fzzf,Thresh,'Fizz','LeeSin','TwistedFate',NaN,NaN
3,001f50c8547e2e73,Season_World_Championship,International,2014,AHQ,red,0,37,Prydz,Nidalee,NAZ,Khazix,westdoor,Talon,GarnetDevil,Lucian,Blitzcrank,GreenTea,'Ryze','Zilean','Alistar',NaN,NaN
4,002f613ae09ad421,LMS,Spring_Season,2016,TPA,blue,1,30,Morning,Trundle,REFRA1N,RekSai,FoFo,Lissandra,BeBe,Lucian,Jay,Alistar,'Corki','Gangplank','TahmKench',NaN,NaN

In [118]:
merged_df1.tail()

,match_id,league,season,year,team_name,red_or_blue_side,result,game_length,top_player,top_champ,jungle_player,jungle_champ,mid_player,mid_champ,adc_player,adc_champ,support_player,support_champ,ban_1,ban_2,ban_3,ban_4,ban_5
7599,ffee707e7f60869a,LMS,Spring_Season,2016,HKE,red,0,43,MapleSnow,Malphite,Dinter,Gragas,Rokenia,Zed,GodKwai,Corki,Alistar,Olleh,'Nidalee','Kindred','Thresh',NaN,NaN
7600,ffeff6e4c32e9fd0,LCK,Spring_Season,2015,JAG,blue,0,41,TrAce,Maokai,Chaser,JarvanIV,GBM,Karthus,Pilot,Graves,Chei,Annie,'Leblanc','Rumble','Anivia',NaN,NaN
7601,ffeff6e4c32e9fd0,LCK,Spring_Season,2015,SKT,red,1,41,MaRin,Hecarim,Bengi,Sejuani,Faker,Vladimir,Bang,Kalista,Thresh,Wolf,'Lulu','RekSai','Xerath',NaN,NaN
7603,fff9913c8be5e3fd,LCK,Spring_Season,2017,kt,blue,1,45,Smeb,Shen,Score,Khazix,Pawn,Syndra,Deft,Caitlyn,Mata,Zyra,'Malzahar','LeeSin','Varus','Cassiopeia','Taliyah'
7602,fff9913c8be5e3fd,LCK,Spring_Season,2017,JAG,red,0,45,ikssu,Maokai,UmTi,Elise,Kuzan,Corki,Teddy,Ashe,MissFortune,SnowFlower,'Leblanc','Camille','Rengar','Ryze','Jayce'

In [119]:
gold_df_merged.fillna(value=np.nan, inplace=True)

gold_df_merged.head()

,match_id,league,season,year,team_name,red_or_blue_side,result,game_length,type,player_name,champion,min_0,min_1,min_2,min_3,min_4,min_5,min_6,min_7,min_8,min_9,min_10,min_11,min_12,min_13,min_14,min_15,min_16,min_17,min_18,min_19,min_20,min_21,min_22,min_23,min_24,min_25,min_26,min_27,min_28,min_29,min_30,min_31,min_32,min_33,min_34,min_35,min_36,min_37,min_38,min_39,min_40,min_41,min_42,min_43,min_44,min_45,min_46,min_47,min_48,min_49,min_50,min_51,min_52,min_53,min_54,min_55,min_56,min_57,min_58,min_59,min_60,min_61,min_62,min_63,min_64,min_65,min_66,min_67,min_68,min_69,min_70,min_71,min_72,min_73,min_74,min_75,min_76,min_77,min_78,min_79,min_80
0,001a1f289e3bab22,LCK,Summer_Season,2015,ANC,blue,0,38,total_gold,N/A,N/A,2415,2430,2751,3929,5219,6418,8156,9520,10681,12036,13678,15590,16782,18417,20052,21608,23396,24248,25691,27452,30446,31672,33665,36399,37571,38659,39757,41498,42861,44378,45719,47095,48551,49524,51200,52518,53247,53893,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,001a1f289e3bab22,LCK,Summer_Season,2015,CJE,red,1,38,total_gold,N/A,N/A,2415,2415,2705,4062,5279,7322,8661,10372,11444,13260,14676,15723,18119,19663,21237,22809,24997,28072,30162,31469,32490,34362,36662,37981,39398,40331,41652,44239,45948,47134,49334,51052,52586,53374,55245,56618,62198,62846,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,001f50c8547e2e73,Season_World_Championship,International,2014,EDG,blue,1,37,total_gold,N/A,N/A,2415,2415,2705,3817,4956,6132,7499,8605,9942,11434,13028,15942,17653,19941,21320,23236,24835,26384,29350,32365,33752,35258,39070,40973,42591,45637,46672,48001,49458,51181,52245,54233,58476,61061,62324,65435,69584,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,001f50c8547e2e73,Season_World_Championship,International,2014,AHQ,red,0,37,total_gold,N/A,N/A,2415,2415,2705,3728,5048,6306,7308,8536,9689,11072,12952,13978,15289,16639,18575,19558,22343,23318,24585,25342,26616,27778,29198,30997,32647,34549,35535,36591,38024,39272,40585,41883,42547,43836,45798,46951,47804,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,002f613ae09ad421,LMS,Spring_Season,2016,TPA,blue,1,30,total_gold,N/A,N/A,2500,2500,2785,4216,6193,7618,9674,11203,13004,14497,15653,17089,19084,20938,22437,24228,27072,28475,31466,34244,37178,39046,41074,42978,44964,48148,49707,51624,54594,56268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [120]:
gold_df_merged.to_csv('gold_df_merged.csv')
merged_df1.to_csv('merged_df.csv')

In [ ]:
merged_df1.tail()

In [ ]:
len(merged_df1)

In [ ]:
merged_df1.sort_values(['match_id', 'red_or_blue_side'], inplace=True)

In [ ]:
merged_df1.tail()